
/*==============================*\
		  &PAGE-CONTAINER
\*==============================*/
#page-container{
	width: 100%;
	height: 100%;
	margin-top: 73px;
}

.small-profile-pic{
	height: 148px;
	float: left;
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 30px;
}
.account-container{
	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	/*float: left;*/
	width: 100%;
	-webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
-moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
}
.account-header{
	border-bottom: 1px solid #D0D0D0;
	padding: 10px 10px 10px 20px;
	background-color: #f7f7f7;
	overflow: hidden;
	border-radius: 7px 7px 0 0;
}
.account-container .user-name-wrapper{
	float: left;;
	margin-left: 20px;
}
.account-settings{
	padding: 10px 10px 20px 20px;
}
.content{
	padding: 10px 10px 10px 10px;
}
.sub-content1{
	float: left;
	margin-right: 150px;
}
.sub-content2 {
  float: left;
}
.logout, .admin-button {
	float: right;
	padding-top: 6px;
	margin-left: 30px;
	font-size: 14px;
}
.mobile-logout{
	display: none;
}
.admin-button{
	display: none;
}
.accountNav {
  width: 75%;
  margin: 20px auto;
  padding-top: 23px;
  overflow: auto;
}
.backNav {
  float: left;
  position: relative;
}
.backNav-mobile{
	display: none;
}
.backNav span {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 16px;
	position: relative;
	width: 188px;
	bottom: 7px;
	left: 10px;
	color: #353535;
}
.account-settings li{
	margin-bottom: 10px;
}
/*==================================*\
			&ACCORDION
\*==================================*/
ul.accordion-content li {
  display: inline-block;
  padding: 20px;
}
.accordion-header{
	/*border-bottom: 1px solid #ADADAD;*/
	border-top: 1px solid #ADADAD;
	padding-left: 20px;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}
.accordion-header h4{
	font-family: 'BrandonGrotesque-bold';
	font-weight: normal;
}
.accordion-header h4:nth-child(2){
	font-family: 'BrandonGrotesque-Light';
	font-weight: normal;
}
.accordion-content{
	display: none;
}
.row{
	display: table;
	border-spacing: 10px 10px;
	border-collapse: separate;
}
.accordion-subcontent{
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}
.accordion-subcontent:first-child,.accordion-subcontent:nth-child(2){
	width: 15%;
}
.accordion-subcontent:nth-child(3){
	width: 20%;
}
.accordion-subcontent:nth-child(4){
	width: 25%;
}
.order-head{
	font-weight: bold;
	color: #000;
	float: left;
	width: 100%;
}
.order-content{
	float: left;
	padding-top: 15px;
}
.order-content span{
	width: 100%;
	float: left;
}

/*==================================*\
			&FORM
\*==================================*/
.account-wrapper{
	width: 75%;
	margin: 0 auto;
	/*overflow: auto;*/
}
form.form{
	width: 60%;
	padding-left: 20px;
}
form.gift-cardform{
	width: 45%;
}
form.gift-cardform .redeem {
	padding-left: 20px;
  padding-top: 20px;
}
.first-name,.last-name,.phone-num,.redeem{
	max-width: 270px;
	/* float: left; */
	position: relative;
	width: 100%;
}
.notify,.update-button {
  width: 100%;
  /*float: left;*/
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
 .notify input[type="checkbox"]{
 	float: left;
 }
 .changepassword-container{
 	padding: 20px 0px 20px 0px;
 }
 .changepassword-container .update-button{
 	padding-left: 0px;
 	padding-top: 20px;
 }
 #change-password .password{
	padding-top: 15px;
 }
 #changecontact-container,#changeemail-container,#changepassword-container {
	max-width: 400px;
	width: 90%;
	float: left;
}
/*==================================*\
			&email-form
\*==================================*/
.new-email,.retype-email,.password{
	max-width: 280px;
	position: relative;
	width: 100%;
}
span.body-text-small{
	padding: 10px 20px;
	float: left;
}
.notify span.body-text-small{
	padding: 0;
}

/*==================================*\
			&GIFTCARD PAGE
\*==================================*/
.giftcard-buttons {
  width: 100%;
  padding: 20px 0px 100px 20px;
}
.redeem-button {
	float: left;
  padding-right: 35px;
}

/*==================================*\
			&EDIT-CONTACT
\*==================================*/
#change-contact{
	width: 65%;
  /* float: left; */
  padding-top: 20px;
}
#change-contact .phone-num,.last-name{
	padding-top: 10px;

}
#change-contact .phone-num .arrange{
	max-width: 270px;
	width: 100%;
}
#change-contact .notify,.update-button{
	padding-left: 0px;
}
/*==================================*\
			&CHANGE-EMAIL
\*==================================*/
#change-email span.body-text-small{
	padding-left: 0px;
	width: 357px;
}
#change-email{
	padding-top: 20px;
}
#change-email .retype-email{
	padding-top: 15px;
}

/*==================================*\
			&CHANGE-ADDRESS
\*==================================*/
div#editaddress-container {
  margin-top: 10px;
  margin-bottom: 20px;
}
#editaddress-container .account-header{
	font-size: 14px;
	font-family: 'BrandonGrotesque-Bold';
	padding: 10px 0 10px 20px; 
}
#editaddress-container .content{
	 font-family: 'ProximaNova-regular';
	 font-size: 12px;
	 color: #9B9B9B;
	 width: 100%;
	 float: left;
	 min-height: 100px;
}
ol{
	padding-left: 20px;
	font-weight: bolder;
}
.content .address{
	min-height: 160px;
	width: 33.33%;
	float: left;
	padding: 2px 32px 6px 9px;
	list-style: initial;
	list-style-type: decimal;
}
.address-content{
	width: 150px;
	float: left;
	max-height: 140px;
	font-weight: normal;
}
/*ol li{
	list-style-type: decimal;
}*/
#editaddress-container .content ol li span{
	width: 100%;
	float: left;
	padding: 6px 0;

}
#editaddress-container .content ol li span:last-child{
	cursor: pointer;
	font-family: 'BrandonGrotesque-Bold';
	padding-top: 20px;
	width: 240px;
}
#editaddress-container .content ol li span:nth-child(5){
	font-family: 'BrandonGrotesque-Bold';
	padding-top: 20px;
	width: 240px;
}
.green{
	color:#A9D77B;
}
.address .button{
	width: 100px;
	float: right;
	font-weight: normal;
}
.address .edit-button,.remove-button{
	float: right;
}
.button-changeaddress{
	width: 100%;
	clear: both;
	padding-left: 24px;
	padding-bottom: 20px;
}
.button-changeaddress .btn:last-child{
	margin-left: 20px;
}
.non-primary-address, .primary-address{
	display: none;
}
#editaddress-container .content .message{
	display: none;
	text-align: center;
}
#editaddress-container .content .message span{
	font-family: 'BrandonGrotesque-Regular';
	font-size: 18px;
	color: #A9D77B;	

}
.check-box-container{
	float: right;
}
/*==================================*\
			&PROFILE-PICTURE
\*==================================*/
.profile-pic-container{
	width: 100%;
	padding-bottom: 20px;
    margin-top: 30px;
}
.profile-pic-container span{
	border-spacing: 40px 10px;
	font-family: 'ProximaNova-regular';
	font-size: 12px;
	color: #9B9B9B;
	float: left;
	padding: 10px 0 35px 0;
}
.profile-pic{
	position: relative;
	width: 20%;
	float: left;
}
.profile-pic img{
    max-width:100% !important;
    height:auto;
    display:block;
}
.choose-pic-overlay{
	position: absolute;
	bottom: 1px;
	width: 100%;
	color: rgb(228, 215, 215);
	background-color: gray;
	text-align: center;
	font-family: 'BrandonGrotesque-Regular';
	cursor: pointer;
	display: none;
	z-index: 100;
}
.profile-pic:hover .choose-pic-overlay {
	display: block;
}
.upload-image-container{
	float: left;
	display: block;
	width: 25%;
	margin-left: 50px;
}
.upload-image-container h4:first-child{
	line-height: 15px;
}
.upload-image-container h4:nth-child(2){
	padding-top: 45px;
	color:#9b9b9b;
}
.upload-file-container{
	padding: 20px 0px;
}

.addresspopup-wrapper{
	display: none;
}
.addresspopup {
  position: absolute;
  top: 40%;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index:99999;
  border-radius: 3px;
}
img.popup-close{
	width: 60px;
	height: 60px;
}
.fileUpload {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.fileUpload input{
	cursor: pointer;
	font-size: 100px;
	-moz-opacity: 0.01;
	opacity: 0.01;
	position: absolute;
	right: 0;
	top: 0;
}
.upload-button{
	background: #ddd;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px;
	color: #000 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 11px !important;
	font-weight: bold;
	margin-right: 5px;
	padding:7px 20px !important;
}
/*.fileUpload span:first-child{
	position: absolute;
	top: 6px;
	color: #000;
	font-size: 12px;
	font-family: 'ProximaNova-Regular';
	width: 100%;
	text-align: center;
	padding: 0;
}*/
.fileUpload span:nth-child(2){
	width: 125px;
	margin-left: 106px;
	margin-top:  -18px;
	padding: 0;
	color: #000;
}
/*==================================*\
			$ADDRESS-POPUP
\*==================================*/
.addresspopup .header{
	width: 100%;
	background-color: #F7F7F7;
	color: #000;
	font-family: 'BrandonGrotesque-Bold';
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}
.addresspopup .container {
  width: 100%;
  text-align: center;
  padding-top: 23px;
}
input.popup-input {
  width: 100%;
  padding: 7px;
  border: 1px solid;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  height: 30px;
}
input.checkbox{
	width: auto;
	margin: 0;
	margin-right: 5px;
}
.checkbox-span{
  font-family: 'ProximaNova-regular';
  font-size: 12px;
  color: #9B9B9B;
}
.addaddress-popup .button{
	padding: 10px 0;
}

.addaddress-popup .forminput-wrapper select option{
	background-color: #F7F7F7;
}
form.addaddress-popup {
  width: 83%;
  margin: 0 auto;
}
.section1,.section2,.section3,.section4{
	width: 100%;
	float: left;
}
.primary-wrapper{
	width: 75px;
	height: 20px;
	margin-top: -5px;
	float: right;
}
.section1 .forminput-wrapper{
	position: relative;
	 width: 157px;
	float: left;
	margin-bottom: 10px;
}
.section1 .forminput-wrapper:first-child{
	margin-right: 16px;
}
.forminput-wrapper label{
	text-align: left;
	width: auto;
}
#cancel{
	float: right;
	cursor: pointer;
}
.section2 .forminput-wrapper:first-child{
	margin-bottom: 12px;
	position: relative;
}
.section2 .forminput-wrapper:nth-child(2){
	margin-bottom: 12px;
	position: relative;
}
.section3 .forminput-wrapper select{	 
  padding: 7px;
  outline: none;
  font-family: 'ProximaNova-regular';
  color: #9B9B9B;
  cursor: pointer;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 14px !important;
}
.section3 .forminput-wrapper:nth-child(2){
	width: 180px;
	float: left;
	position: relative;
}
.section3 .forminput-wrapper:first-child{
	width:  134px;
	float: left;
	margin-right: 16px;
	position: relative;
}
.section3{
	margin-bottom: 12px;
}
.section4 .forminput-wrapper:nth-child(2){
	width: 174px;
	float: left;
	position: relative;
	
}
.section4 .forminput-wrapper:first-child{
	width: 140px;
	float: left;
	margin-right: 16px;
	position: relative;
}
.addresspopup .button {
  float: left;
  /* width: 100%; */
  /* padding: 10px 30px; */
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.styled-select select {
  background: transparent !important;
  width: 268px !important;
  padding: 5px !important;
  font-size: 16px !important;
  line-height: 1;
  border: 0 !important;
  border-radius: 0 !important;
  height: 34px;
  -webkit-appearance: none !important;
}
.styled-select {
	width: 180px;
	height: 30px;
	overflow: hidden;
	background: url(../images/selector_arrow.png) no-repeat 157px 6px #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.section3 .forminput-wrapper .styled-select-state{
	width: 134px;
	height: 30px;
	overflow: hidden;
	background: url(../images/selector_arrow.png) no-repeat 111px 6px #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.styled-select-state select{
	background: transparent !important;
	width: 268px !important;
	padding: 5px !important;
	font-size: 16px !important;
	line-height: 1;
	border: 0 !important;
	border-radius: 0 !important;
	height: 34px;
	-webkit-appearance: none !important;
	appearance:none !important;
	-moz-appearance:none!important;
}
/*==================================*\
			&CHECHOUT PAGE
\*==================================*/
.checkout-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}
.delivery-time-container {
  border:1px solid #D0D0D0;
  border-radius: 4px;
  float: left;
  width: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  margin-bottom: 20px;
}
.delivery-info-container{
	border:1px solid #D0D0D0;
	border-radius: 4px;
	float: left;
	width: 80%;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	-moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	display: none;
}
.receipt-container{
	border:1px solid #D0D0D0;
	border-radius: 4px;
	float: right;
	width: 19%;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	-moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
	position: relative;
}
.receipt-container .caption{
	position: absolute;
	bottom: -46px;
	font-size: 10px;
	line-height: 16px;
}
.delivery-info-guest-container{
	border:1px solid #D0D0D0;
	border-radius: 4px;
	display: block;
	float: left;
	width: 80%;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  	-moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  	box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  	margin-bottom: 30px;
}
.checkout-header {
  border-radius: 4px 4px  0 0;
  font-family: 'BrandonGrotesque-Bold';
  font-weight: normal;
  padding: 10px 0;
  padding-left: 20px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d0d0d0;
  color:dimgrey;
  font-size: 16px;
}
.checkout-header span{
	padding-left: 2%;
}
.checkout-header span:nth-child(2){
	 padding-left: 190px;
	/*width: 60%;*/
	/*padding-left: 5%;*/
}
.contents {
	width: 100%;
	padding: 0% 3%;
}
.time-content,.week-content{
	width: 36%;
	padding: 10px 0;
}
.checkout-time-button {
	padding: 9px 0px;
	font-family: 'ProximaNova-semibold';
	color: #b0b0b0;
	border: hidden;
	border-radius: 3px;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px #d0d0d0;
	width: 50px;
	margin-bottom: 10px;
	font-size: 12px;
}
.checkout-time-button:hover {
	background-color: #A9D77B;
	color: #fff;
}
.content-heading {
	font-family: 'BrandonGrotesque-Bold';
	color: #b0b0b0;
	width: 100%;
	float: left;
	padding-bottom: 10px;
	font-size: 14px;
}
.order-list-container{
	width: 64%;
	float: right;
	padding: 10px 0 0 10px;
}
.order-list-header .content-heading{
	width: 100px;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.order-list-items {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.order-list-items img {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 4px;
}
.order-list-items .body-text-small {
	padding: 0;
	padding: 5px 0px;
	padding-left: 10px;
	width: 47%;
}
.order-list-header  .content-heading:first-child{
	margin-right: 37%;
	text-align: left;
}
.order-list-header  .content-heading:nth-child(3){
	margin-right: 0;
	text-align: center;
}
.order-list-items .body-text-small {
	padding: 0;
	padding: 5px 0px;
	padding-left: 10px;
	width: 243px;
	margin-right: 40px;
}
.order-list-items input {
	width: 30px;
	padding: 5px 0px;
	text-align: center;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	background-color: #f7f7f7;
}
span.operator {
	color: #b0b0b0;
	font-weight: bold;
	padding: 0 5px;
}
.quantity-container {
  width: 76px;
  float: left;
  margin-right: 57px;
}
.price-container{
	font-family: 'BrandonGrotesque-Bold';
	color: #b0b0b0;
}
.address-info,.payment-method-container {
  width: 250px;
  font-family: 'ProximaNova-Regular';
  color: #b0b0b0;
  font-size: 12px;
  padding: 20px 0;
  float: left;
  position: relative;
  min-height: 190px;
}
.address-info span{
	width: 100%;
	float: left;
	line-height: 20px;
}
.address-info span:last-child,.payment-method-container span:last-child{
	font-family: 'BrandonGrotesque-Regular';
	font-size: 14px;
	/* padding-top: 20px; */
	/* float: left; */
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 20px;
}
.payment-method-container{
	margin-left: 70px;
}
.payment-method-container img{
	float: left;
}
.payment-method-container .body-text-small{
	padding: 0;
	float: left;
	line-height: 12px;
	padding-left: 10px;
}
#guest-address-info{
	width: 100%;
	float: left;
}
.delivery-info-guest-container .address-info{
	width: 47%;
	padding-left: 20px;
}
.delivery-info-guest-container .address-info .content-heading{
	font-family: 'ProximaNova-semibold';
}
#guest-address-info .section3 .forminput-wrapper{
	float: left;
	width: 125px;
}
#guest-address-info .section3 .forminput-wrapper:nth-child(2){
	margin-right: 16px;
}
#guest-address-info .section3 .forminput-wrapper .styled-select{
	width: 125px;
  	background: url(../images/selector_arrow.png) no-repeat 110px 6px #f7f7f7;
}
#guest-address-info .section1 .forminput-wrapper{
	width: 195px;
}
.payment-method-guest-container {
	width: 50%;
	float: left;
	padding: 20px 10px 20px 80px;
}
.pay-container {
	padding-top: 30px;
	width: 300px;
}
.pay-container .forminput-wrapper{
	float: left;
}
.pay-container .forminput-wrapper:first-child{
	width: 214px;
	float: left;
}
.pay-container .forminput-wrapper:nth-child(2){
	width: 70px;
	margin-left: 16px;
}
.pay-container .forminput-wrapper:nth-child(3){
	padding-top: 20px;
	width: 98px;
}
.pay-container .forminput-wrapper:nth-child(3) .styled-select{
	background-position: 78px 6px;
}
.pay-container .div{
	width: 10px;
	float: left;
	padding-top: 49px;
	font-size: 18px;
	color: #b0b0b0;
	margin-right: 1px;
	margin-left: 5px;
}
.pay-container .forminput-wrapper:nth-child(5){
	padding-top: 43px;
	width: 70px;
	margin-right: 16px;
}
.pay-container .forminput-wrapper:nth-child(5) .styled-select{
	background-position: 52px 6px;
}
.pay-container .forminput-wrapper:nth-child(6){
	padding-top: 20px;
	width: 100px;
}
.pay-container .forminput-wrapper .styled-select{
	width: 100%;
}
.receipt-container .checkout-header{
	padding-left: 5%;
}
.items-container .inner-content span:nth-child(2){
	font-weight: bold;
	float: right;
}
.items-container,.driver-tip-container,
.gift-card-container,.total-container,.instruction-container{
	padding: 2% 5%;
	overflow: hidden;
}
.driver-tip-container .styled-select{
	background: url(../images/selector_arrow.png) no-repeat 57px 6px #f7f7f7;
	width: 75px;
	float: left;
} 
.driver-tip-container select{
	font-family: 'ProximaNova-Regular';
	color: #b0b0b0;
	font-weight: bold;
}
.driver-tip-container .inner-content span{
	float: right;
	font-weight: bold;
}
.gift-card-container hr{
	border:0;
	height: 1px;
	background-color: #d0d0d0;
	float: left;
	width: 100%;
}
.total-container{
	font-family: 'BrandonGrotesque-Bold';
}
.total-container span:nth-child(2){
	float: right;
}
input#driver-description {
	padding: 20px 10px;
	background-color: #f7f7f7;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
}
.instruction-container .btn{
	margin-top: 20px;
  	margin-bottom: 20px;
}
::-webkit-input-placeholder { 
	color:#b0b0b0;
	font-size: 10px; 
	text-align: center;
}
/*==================================*\
			&TABLET
\*==================================*/
@media only screen and (min-width: 768px)and (max-width:1024px){
	.sub-content1 {
		float: left;
		margin-right: 3%;
	}
	.sub-content2 {
		float: right;
		margin-right: 5%;
	}
}
/*==================================*\
			&MOBILE
\*==================================*/
@media (min-width: 320px)and (max-width:767px){
	span.icon-menu{
		display: none;
	}
	.account-main-page span.icon-menu{
		display: block;
	}
	.backNav{
		display: none;
	}
	.backNav-mobile{
		display: block;
	}
	.backNav-mobile span:first-child {
		float: left;
		margin-top: 8px;
		padding-left: 20px;
	}
	.backNav-mobile span:nth-child(2) {
		font-family: 'BrandonGrotesque-Bold';
		font-size: 16px;
		color: #353535;
		float: left;
		margin-top: 6px;
		/* padding-left: 0px; */
		margin-left: 13px;
	}
	.account-wrapper{
		width: 100%;
	}
	#changecontact-container, #changeemail-container, #changepassword-container {
		float: none;
		margin: 0 auto;
	}
	.sub-content1 , .sub-content2{
		float: none;
		margin: 0px;
	} 
	.account-settings{
		text-align: center;
	}
	.logout{
		display: none;
	}
	#change-email span.body-text-small{
		width: 300px;
	}
	form.form {
		width: 90%;
	}
	#change-contact{
		width: 90%;
	}
	.mobile-logout{
		display: block;
	}
	.user-name-wrapper h2{
		font-size: 16px;
	}
	.account-container{
		margin: 0 auto;
  		max-width: 400px;
	}
  	#editaddress-container{
		width: 90%;
		margin: 0 auto;
		max-width: 400px;
	}
  	.content .address{
  		width: 100% !important;
  	}
  	.address-content{
  		font-family: 'ProximaNova-regular';
		font-size: 15px;
		padding-top: 0px;
		margin-top: -8px;
  	}
  	.button-changeaddress{
  		padding-top: 30px;
  		text-align: center;
  		padding-left: 0px;
  	}
	.account-profpic-container {
		width: 100%;
		float: left;
		text-align: center;
	}
	.small-profile-pic{
		float: none;
	}
	.account-settings li{
		color:#A9D77B;
	}	
	#editaddress-container .content ol li span:last-child{
		width: 300px;
	}
	.accordion-subcontent{
		display: block;
	}
	.accordion-subcontent:first-child,.accordion-subcontent:nth-child(2){
		width: 50%;
		float: left;
	}
	.accordion-subcontent:nth-child(3),.accordion-subcontent:nth-child(4){
		width: 100%;
		margin-top: 30px;
		float: left;
	}
	.account-container{
		width: 90%;
		margin-bottom: 20px;
	}
	.delivery-time-container,.delivery-info-guest-container{
		width: 100%;
	}
	.receipt-container {
		float: left;
		max-width: 400px;
		width: 90%;
	}
  	@media only screen and (max-width:400px){
  		.address-content{
  			font-size: 12px;
  		}
  		.content .address{
  			padding-right: 10px;
  		}
  		#editaddress-container .content ol li span:last-child{
  			font-size: 11px;
  		}
  		.btn-large-primary, .btn-large-extended, .btn-large-secondary{
  			min-width: 0px;
  			padding: 0 15px;
  			font-size: 14px;
  		}
  		.button-changeaddress .btn:last-child{
  			margin-left: 2px;
  		}
	}
