
/*==============================*\
		  &PAGE-CONTAINER
\*==============================*/
#page-container{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 73px;
}
.account-container{
	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	margin-top: 40px;
	float: left;
	width: 100%;
	box-shadow: 0 0 7px rgb(202, 202, 202);
}
.account-header{
	border-bottom: 1px solid #D0D0D0;
	padding: 10px 10px 10px 20px;
	background-color: #f7f7f7;
	border-radius: 7px 7px 0 0;
}
.account-settings{
	padding: 10px 10px 150px 20px;
}
.content{
	padding: 10px 10px 10px 10px;
}
.sub-content1{
	float: left;
	margin-right: 150px;
}
.logout, .admin-button {
	float: right;
	padding-top: 6px;
	margin-left: 30px;
	font-size: 14px;
}
.admin-button{
	display: none;
}
.accountNav {
  width: 75%;
  margin: 0 auto;
  padding-top: 23px;
  overflow: auto;
}
.backNav {
  float: left;
  position: relative;
}
.backNav span {
  font-family: 'BrandonGrotesque-Regular';
  font-size: 18px;
  position: relative;
  width: 188px;
  bottom: 7px;
  left: 10px;
}
.account-settings li{
	margin-bottom: 10px;
}
/*==================================*\
			&ACCORDION
\*==================================*/
ul.accordion-content li {
  display: inline-block;
  padding: 20px;
}
.accordion-header{
	border-bottom: 1px solid #ADADAD;
	border-top: 1px solid #ADADAD;
	padding-left: 20px;
	cursor: pointer;
}
.accordion-content{
	display: none;
}
.row{
	display: table;
	border-spacing: 10px 10px;
	border-collapse: separate;
}
.accordion-subcontent{
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}
.order-head{
	font-weight: bold;
	color: #000;
	float: left;
	width: 100%;
}
.order-content{
	float: left;
	padding-top: 15px;
}
.order-content span{
	width: 100%;
	float: left;
}

/*==================================*\
			&FORM
\*==================================*/
.account-wrapper{
	width: 75%;
	margin: 0 auto;
	overflow: auto;
}
form.form{
	width: 60%;
	padding-left: 20px;
}
.first-name,.last-name,.phone-num,.redeem{
	width: 270px;
	float: left;
	position: relative;
}
.notify,.update-button {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
 .notify input[type="checkbox"]{
 	float: left;
 }
 .changepassword-container{
 	padding: 20px 0px 20px 0px;
 }
 .changepassword-container .update-button{
 	padding-left: 0px;
 	padding-top: 20px;
 }
 #change-password .password{
 	padding-top: 15px;
 }
 #changecontact-container,#changeemail-container,#changepassword-container {
  width: 400px;
}
/*==================================*\
			&email-form
\*==================================*/
.new-email,.retype-email,.password{
	width: 280px;
	position: relative;
}
span.body-text-small{
	padding: 10px 20px;
	float: left;
}
.notify span.body-text-small{
	padding: 0;
}

/*==================================*\
			&GIFTCARD PAGE
\*==================================*/
.giftcard-buttons {
  float: left;
  width: 100%;
  padding: 20px 0px 100px 20px;
}
.redeem-button {
  float: left;
  padding-right: 35px;
}

/*==================================*\
			&EDIT-CONTACT
\*==================================*/
#change-contact{
	width: 65%;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
#change-contact .phone-num,.last-name{
	padding-top: 10px;

}
#change-contact .phone-num .arrange{
	width: 270px;
}
#change-contact .notify,.update-button{
	padding-left: 0px;
}
/*==================================*\
			&CHANGE-EMAIL
\*==================================*/
#change-email span.body-text-small{
	padding-left: 0px;
	width: 357px;
}
#change-email{
	padding-top: 20px;
}
#change-email .retype-email{
	padding-top: 15px;
}

/*==================================*\
			&CHANGE-ADDRESS
\*==================================*/
div#editaddress-container {
  margin-top: 10px;
}
#editaddress-container .account-header{
	font-size: 14px;
	font-family: 'BrandonGrotesque-Bold';
	padding: 10px 0 10px 20px; 
}
#editaddress-container .content{
	display: table;
	 border-spacing: 40px 10px;
	 font-family: 'ProximaNova-regular';
	 font-size: 12px;
	 color: #9B9B9B;
	 list-style-type: decimal;

}
#editaddress-container .content .tablerow{
	display: table-row;
	padding-bottom: 20px;
}
#editaddress-container .content ol li{
	display: table-cell;
	list-style-type: decimal;
	letter-spacing: 1px;
	vertical-align: top;
}
#editaddress-container .content ol li span{
	width: 150px;
	float: left;
	padding: 8px 0;

}
#editaddress-container .content ol li span:last-child{
	font-family: 'BrandonGrotesque-Bold';
	color:#A9D77B;
	padding-top: 20px;
	width: 240px;
}
.address .button{
	width: 100px;
	float: right;
}
.address .edit-button,.remove-button{
	float: right;
}
.button-changeaddress{
	padding-left: 50px;
	padding-bottom: 10px;
}
.button-changeaddress .btn:last-child{
	margin-left: 20px;
}

/*==================================*\
			&PROFILE-PICTURE
\*==================================*/
.profile-pic-container{
	float: left;
	width: 100%;
}
.profile-pic-container span{
	border-spacing: 40px 10px;
	font-family: 'ProximaNova-regular';
	font-size: 12px;
	color: #9B9B9B;
}
.profile-pic{
	position: relative;
	width: 25%;
	float: left;
}
.profile-pic img{
    max-width:100% !important;
    height:auto;
    display:block;
}
.choose-pic-overlay{
	position: absolute;
	bottom: 1px;
	width: 100%;
	color: rgb(228, 215, 215);
	background-color: gray;
	text-align: center;
	font-family: 'BrandonGrotesque-Regular';
	cursor: pointer;
	display: none;
	z-index: 100;
}
.profile-pic:hover .choose-pic-overlay {
	display: block;
}
.upload-image-container{
	float: left;
	display: block;
	width: 25%;
	margin-left: 50px;
}
.upload-file-container{
	padding: 20px 0px;
}