/*Checbox Select Giftcard*/

.giftcard-selector-checkbox {
    width: 25%;
}

.giftcard-amount {
    width: 75%;
    text-align: center;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 1px;
    color: #394543;
    margin-top: 7px;
}

.giftcard-amount span:nth-child(1) {
    font-size: 24px;
}

.giftcard-amount span:nth-child(2) {
    font-size: 16px;
}

.giftcard-select-amount > div:last-of-type {
    margin-right: 0px
}

.giftcard-selector {
    cursor: pointer;
    overflow: hidden;
    float: left;
    border: 1px solid #ddd;
    width: 21.25%;
    margin: 30px 5% 30px 0;
    border-radius: 3px;
    padding: 15px 20px;
}

#custom-amount {
    position: relative;
}

.giftcard-custom-amount input::-webkit-outer-spin-button,
.giftcard-custom-amount input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.giftcard-custom-amount {
    padding: 20px 0;
}

.giftcard-custom-amount span {
    padding: 0 10px;
}

.giftcard-custom-amount input {
    height: 35px;
    width: 140px;
    padding: 0px 17px;
    border: 1px solid #ddd;
}

.giftcard-selected {
    background-color: #CBE5B0;
    border: 1px solid rgb(137, 171, 134);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.giftcard-selector-checkbox label {
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

.giftcard-selector-checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
}

.giftcard-selector-checkbox input[type=checkbox] {
    display: none;
}

.giftcard-selector-checkbox input[type=checkbox]:checked + label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: center url(../images/checkbox_tick.png) no-repeat;
    background-color: #A9D77B;
    border-color: #FFF;
    color: #F7EBEB;
}

#giftcards-wrapper {
    width: 100%;
    float: left;
    min-height: 100%;
    margin-bottom: -143px;
    background-color: #F9FAF7;
    background-size: cover;
}

#giftcards-wrapper:after {
    height: 143px;
    content: "";
    float: left;
    width: 100%;
}

.giftcard-container {}

.giftcard-flow-recipient {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #9B9B9B;
}

.giftcard-flow-amount,
.giftcard-flow-recipient {
    float: left;
    width: 100%;
}

.recipient-form {
    position: relative;
    width: 49%;
    float: left;
}

.recipient-name-form {
    margin-right: 2%;
}

.forminput-wrapper textarea {
    width: 100%;
    height: 55px;
    margin-left: 0px;
    margin-right: 0px;
    resize: none;
    font-family: 'ProximaNova-regular';
    color: #9B9B9B;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #D0D0D0;
    padding: 8px;
    background-color: #fff;
}

.giftcard-banner {
    max-height: 300px;
    overflow: hidden;
    margin-top: 100px;
    height: 250px;
    position: relative;
}

.giftcard-banner img {
    height: auto;
    width: 100%;
    margin-top: -70px;
}

.giftcard-select-amount {
    padding: 50px 0;
}

.logo-banner {
    left: 50%;
    position: absolute;
    margin-left: -110px;
    width: 220px;
    top: 65%;
    margin-top: -77.5px;
    text-align: center;
}
.gift-card-details-container {
    width: 100%;
    float: left;
}
.payment-amount-container{
    padding:30px 30%;
    width: 100%;
    float:left;
    font-family: 'BrandonGrotesque-bold';
    margin-top: 50px;
    
}
.payment-amount-container .row{
    padding-bottom: 20px;
    color: #5a5a5a;
    font-size: 16px;
    padding-left: 10px;
}
.payment-amount-container .row span:nth-child(2){
    padding-left: 20%;
}
.payment-amount-container .row:first-child{
    color: #9B9B9B;
    font-size: 14px;
}
.logo-banner img{
    width: 40px;
    height: 60px;
}
.logo-banner hr{
    width: 50%;
}
.logo-banner hr,.payment-amount-container hr,hr{
    height: 1px;
    border: 0;
    background-color: #9b9b9b;
    width: 100%;
    display: block;
}
.payment-amount-container hr{
    background-color: #9B9B9B;
}
.details-main-header {
    font-family: 'BrandonGrotesque-bold';
    font-size: 24px;
    color: #394543;
    letter-spacing: 1px;
    padding: 20px 0;
}

.details-sub-header {
    font-family: 'BrandonGrotesque-bold';
    color: #5a5a5a;
    padding: 20px 0;
    letter-spacing: 1px;
    font-size: 18px;
}

.details {
    padding-left: 30px;
    width: 40%;
    letter-spacing: 1px;
    float: left;
}

.details-label {
    font-family: 'ProximaNova-semibold';
    color: #1a1a1a;
    font-size: 14px;
    text-align: left;
}

.row {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.row span {
    width: 50%;
    float: left;
}

.details-content {
    font-family: 'ProximaNova-semibold';
    color: #5a5a5a;
    font-size: 14px;
}

.details-foot {
    font-family: 'BrandonGrotesque-bold';
    color: #9b9b9b;
    font-size: 12px;
    padding-top: 20px;
    float: left;
    width: 50%;
    cursor: pointer;
}

.giftcard-select-amount p,
.giftcard-flow-header p {
    font-family: 'BrandonGrotesque-Regular';
    font-size: 24px;
    letter-spacing: 1px;
    color: #394543;
}

.forminput-wrapper label {
    text-align: left;
    width: auto;
    width: 100%;
}

input.popup-input {
    width: 100%;
    padding: 7px;
    border: 1px solid;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #FFF;
    height: 35px;
}

.giftcard-form-container {
    width: 65%;
    margin-left: 10%;
    float: left;
}

.giftcard-form-container .form-message,.payment-container-guest {
    width: 100%;
    float: left;
    margin-top: 30px;
    position: relative;
}

#recipient-message-error {
    top: 0;
    height: 15px;
}

#recipient-name-error,
#recipient-email-error,
#recipient-message-error,
#giftcard-custom-amount-error{
    background-color: #F9FAF7
}

.giftcard-flow-header {
    padding: 30px 0;
}

.giftcard-message {
    padding: 0 10px;
    float: left;
    width: 25%;
}

.giftcard-message-inner {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-bottom: 40px;
}

.giftcard-container .body-text-small {
    font-size: 12px;
    color: #6B6B6B;
    letter-spacing: 0.5px;
}
.proceed-checkout-container {
    text-align: center;
    padding: 40px 0;
    width: 100%;
    display: inline-block;
}


/*payment-method-guest*/
.section1,.section2,.section3{
    width: 100%;
    float: left;
}
.section1 .forminput-wrapper{
    width:48%;
}
.section1 .forminput-wrapper:first-child{
    margin-right: 4%;
}
.forminput-wrapper{
    float: left;
}
.section2 .forminput-wrapper:first-child{
    margin-bottom: 10px;
    width: 100%;
}
.your-info-container{
    width: 40%;
    float: left;
    padding-left: 30px;
}
.payment-info-container{
    width: 45%;
  float: left;
  padding-left: 10%;
}
.pay-by-credit-container .forminput-wrapper:first-child{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.pay-by-credit-container .forminput-wrapper:nth-child(2) {
  float: left;
  width: 68%;
}
.pay-by-credit-container .forminput-wrapper:nth-child(3) {
  width: 28%;
  margin-left: 4%;
}
.pay-by-credit-container .forminput-wrapper:nth-child(4) {
  padding-top: 20px;
  width: 30%;
}
.pay-by-credit-container .div {
  width: 4%;
  float: left;
  padding-top: 49px;
  font-size: 18px;
  color: #b0b0b0;
  text-align: center;
}
.pay-by-credit-container .forminput-wrapper:nth-child(6) {
  padding-top: 43px;
  width: 28%;
  margin-right: 4%;
}
.pay-by-credit-container .forminput-wrapper:nth-child(7) {
  padding-top: 20px;
  width: 34%;
}
.pay-by-credit-container .forminput-wrapper {
  float: left;
  position: relative;
}
.pay-by-credit-container select {
  font-size: 12px !important;
  color: #b0b0b0;
}
.pay-by-credit-container .forminput-wrapper .styled-select {
  width: 100%;
}
.styled-select select {
  background: transparent !important;
  width: 268px !important;
  padding: 5px !important;
  font-size: 16px !important;
  line-height: 1;
  border: 0 !important;
  border-radius: 0 !important;
  height: 34px;
  -webkit-appearance: none !important;
}
.styled-select {
  width: 180px;
  height: 35px;
  overflow: hidden;
  background: url(../images/selector_arrow.png) no-repeat 157px 6px #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.pay-by-credit-container .forminput-wrapper:nth-child(4) .styled-select, 
.pay-by-credit-container .forminput-wrapper:nth-child(6) .styled-select {
  background-position: 97% 50%;
}
.content-heading {
  font-family: 'BrandonGrotesque-Bold';
  color: #6b6b6b;
  width: 100%;
  float: left;
  padding-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.accepted-cards-wrapper {
  padding-bottom: 30px;
}
.payment-method{
    width: 60%;
    float: left;
    margin-top: 20px;
    padding-left: 10%;
}
input[type=radio],.saved-card-list img,.payment-popup-sub-container img{
    float: left;
    margin-right:20px; 
}
.payment-popup-sub-container img{
    margin-right: 8px;
}
.saved-card-list label,.payment-popup-sub-container label{
    width: 80%;
}
.saved-card-list label span,.payment-popup-sub-container label span{
    padding: 0;
  float: left;
  line-height: 12px;
  width: 73%;
}
.saved-card-list {
  width: 100%;
  float: left;
  padding: 10px 0;
}
.saved-cards{
    margin: 20px 0;
    max-height: 100px;
    overflow-y: auto;
}
.button-container{
    text-align: center;
    padding:20px 0; 
}
.address-payment-list-popup{
    display: none;
}
.address-payment-list-popup .popup{
    width: 64%;
    margin-left: -32%;
    height: auto;
    top: 50%;
    min-height: 260px;
}
.address-payment-list-popup .header{
    font-family: 'BrandonGrotesque-Bold';
    color: #000;
    background-color: #f7f7f7;
    padding-left: 20px;
    letter-spacing: 1px;
    padding-top: 12px;
    padding-right: 20px;
}
.address-payment-list-popup .button{
    padding-left: 20px;
    float: left;
}
.address-payment-list-popup .button #cancel{
    float: left;
    margin-left: 20px;
}
.payment-popup-sub-container{
    width: 33%;
    float: left;
    padding-bottom: 20px;
}
@media (max-width: 1366px) {
    .privacy-terms-heading {
        font-size: 45px;
    }
}

@media (min-width: 320px)and (max-width: 767px) {
    #giftcards-wrapper {
        background-color: #FCFDF9;
        background-image: none;
        border: none;
        overflow-x: hidden;
    }
}
