/*Checbox Select Giftcard*/
.backNav{
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 1px;
    font-size: 24px;
    position: relative;
    padding-top: 10px;
}
.backNav a{
    position: absolute;
}
.backNav span{
    padding-left: 30px;
}
.giftcard-selector-checkbox {
    width: 30%;
    display: table-cell;
    vertical-align: middle;
}

.giftcard-amount {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 1px;
    color: #394543;
    margin-top: 7px;
}

.giftcard-amount span:nth-child(1) {
    font-size: 24px;
}

.giftcard-amount span:nth-child(2) {
    font-size: 16px;
}

.giftcard-select-amount > div:last-of-type {
    margin-right: 0px
}

.giftcard-selector {
    cursor: pointer;
    display: table;
    overflow: hidden;
    float: left;
    border: 1px solid #ddd;
    width: 21.25%;
    margin: 30px 5% 30px 0;
    border-radius: 3px;
    padding: 15px 20px;
}
.giftcard-container .styled-select{
    background: url(../images/selector_arrow.png) no-repeat 157px 6px #fff;
}
#custom-amount {
    position: relative;
}
#custom-amount .body-text-small{
    float: left;
    padding-top: 10px;
}
.giftcard-custom-amount input::-webkit-outer-spin-button,
#edit-recipient-details input::-webkit-outer-spin-button,
.giftcard-custom-amount input::-webkit-inner-spin-button,
#edit-recipient-details input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.giftcard-custom-amount {
    padding: 20px 0;
}

.giftcard-custom-amount span {
    padding-top: 8px;
    padding-right: 10px;
    float: left !important;
    text-align: left;
}

.giftcard-custom-amount input {
    height: 35px;
    width: 170px;
    padding: 0px 17px;
    border: 1px solid #ddd;
    -moz-appearance:textfield;
    -webkit-appearance: none;
    color: #6B6B6B;
    font-family: 'BrandonGrotesque-medium';
    font-size: 14px;
}

.giftcard-selected {
    background-color: #CBE5B0;
    border: 1px solid rgb(137, 171, 134);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.giftcard-selector-checkbox label {
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

.giftcard-selector-checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
}

.giftcard-selector-checkbox input[type=checkbox] {
    display: none;
}

.giftcard-selector-checkbox input[type=checkbox]:checked + label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: center url(../images/checkbox_tick.png) no-repeat;
    background-color: #A9D77B;
    border-color: #FFF;
    color: #F7EBEB;
}

#giftcards-wrapper {
    width: 100%;
    float: left;
    min-height: 100%;
    margin-bottom: -143px;
    background-color: #F9FAF7;
    background-size: cover;
}

#giftcards-wrapper:after {
    height: 143px;
    content: "";
    float: left;
    width: 100%;
}

.giftcard-container {}

.giftcard-flow-recipient {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #9B9B9B;
}

.giftcard-flow-amount,
.giftcard-flow-recipient {
    float: left;
    width: 100%;
}

.recipient-form {
    position: relative;
    width: 49%;
    float: left;
}

.recipient-name-form {
    margin-right: 2%;
}

.forminput-wrapper textarea {
    width: 100%;
    height: 55px;
    margin-left: 0px;
    margin-right: 0px;
    resize: none;
    font-size: 16px !important;
    color: #6B6B6B;
    font-family: 'BrandonGrotesque-medium';
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #D0D0D0;
    padding: 8px;
    background-color: #fff;
}

.giftcard-banner {
    max-height: 300px;
    background: url(../images/giftcard_bg.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    margin-top: 100px;
    height: 250px;
    position: relative;
    background-image: url(../images/giftcard_bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.giftcard-select-amount {
    padding: 50px 0;
}

.logo-banner {
    left: 50%;
    position: absolute;
    margin-left: -110px;
    width: 220px;
    top: 65%;
    margin-top: -77.5px;
    text-align: center;
}

.gift-card-details-container {
    width: 100%;
    float: left;
}

.payment-amount-container {
    padding: 30px 30%;
    width: 100%;
    float: left;
    font-family: 'BrandonGrotesque-bold';
    margin-top: 50px;
}

.payment-amount-container .row {
    padding-bottom: 20px;
    color: #5a5a5a;
    font-size: 16px;
    padding-left: 10px;
}

.payment-amount-container .row span:nth-child(2) {
    padding-left: 20%;
}

.payment-amount-container .row:first-child {
    color: #9B9B9B;
    font-size: 14px;
}

.logo-banner img {
    width: 40px;
    height: 60px;
}

.logo-banner hr {
    width: 50%;
}

.logo-banner hr,
.payment-amount-container hr,
hr {
    height: 1px;
    border: 0;
    background-color: #9b9b9b;
    width: 100%;
    display: block;
    float: left;
}

.payment-amount-container hr {
    background-color: #9B9B9B;
}

.details-main-header {
    font-family: 'BrandonGrotesque-bold';
    font-size: 24px;
    color: #394543;
    letter-spacing: 1px;
    padding: 20px 0;
}

.details-sub-header {
    font-family: 'BrandonGrotesque-bold';
    color: #5a5a5a;
    padding: 20px 0;
    letter-spacing: 1px;
    font-size: 18px;
}

.details {
    padding-left: 30px;
    width: 40%;
    letter-spacing: 1px;
    float: left;
}

.details-label {
    font-family: 'ProximaNova-semibold';
    color: #1a1a1a;
    font-size: 14px;
    text-align: left;
}

.row {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.row span {
    width: 50%;
    float: left;
}

.details-content {
    font-family: 'ProximaNova-semibold';
    color: #5a5a5a;
    font-size: 14px;
}

.details-foot {
    font-family: 'BrandonGrotesque-bold';
    color: #9b9b9b;
    font-size: 12px;
    padding-top: 20px;
    float: left;
    width: 50%;
    cursor: pointer;
}

.giftcard-select-amount p,
.giftcard-flow-header p {
    font-family: 'BrandonGrotesque-Regular';
    font-size: 24px;
    letter-spacing: 1px;
    color: #394543;
}

.forminput-wrapper label {
    text-align: left;
    width: auto;
    width: 100%;
}

input.popup-input {
    width: 100%;
    padding: 7px;
    border: 1px solid;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #FFF;
    height: 35px;
    font-size: 16px !important;
    color: #6B6B6B;
    font-family: 'BrandonGrotesque-medium';
}
::-webkit-input-placeholder {
    font-family: 'BrandonGrotesque-medium';
    color: #9B9B9B;
}

:-moz-placeholder {
    /* Firefox 18- */
    
    font-family: 'BrandonGrotesque-medium';
    color: #9B9B9B;
}

::-moz-placeholder {
    /* Firefox 19+ */
    
    font-family: 'BrandonGrotesque-medium';
    color: #9B9B9B;
}

:-ms-input-placeholder {
    font-family: 'BrandonGrotesque-medium';
    color: #9B9B9B;
}

.giftcard-form-container {
    width: 65%;
    margin-left: 10%;
    float: left;
}

.giftcard-form-container .form-message,
.payment-container-guest {
    width: 100%;
    float: left;
    margin-top: 30px;
    position: relative;
}

#recipient-message-error {
    top: 0;
    height: 15px;
}

#recipient-name-error,
#recipient-email-error,
#recipient-message-error,
#giftcard-custom-amount-error {
    background-color: #F9FAF7
}

.giftcard-flow-header {
    padding: 30px 0;
}

.giftcard-message {
    padding: 0 10px;
    float: left;
    width: 25%;
}

.giftcard-message-inner {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-bottom: 40px;
}

.giftcard-container .body-text-small {
    font-size: 12px;
    color: #6B6B6B;
    letter-spacing: 0.5px;
}

.proceed-checkout-container {
    text-align: center;
    padding: 40px 0;
    width: 100%;
    display: inline-block;
}
/*payment-method-guest*/

.section1,
.section2,
.section3 {
    width: 100%;
    float: left;
}

.section1 .forminput-wrapper {
    width: 48%;
}

.section1 .forminput-wrapper:first-child {
    margin-right: 4%;
}

.forminput-wrapper {
    float: left;
    position: relative;
}

.section2 .forminput-wrapper:first-child {
    margin-bottom: 10px;
    width: 100%;
}

.your-info-container {
    width: 40%;
    float: left;
    padding-left: 30px;
    display: none;
}

.payment-info-container {
    width: 45%;
    float: left;
    padding-left: 10%;
    display: none;
}

.pay-by-credit-container .forminput-wrapper:first-child {
    float: left;
    width: 100%;
}

.pay-by-credit-container .forminput-wrapper:nth-child(2) {
    float: left;
    width: 68%;
    padding-top: 20px;
}

.pay-by-credit-container .forminput-wrapper:nth-child(3) {
    width: 28%;
    margin-left: 4%;
    padding-top: 20px;
}

.pay-by-credit-container .forminput-wrapper:nth-child(4) {
    padding-top: 20px;
    width: 30%;
}

.pay-by-credit-container .div {
    width: 4%;
    float: left;
    padding-top: 49px;
    font-size: 18px;
    color: #b0b0b0;
    text-align: center;
}

.pay-by-credit-container .forminput-wrapper:nth-child(6) {
    padding-top: 43px;
    width: 28%;
    margin-right: 4%;
}

.pay-by-credit-container .forminput-wrapper:nth-child(7) {
    padding-top: 20px;
    width: 34%;
}

.pay-by-credit-container .forminput-wrapper {
    float: left;
    position: relative;
}

.pay-by-credit-container select {
    font-size: 12px !important;
    color: #b0b0b0;
}

.pay-by-credit-container .forminput-wrapper .styled-select {
    width: 100%;
}

.styled-select select {
    background: transparent !important;
    width: 100%;
    padding: 5px !important;
    border: 0 !important;
    border-radius: 0 !important;
    height: 34px;
    -webkit-appearance: none !important;
    color: #6B6B6B;
    font-family: 'BrandonGrotesque-medium';
}

.styled-select {
    width: 180px;
    height: 35px;
    overflow: hidden;
    background: url(../images/selector_arrow.png) no-repeat 157px 6px #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pay-by-credit-container .forminput-wrapper:nth-child(4) .styled-select,
.pay-by-credit-container .forminput-wrapper:nth-child(6) .styled-select {
    background-position: 97% 50%;
}

.content-heading {
    font-family: 'BrandonGrotesque-Bold';
    color: #6b6b6b;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.accepted-cards-wrapper {
    padding-bottom: 30px;
}

.payment-method {
    width: 60%;
    float: left;
    margin-top: 20px;
    padding-left: 10%;
    display: none;
}

input[type=radio],
.saved-card-list img,
.payment-popup-sub-container img {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.payment-popup-sub-container img {
    margin-right: 8px;
}

.saved-card-list label,
.payment-popup-sub-container label {
    width: 80%;
}

.saved-card-list label span,
.payment-popup-sub-container label span {
    padding: 0;
    float: left;
    line-height: 12px;
    width: 73%;
}

.saved-card-list {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.saved-cards {
    margin: 20px 0;
    max-height: 100px;
    overflow-y: auto;
}

.button-container {
    text-align: center;
    padding: 20px 0;
}

.address-payment-list-popup {
    display: none;
}

.address-payment-list-popup .popup {
    width: 64%;
    height: auto;
    min-height: 200px;
}

.address-payment-list-popup .header {
    font-family: 'BrandonGrotesque-Bold';
    color: #000;
    background-color: #f7f7f7;
    padding-left: 20px;
    letter-spacing: 1px;
    padding-top: 12px;
    padding-right: 20px;
}

.address-payment-list-popup .button {
    padding-left: 20px;
    float: left;
    position: relative;
}

.address-payment-list-popup .button #cancel {
    float: left;
    margin-left: 20px;
}

.payment-popup-sub-container {
    width: 33%;
    float: left;
    padding-bottom: 20px;
}

#pay-form .button-container {
    float: left;
}

.giftcard-popup-wrapper,.mobile-hr {
    display: none;
}

.giftcardpopup {
    position: fixed;
    top: 40%;
    width: 400px;
    left: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 999999;
    border-radius: 3px;
    -ms-transform: translate(-50%,-40%);
    -moz-transform:translate(-50%,-40%);
    -webkit-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);

}

.giftcardpopup .header {
    width: 100%;
    background-color: #F7F7F7;
    color: #000;
    font-family: 'BrandonGrotesque-Bold';
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
}

.giftcardpopup .container {
    width: 100%;
    text-align: center;
    padding-top: 23px;
}

#cancel {
    float: right;
    cursor: pointer;
}

form.addgiftcard-popup {
    width: 83%;
    margin: 0 auto;
    padding: 10px 0;
}
form#edit-recipient-details input.popup-input{
    color: #000;
}

.addgiftcard-popup .section1,
.addgiftcard-popup .section2 {
    width: 100%;
    float: left;
}
.fullWidth-hr{
    margin-bottom: 30px;
}

.loading-indicator{
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: none;
}
.loading-indicator .loader{
    top: 40%;
    left: 50%;
    position: fixed;
    -ms-transform: translate(-50%,-40%);
    -moz-transform:translate(-50%,-40%);
    -webkit-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);
}

@media (max-width: 1366px) {
    .privacy-terms-heading {
        font-size: 45px;
    }
}

@media (min-width: 320px)and (max-width: 767px) {
    #giftcards-wrapper {
        background-color: #FCFDF9;
        background-image: none;
        border: none;
        overflow-x: hidden;
    }
    .details-main-header{
        font-size: 16px;
    }
    header#header{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .giftcard-banner{
        height: 290px;
        margin-top: 0px;
    }
    .giftcard-banner img{
        height: 300px;
        margin-top: 0px;
    }
    .h0{
        font-size: 24px;
    }
    .logo-banner hr{
        display: none;
    }
    .logo-banner img{
        height: auto;
    }
    .details-sub-header,.row,.have-account,
    .giftcard-custom-amount{
        text-align: center;
    }
    .gift-card-details-container,
    .payment-info-container,.details,.payment-method,
    .your-info-container,.your-info-container .forminput-wrapper{
        width: 100% !important;
        padding: 0;
    }
    .payment-info-container,.your-info-container{
        margin-bottom: 35px;
    }
    .payment-container-guest,.details-foot,.payment-popup-sub-container{
        width: 100% !important;
    }

    .giftcard-container{
        padding: 0 40px;
    }
    .accepted-cards-wrapper{
        padding-top: 25px;
    }
    .mobile-hr{
        border:0;
        height: 1px;
        background-color: #9B9B9B;
        display: block;
    }
    .details-sub-header{
        padding-bottom: 5px;
        font-size: 12px;
    }
    .logo-banner hr,hr,
    .payment-amount-container .row:first-child{
        display: none;
    }
    .payment-amount-container,.your-info-container .forminput-wrapper,
    .giftcard-form-container .forminput-wrapper{
        padding: 0;
        margin-bottom: 10px !important;
        margin-top: 0px;
    }
    .details-label,.saved-card-list,
    .have-account,.forminput-wrapper .body-text-small{
        font-size: 10px;
    }
    .have-account{
        margin-top: 20px;
    }
    .saved-card-list img,
    .payment-popup-sub-container img {
        margin-right: 0;
    }
    .saved-card-list .body-text-small,.payment-popup-sub-container .body-text-small{
        padding-left: 10px;
        font-size: 10px;
    }
    .btn-large-primary{
        font-size: 12px;
    }
    .payment-amount-container .row span:nth-child(2){
        padding-left: 0px;
    }
    .your-info-container .section3 .forminput-wrapper{
        width: 50% !important;
    }
    img.accepted-cards{
        width: 10%;
    }
    .giftcard-selector{
        width: 46%;
        margin: 0;
        margin-top: 20px;
        padding: 5px 5px;
    }
    img.checkbox-image{
        height: 30px;
    }
    .giftcard-selector:nth-child(2),
    .giftcard-selector:nth-child(4){
        margin-right: 2% !important;
    }
    .giftcard-selector:nth-child(3),
    .giftcard-selector:nth-child(5){
        margin-left: 2% !important;
    }
    .giftcard-custom-amount,
    .giftcard-custom-amount span.body-text-small,
    .giftcard-form-container .forminput-wrapper,
    .giftcard-message,.giftcard-form-container{
        width: 100%;
        float: left;
        margin: 0;
    }
    .giftcard-custom-amount span.body-text-small{
        text-align: center;
        padding-right: 0px;
    }
    .giftcard-custom-amount .forminput-wrapper{
        float: none;
        width: 150px;
        margin:  0 auto;
    }
    #giftcard-custom-amount-error{
        left: 0px;
    }
    .giftcard-message-inner{
        position: initial;
        padding:0;
        text-align: center;
        margin-top: 20px;
    }
    .giftcard-flow-recipient{
        padding-bottom: 0px;
        border-bottom: none;
    }
    .giftcard-select-amount p, .giftcard-flow-header p{
        font-size: 16px;
    }
    .giftcard-amount span:nth-child(1){
        font-size: 14px;
    }
    .giftcard-amount span:nth-child(2),.body-text-small,.details-content{
        font-size: 10px !important;
    }
    .giftcard-custom-amount input {
        font-size: 12px;
        height: 35px;
        width: 132px;
        text-align: center;
    }
    .proceed-checkout-container{
        padding-top: 20px;
    }
    .details-content{
        text-align: left;
    }
    .popup-sub-wrapper {
        height: 200px;
        overflow-y: auto;
        max-height: 102px;
    }
    .popup .button .btn{
        height: 35px;
        min-width: 100px;
        line-height: 35px;
    }
    .address-payment-list-popup .header{
        letter-spacing: .3px;
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .address-payment-list-popup .popup{
        width: 90%;
        margin-left: -45%;
    }
}