.tab-container {
	bottom: 0;
	height: 73px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	font-family: 'BrandonGrotesque-bold';
	color: #6b6b6b;
	font-size: 13px;
	z-index: 99;
	position: fixed;
}
.tab-container  ul {
  height: 73px;
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.tab-container  ul li {
	display: inline-block;
	width: 19%;
	text-align: center;
}
.tab-container  ul li a{
	padding: 27px 20px;
	display: inline-block;
}
.tab-container  ul li a:hover{
	border-top: 4px solid #A9D77B;
	padding: 23px 20px;
}
.activeli{
	border-top: 4px solid #A9D77B;
	padding: 23px 20px !important;
}
.image-wrapper{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
}
#you-cook .image-wrapper{
	background-image: url('../images/how_it_works/banner1.jpg');
}
#what-you-get .image-wrapper{
	background-image: url('../images/how_it_works/banner2.jpg');
}
#we-source .image-wrapper{
	background-image: url('../images/how_it_works/banner3.jpg');
}
#our-suppliers .image-wrapper{
	background-image: url('../images/how_it_works/banner4.jpg');
}
#we-inspire .image-wrapper{
	background-image: url('../images/how_it_works/banner2.jpg');
}
#we-deliver .image-wrapper{
	background-image: url('../images/how_it_works/banner6.jpg');
}
#we-prep .image-wrapper{
	background-image: url('../images/how_it_works/banner5.jpg');
}
.contentWrapper {
	width: 50%;
	top: 20%;
	position: absolute;
	left: 10%;
}
#what-you-get .contentWrapper {
	left: 50%;
}
.contentWrapper .h0{
	color: #6b6b6b;
	font-size: 50px;
}
.box-contentWrapper {
	border: 1px solid rgb(208, 208, 208);
	box-shadow: rgb(208, 208, 208) 0px 0px 4px;
	border-radius: 5px;
	width: 77%;
	background-color:rgba(255, 255, 255, 0.85);
	padding: 20px;
}
.box-contentWrapper h3{
	font-weight: normal;
	padding-bottom: 10px; 
}
.button-container {
	padding-top: 20px;
	padding-bottom: 10px;
	overflow: hidden;
}
.caption{
	padding-top:20px;
	color: #9b9b9b;
}
.text-input {
	background-color: rgba(255, 255, 255);
	padding: 10px 0px;
	opacity: 1;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	margin-right: 10px;
	width: 28%;
	padding-left: 10px;
}
.socialMedia{
	float: left;
	margin: 0;
	margin-right: 5px;
}
.socialMedia-links{
	display: inline-block;
	padding-right: 20px;
}
#instagram{
	margin-left: 20px;
}
#we-source-container,#you-cook-container{
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}
#we-source,#you-cook{
	left: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}
#our-suppliers,#what-you-get{
	left: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
}
#our-suppliers .contentWrapper{
	width: 80%;
}
#we-source .h0,#our-suppliers .h0{
	color: #fff;
}
#our-suppliers .contentWrapper .box-contentWrapper{
	width: 100%;
}
.left-arrow{
	background-image: url(../images/Arrow.png);
	-ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
	position: absolute;
	top: 50%;
	left: 20px;
	height: 60px;
	width: 37px;
	cursor: pointer;
}
.right-arrow{
	background-image: url(../images/Arrow.png);
	position: absolute;
	top: 50%;
	right: 20px;
	height: 60px;
	width: 37px;
	cursor: pointer;
}
.sub-tab-container{
	height: 60px;
	width: 100%;
	font-size: 12px;
	font-family: 'BrandonGrotesque-Regular';
	border-bottom: 1px solid #d0d0d0;
	color: #9b9b9b;
}
.sub-tab-container  ul {
 	width: 97%;
 	margin: 0 auto;
}
.sub-tab-container  ul li {
	display: inline-block;
	text-align: center;
}
.sub-tab-container  ul li a{
	padding: 21px 20px;
	display: inline-block;
}
.sub-tab-container  ul li a:hover{
	border-bottom:  4px solid #A9D77B;
	padding: 17px 20px;
}
.sub-contentWrapper {
  width: 50%;
  padding: 20px 0 0 20px;
}

.sub-imageWrapper {
	background-image: url(../images/how_it_works/suppliers.png);
}
#our-suppliers .box-contentWrapper{
	padding: 0;
	min-height: 340px;
}
.subactiveli{
	color: #6b6b6b;
	font-family: 'BrandonGrotesque-bold';
	border-bottom:  4px solid #A9D77B;
	padding: 17px 20px !important;
}
.sub-imageWrapper {
	background-image: url(../images/how_it_works/suppliers.png);
	position: absolute;
	top: 80px;
	width: 40%;
	height: 240px;
	background-size: cover;
	background-position: 50% 50%;
	right: 20px;
	border-radius: 4px;
}
.our-suppliers-tab{
	position: relative;
}
.sub-contentWrapper .caption{
	padding-top: 0;
	color: #dddddd;
}
.sub-contentWrapper img{
	padding-right: 10px;
}
#roamimg-acres,
#blue-ribbon-fish,
#plantation,
#common-thread-farm{
	display: none;
}