@charset "UTF-8";
/*==============================*\
			&CONTENTS
\*==============================*/
/*
SLIDER-FOOTER
SLIDER
*/
/*==============================*\
			&slider-footer
\*==============================*/
/*Footer is Unique to the slider as it differs from the other common footers */

#slider-footer {
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    height: 175px;
    background: #fff;
}

#slider-footer ul {
    text-align: center;
    margin: 0;
}

#slider-footer ul li {
    display: inline-block;
    font-family: 'ProximaNova-semibold';
    font-size: 12px;
    cursor: pointer;
}

#slider-footer ul li a {
    margin: 0 40px 0 0;
    color: #9B9B9B;
}

.footer-links {
    text-align: center;
}
/*==============================*\
			&SLIDER
\*==============================*/

#main-slider-wrapper {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    min-height: 100%;
}
/*==============================*\
		&Section what is
\*==============================*/

#section-what-is {
    background: url(../images/homepageslider/homepage_1.jpg) 0% 50% no-repeat;
    background-position: fixed;
    padding: 6% 0 0 0;
    background-size: cover;
    text-align: center;
}

#section-what-is .main-header {
    font-family: 'BrandonGrotesque-Medium';
    font-size: 40px;
    letter-spacing: 2.5px;
    color: #6B6B6B;
}

#section-what-is .sub-header {
    font-family: 'BrandonGrotesque-Regular';
    font-size: 18px;
    letter-spacing: 1px;
    color: #6B6B6B;
}

.main-header-container {
    padding: 30px 0;
}

.sub-header-container {
    padding-bottom: 20px;
}

#section-what-is .slide-description {
    background-color: white;
    max-width: 700px;
    border-radius: 5px;
    margin: 0 auto;
}

.outer-slide-description {
    padding: 10px;
    background-color: rgb(244, 244, 244);
    max-width: 720px;
    margin: 0 auto;
    border-radius: 5px;
}

#section-what-is .btn {
    margin-bottom: 30px;
    padding: 0 40px;
}
/*====================================*\
		&Section what to expect
\*====================================*/

/*==============================*\
			&Section 3
\*==============================*/
#section3{
	background: url(../images/homepageslider/map_banner.jpg) center top no-repeat;
	background-position: fixed;
	padding: 6% 0 0 0;
	background-size: cover;
}
/*==============================*\
			&Section 4
\*==============================*/

#zip-code {
    width: 130px;
    height: 45px;
    text-align: center;
    margin-top: -4px;
    padding: 0px 10px;
    margin-right: 5px;
    color: #9B9B9B;
}
input#zip-code[type="text"] {
    font-size: 16px;
    font-family: 'BrandonGrotesque-Light';
    text-transform: uppercase;
}
img#cancel,
img#close {
    float: right;
    padding: 14px 17px 0px 0px;
    cursor: pointer;
}
.delivery-area-check-popup {
    display: none;
}
.delivery-area-check-popup .popup-zip-fail {
    height: auto;
    position: fixed;
    width: 400px;
    background-color: #fff;
    top: 40%;
    left: 50%;
    z-index: 999999;
    border-radius: 4px;
    -ms-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}
.delivery-area-check-popup .popup-zip-fail .button {
    position: initial;
    float: left;
}
.delivery-area-check-popup .username-wrapper {
    padding-bottom: 20px;
    width: 100%;
    float: left;
}
label#zip-code-error {
    background-color: none;
    background: none;
    bottom: 51px;
}
label#username-error {
    bottom: 120px;
    left: 5px;
    width: 60%;
}
