/*==============================*\
			&LOGIN
\*==============================*/

#login-container{
  width: 100%;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  float: left;
  background-image:  url(../images/bg.jpg);
  min-height: 100%;
}
.login-wrapper{
	  margin: 0 auto;
  border: 1px solid #D0D0D0;
  width: 400px;
  overflow: auto;
  background-color: #fff;
  margin-top: 100px;
  -webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
-moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
}
.login-wrapper h3{
	color: #6B6B6B;
}
.header-small{
  border-bottom: 1px solid #D0D0D0;
  height: 46px;
  padding-left: 35px;
  background-color: #f7f7f7;
  color: #454545;
  padding-top: 10px;
  border-radius: 4px 4px 0 0 ;
}
#login-form{
  padding-left: 35px;
  width: 100%;
  float: left;
  padding-top: 30px;
}
.username-wrapper, .password-wrapper{
  width: 100%;
  float: left;
  padding-right: 20px;
  position: relative;
}
.password-wrapper{
  margin-top: 10px;
}
.username-wrapper input, .password-wrapper input{
  width: 60%;
}
.fb-signupButton img{
  
}
span.forgot-password{
  margin: 10px 0px;
  float: left;
}
/*==================================*\
      &SIGNUP
\*==================================*/
.signup-wrapper{
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
.signup-container{
  background-color: #ffffff;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
}
.fb-signupButton{
  margin-top: 10px;
}
.facebook-signup,.facebook-login{
  font-family: 'BrandonGrotesque-Bold';
  font-size: 12px;
  padding: 20px 0 10px 35px;
  color: #737475;
}
span.login-link {
  color: #A9D77B;
  padding-left: 10px;
  }
span.or {
  color: #5A5555;
  padding-left: 35px;
  font-family: 'BrandonGrotesque-Bold';
  padding-bottom: 30px;
}
form.signup-formcontainer {
  padding-left: 35px;
  width: 100%;
  float: left;
  padding-top: 30px;
}
.signup-input {
  width: 164px;
  float: left;
  padding-right: 20px;
  position: relative;
}
.email-wrapper {
  padding:10px 0px; 
  float: left;
}
.login-button{
  width: 100%;
  float: left;
  /*padding: 10px 0px 20px 0px;*/
  padding: 10px 0;
}
.email-wrapper .signup-input:nth-child(2){
  margin-top: 10px;
}
.email-wrapper .signup-input{
    width: 235px;
}

/*==================================*\
      &RESET PASSWORD
\*==================================*/
.forgotpassword-container,.resetsuccess-container,.resetpassword-container,.signupfail-container{
  background-color: #ffffff;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  margin-top: 40px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
  box-shadow: 0px 4px 15px -4px rgba(117,117,117,1);
}
#forgotpassword-form,.resetpassword-form{
  float: left;
  width: 100%;
  padding-top: 35px;
}
.forgotpassword-container .content,.resetpassword-container .content,.resetsuccess-container .content,.signupfail-container .content{
  float: left;
  padding: 35px 0px 35px 35px;
}

.reset-input{
  width: 90%;
  position: relative;
}
.forgot-button,.reset-button{
  width: 100%;
  float: left;
  padding-top: 35px;
}
span.heading {
  font-family: 'BrandonGrotesque-bold';
  font-size: 12px;
}
.content span.caption{
  padding-top: 3px;
}

#resetpassword-form .reset-input{
  width: 240px;
  padding-top: 10px;
}
form#resetpassword-form {
  padding-top: 20px;
}
.reset-wrapper,.forgot-wrapper,.signupfail-wrapper{
  width: 400px;
  margin: 0 auto;
}
.signupfail-container .content .caption{
  padding: 20px 0;
}
.signupfail-container .content .caption span{
      float: left;
      width: 100%;
      padding-top:2px;
  }
  .signupfail-container .content .heading{
    font-size: 16px;
    font-family: "BrandonGrotesque-Regular"
  }
