/*checkbox */

.filter-drop-down label {
    cursor: pointer;
    position: relative;
    padding-left: 35px;
}

.filter-drop-down label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
}

.filter-drop-down input[type=checkbox] {
    display: none;
}

.filter-drop-down input[type=checkbox]:checked + label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: center url(../images/checkbox_tick.png) no-repeat;
    background-color: #969696;
    color: #F7EBEB;
}
/*==============================*\
            &MENU
\*==============================*/
.menu-offer{
    height: 40px;
    text-align: center;
    background-color: #58825A;
    font-family: 'BrandonGrotesque-bold';
    font-size: 14px;
    color: #fbfbfb;
    padding-top: 10px;
    letter-spacing: 1px;
    display: none;
}
#share-now{
    padding-left: 30px;  
    cursor: pointer;
    text-decoration: underline;
}
#header{
    position: relative !important;
    border-bottom: 1px solid #ededed;
}
.meal-area{
    overflow: auto;
    padding-bottom: 40px;
}
.menu-header{
    padding: 20px 0;
}

.menu-header h1{
    color: #6B6B6B;
    font-size: 24px;
}
.menu-header h2{
    color: #6B6B6B;
}
.fixedMenu {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}
#mainWrapper{
	background-color: #fff;
	background-image: none !important;
}
.menu-wrapper{
	background-color: #E7E7E7;
	background-image: url(../images/inner_bg.jpg);
	background-size: cover;
}
.subMenu.body-text-bold{
	font-size: 12pt;
    /*margin-top: 101px;*/
	font-family: 'BrandonGrotesque-Regular';
}

.subMenu {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ededed;
    background-color: white;
    background-repeat-x: inherit;
    color: #6B6B6B;
    box-shadow: 0 0 3px #b0b0b0;
    border-top: 1px solid #ededed;
    display: none;
}
.removeItemButton {
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid #8EC657;
  line-height: 25px;
  float: right;
  padding: 0 0px;
  margin: 0;
  margin-bottom: .5em;
  min-width: 30px;
  cursor: pointer;
  font-family: 'BrandonGrotesque-bold';
  display: none;
  background-color: #a9d77b;
  border-radius: 3px;
  color: #fff;
}
.subMenu ul li.menu-categories-list {
    float: left;
    border-left: 1px solid #F3F3F3;
    width: 105px;
    text-align: center;
}

.subMenu ul li.menu-categories-list:last-child {
    border-right: 1px solid #F3F3F3;
}

.subMenu ul li.menu-categories-list a {
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    font-size: 13px;
}

.subMenu ul li.menu-categories-list:hover,.subMenu ul li.menu-categories-list.activeOption {
	border-bottom: 2px solid #a9d77b;
	background-color: #F9F9F9;
	font-weight: bold;
	color: #6b6b6b;
}

.subMenuFilter {
    float: right;
    padding: 20px 0;
}

.filter-container {
    width: 180px;
    border-right: 1px solid #F3F3F3;
    border-left: 1px solid #F3F3F3;
    font-size: 13px;
    padding: 0 15px;
    cursor: pointer;
}

.filter-container .arrow-down {
    position: relative;
    top: 25px;
    margin: 0 5px;
}

.filter-menu-label {
    width: 77px !important;
    margin: 0 auto;
    overflow: auto;
    display: block!important;
}

.filter-center {
    position: relative;
}

.filter-drop-down {
    background-color: white;
    width: 180px;
    position: absolute;
    top: 60px;
    right: -17px; 
    display: none;
    box-shadow: 0 0 6px #d0d0d0;
    -moz-box-shadow: 0 0 6px #d0d0d0;
    -webkit-box-shadow: 0 0 6px #d0d0d0;
}

.filter-drop-down input[type='checkbox'] {
    float: left;
    margin: 5px 0;
}

.filter-drop-down ul li {
	padding: 12px 0;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 12px;
    font-weight: bold;
}

.filter-drop-down ul li:hover{
	background-color: #E8E8E8;
	color: #6b6b6b;
}
.filter-drop-down ul li div{
	padding: 0px 21px;
}
.filter-container:hover{
	border-bottom: 2px solid #a9d77b;
	background-color: #F9F9F9;
	box-sizing:border-box;
}

.listContainer{
	float: left;
	width: 100%;
}
.listItems{
	width: 32%;
	margin: 0 0 60px 2%;
	float: left;
    height: 376px;
}

.thumbnail{
	min-width: 100%;
    height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #C7C7C7;
	cursor: pointer;
}
.listItemDetails{
	float: left;
	width: 100%;
	display: table;
	margin-bottom: 2px;
}
.listItemDetails span{
	display: table-cell;
	width: 100%;
	padding: 0 2%;
}
.subMenuHeader{
	float: left;
	width: 100%;
	height: 400px;
	background: url(../images/header-image1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.subMenuHeader span{
	position: absolute;
	bottom: 0;
	color: #fff;
	left: 94px;
}

.menuItemName{
	color: #9B9B9B;
  	text-transform: uppercase;
}
.menuItemDetails{
	vertical-align: middle;
    word-break: break-word;
    font-family: 'BrandonGrotesque-Regular';
    color: #6B6B6B;
    font-size: 14px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    text-transform: lowercase;
}
hr.mealList-hr {
  height: 1px;
  border: 0;
  width: 100%;
  background-color: #cdcdcd;
  float: left;
}
.itemCost{
	color: #B3B3B3;
	font-size: 24px;
	font-weight: normal;
}
.menu-pagination{
	float: right;
	padding-bottom: 10px;
}
.menu-loading-gif{
	width: 100%;
	overflow: hidden;
	text-align: center;
	/*display: none;*/
}
.subMenu .category-header{
	display: none;
    padding: 12px 0;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'BrandonGrotesque-bold';
    font-size: 13px;
}

.listItemDetails {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
}

.listItemDetails span {
    display: table-cell;
    width: 100%;
    padding: 0 2%;
}

.contentWrapper {
    float: left;
    width: 100%;
}

.subMenuHeader {
    float: left;
    width: 100%;
    height: 400px;
    background: url(../images/header-image1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.subMenuHeader span {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.addItemButton {
    height: 32px;
    min-width: 75px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 0px;
    border-radius: 4px;
    float: right;
}

.menuItemName {
    color: #6B6B6B;
    font-family: 'BrandonGrotesque-Medium';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
}

.menuItemDetails {
    vertical-align: middle;
}

.itemCost {
    color: #6B6B6B;
    margin-bottom: 7px;
    font-size: 26px;
    font-weight: normal;
}
span.per-serving-text {
  font-family: 'BrandonGrotesque-Regular';
  color: #6b6b6b;
  font-size: 12px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.menu-pagination {
    float: right;
    padding-bottom: 10px;
}

.subMenu .category-header {
    display: none;
}
.subMenu {
    height: 60px;
}
.subMenu ul li.menu-categories-list a {
    padding: 20px 0;
}

.logo-mobile-container h3,.share-popup-wrapper{
    display: none;
}

.share-popup-wrapper .header{
    font-family: 'BrandonGrotesque-Bold';
    font-size: 20px;
    padding-left: 30px;
    padding-top: 6px;
}
.share-button-wrapper{
    padding: 20px 35px;
}
.share-popup-wrapper .popup-container{
    padding: 15px 5px;
    text-align: center;
}
.share-button{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px hidden;
    color: #fff;
    border-radius: 3px;
    font-family: 'BrandonGrotesque-Bold';
    font-size: 20px;
}
.share-popup-wrapper .popup{
    height: 390px;
}
#facebook-share{
    background-color:#4E7AAD;
}
#twitter-share{
    background-color:#79B9EA;
}
#email-share{
    background-color:#6B6B6B;
}
/*==============================*\
        &MENU - MOBILE
\*==============================*/

/*#header h3 {
    display: none;
}*/

@media (min-width: 768px)and (max-width: 1024px) {
    .listItems {
        width: 49%;
        margin: 0 0 60px 2%;
        float: left;
    }
    .listContainer div:nth-child(2n+1) {
        margin-left: 0;
        padding-right: 2%;
    }
     .listContainer div:nth-child(2n) {
        padding-left: 2%;
     }
    .thumbnail {
        margin: 0px auto 10px auto;
        display: block;
        width: 100%;
    }
    .meal-area{
        /*padding: 0 3.5em;*/
    }

}

@media (min-width: 1025px) {
    .listContainer div:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .category-menu {
        display: block !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .listItems {
        max-width: 430px;
        background-color: white;
        float: none;
        width: auto;
        margin: 50px auto;
        overflow: hidden;
        border-radius: 2px;
        -webkit-box-shadow: 0px 2px 5px 0px  #b0b0b0;
        -moz-box-shadow: 0px 2px 5px 0px  #b0b0b0;
        box-shadow: 0px 2px 5px 0px  #b0b0b0;
        height: 467px;
    }
    .listItemDetails {
        padding: 0 10px;
    }
    .listContainer {
        margin: 0px;
    }
    .subMenu{
        height: 35px;
    }
    .subMenu ul.category-menu {
        width: 100%;
        position: absolute;
    }
    .subMenu ul li.menu-categories-list {
        background-color: white;
        float: none;
        width: 100%
    }
    .subMenu .category-header {
        display: block;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        padding: 20px 0;
        width: 190px;
        text-align: center;
        position: relative;
        padding: 6px 0px;
    }
    .subMenu .arrow-down {
        position: absolute;
        top: 15px;
        right: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid rgb(200, 200, 200);
    }
    .category-menu,
    .subMenuHeader,
    .filter-menu-label .arrow-down {
        display: none;
    }
    #header h3 {
        text-align: center;
        font-family: 'BrandonGrotesque-Bold';
        display: block;
        color: #5A5A5A;
        margin-top: 23px;
    }
    .filter-container {
        position: absolute;
        right: 0;
        top: -5px;
        border: 0;
    }
    .category-wrapper {
        position: relative;
        /*box-shadow: 0 0 2px #1A1A1A;*/
    }
    .filter-container:hover .filter-drop-down {
        display: none;
    }
    .filter-container:hover {
        border-bottom: 0px;
        background-color: transparent;
    }
    #mainWrapper {
        background-color: #CDD5CE;
        background-image: none !important;
        border: none;
    }
    .subMenuFilter {
        color: #A9D77B;
        padding: 15px 0;
    }
    .meal-area h3:first-child{
        display: none;
    }
    .filter-menu-label{
        float: right;
    }
    #mainWrapper{
        overflow: visible;
    }
    .filter-drop-down{
        top: 40px;
    }
    .menu-header h1{
        display: none;
    }
    .menu-offer{
        height: 50px;
        font-size: 12px;
    }
}


/*@media (min-width: 1302px) {*/
/*}*/
@media (max-width: 440px) {
	.subMenu .category-header{
		float: left;
	}
    .logo-mobile-container{
        width: 213px;
    }
    .menu-offer{
        font-size: 10px;
    }
}