/*==============================*\
			&MENU
\*==============================*/

.subMenu{
	width: 100%;
	float: left;
	border-bottom: 1px solid #ededed;
	background: #fff;
	color: #5a5a5a;
}

.subMenu ul li{
	display: inline-block;
	width: 105px;
	text-align: center;
}

.subMenu ul li a{

	padding: 20px 0;
	display: block;
	font-size: 16px;
}

.subMenu ul li a:hover,.subMenu ul li a.activeOption{
	border-bottom: 4px solid #a9d77b;
	padding: 20px 0 16px 0;
	font-weight: bold;
	color: #1a1a1a;
}

.subMenuFilter{
	float: right;
	padding: 20px 0 20px 30px;
	background: left center url(../images/filter_icon.png) no-repeat;
}
.listContainer{
	float: left;
	width: 100%;
	margin: 75px 0 0 0;
}
.listItems{
	width: 32%;
	margin: 0 0 60px 2%;
	float: left;
}
.thumbnail{
	min-width: 100%;
	height: 230px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.listItemDetails{
	float: left;
	width: 100%;
	display: table;
	margin-bottom: 2px;
}
.listItemDetails span{
	display: table-cell;
}
.contentWrapper{
	float: left;
	width: 100%;
}
.subMenuHeader{
	float: left;
	width: 100%;
	height: 400px;
	background: url(../images/Header_Image.jpg) no-repeat;
	background-size: cover;
}
.addItemButton{
	height: 32px;
	min-width: 75px;
	font-size: 12px;
	line-height: 30px;
	padding: 0 0px;
	border-radius: 4px;
	float: right;
}
.menuItemName{
	color: #5a5a5a;
}
.menuItemDetails{
	vertical-align: middle;
}
.itemCost{
	color: #a9d77b;
	font-size: 19px;
}

@media only screen and (min-width: 768px)and (max-width:1024px){
	.listItems{
  		width: 49%;
		margin: 0 0 60px 2%;
		float: left;
  	}
  	.listContainer div:nth-child(2n+1){
		margin-left: 0;
	}
	.thumbnail{
		height: 270px;
	}
	.listContainer{
		margin: 40px 0 0 0;
	}
}

@media only screen and (min-width: 1025px){
	.listContainer div:nth-child(3n+1){
		margin-left: 0;
	}
}