#privacy-wrapper {
    width: 100%;
    float: left;
    min-height: 100%;
    margin-bottom: -143px;
    background-color: #F9FAF7;
    background-size: cover;
}

#privacy-wrapper:after {
    height: 143px;
    content: "";
    float: left;
    width: 100%;
}

.privacy-terms-background {
    background: url('../images/privacy_terms_bg.png');
}

.privacy-terms-container {
    margin-top: 150px;
    text-align: center;
}

.privacy-terms-heading {
    font-family: 'BrandonGrotesque-Regular';
    color: #4A4A4A;
    font-size: 60px;
}

.privacy-terms-container .button-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.privacy-terms-container .show-more {
    text-align: center;
}

.background-button {
    background-color: white;
    border-color: #DBD2D2;
}

.privacy-terms-container .button-container a:first-of-type {
    margin-right: 20px;
    letter-spacing: 1.5px;
}

.privacy-terms-container .button-container a {
    width: 48%;
}

.privacy-terms-details {
    background-color: white;
    color: #4B4B4B;
    letter-spacing: 0.5px;
    text-align: justify;
}

.privacy-terms-container .section-heading {
    font-family: 'BrandonGrotesque-Bold';
    font-size: 26px;
}

.privacy-terms-container .section-date {
    font-family: 'BrandonGrotesque-Regular';
    font-size: 18px;
    font-style: italic;
}

.privacy-terms-container .section-date,
.privacy-terms-container .section-text {
    font-family: 'BrandonGrotesque-RegularItalic';
    font-size: 18px;
}

.privacy-terms-container .section-subheading {
    font-family: 'BrandonGrotesque-Bold';
    font-size: 16px;
}

.privacy-terms-details .break {
    margin-bottom: 15px;
}

.terms-inner-details {
    display: none;
}

.terms-inner-details,
.privacy-inner-details {
    width: 90%;
    padding: 50px 0;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hidden-details{
    display: none;
}

@media (max-width: 1366px) {
    .privacy-terms-heading {
        font-size: 45px;
    }
}
@media (min-width: 768px)and (max-width: 1024px) {
    #privacy-wrapper:after{
        height: 0px;
    }
    .privacy-terms-container .button-container a:first-of-type {
        margin-right: 0px;
    }
    .privacy-terms-container .button-container a {
        max-width: 400px;
        width: 100%;
    }
}

@media (min-width: 320px)and (max-width: 767px) {
    #privacy-wrapper {
        background-color: #FCFDF9;
        background-image: none;
        border: none;
        overflow-x: hidden;
    }
    .privacy-terms-container .button-container a {
        max-width: 400px;
        width: 100%;
    }
    .privacy-terms-container .button-container a:first-of-type {
        margin-right: 0px;
    }
    #privacy-wrapper:after{
        height: 0px;
    }
}
