@media only screen and (min-width: 768px)and (max-width:1024px){
  	ul#menu{
  		display: none;
  	}
  	.navMenu {
		width: 100%;
		position: absolute;
		background: rgba(255,255,255,.85);
		/* height: 211px; */
		top: 73px;
		z-index: 99;
		left: 0;
    }

	.navMenu ul li{
		list-style-type: none;
		font-family: 'BrandonGrotesque-Regular';
		font-size: 12px;
		cursor: pointer;
		padding: 14px;
		border-bottom: 1px solid #A3A2A2; 
	}
	.navMenu ul li a{
		color: black;
	}
	.navMenu ul li a:hover{
		color: #8EC657;
	}
  	span.icon-menu{
  		display: block;
  	}
}
@media only screen and (min-width: 1025px){
	.navMenu{
		display: none;
	}
}