body {
    background-color: #F9FAF7;
}

.share-page-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.share-banner {
    overflow: hidden;
    margin-top: 100px;
    height: 350px;
    position: relative;
    background-image: url(../images/share_banner.jpg);
    background-size: cover;
    background-position: 50%;
}

.logo-banner {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    height: auto;
    background-color: rgb(255, 255, 255);
    width: 44%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 20px;
    padding-bottom: 20px;
}

.meisterdish-logo {
    height: 60px;
    width: 40px;
    margin-top: 20px;
}

.logo-banner .h0 {
    font-size: 26px;
    line-height: 40px;
    font-family: 'BrandonGrotesque-bold';
    color: #394543;
}

.logo-banner hr {
    height: 1px;
    width: 20%;
    border: 0;
    background-color: #9b9b9b;
    margin-bottom: 20px;
}

.logo-banner .body-text-small,
.share-label {
    font-size: 16px;
    font-family: 'BrandonGrotesque-Regular';
    color: #6b6b6b;
}

.copy-share-link {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    height: 100%;
    overflow: auto;
    margin-top: 20px;
    padding: 8px 0;
    min-height: 50px;
}

.copy-share-link span:first-child {
    font-family: 'BrandonGrotesque-Medium';
    color: #394543;
    font-size: 20px;
    overflow: hidden;
    padding: 0 10px;
    width: 88%;
    margin-right: 2%;
    float: left;
    word-break: break-all;
}

.copy-share-link span:nth-child(2) {
    font-family: 'BrandonGrotesque-Regular';
    color: #9b9b9b;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 6px;
    cursor: pointer;
    width: 10%;
    float: left;
}

span.or {
    width: 100%;
    position: relative;
    padding: 0;
    float: left;
    margin-top: 30px;
}

span.or p {
    position: absolute;
    top: -12px;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    text-align: center;
    background-color: #F9FAF7;
    padding: 0;
    font-family: 'BrandonGrotesque-bold';
    font-size: 24px;
    color: #394543;
}

span.or hr {
    display: block;
    color: #d0d0d0;
    width: 35%;
    background: #d0d0d0;
    height: 1px;
    border: 0;
}

.share-label {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    float: left;
    width: 100%;
}

.share-button-container {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

img.share-button {
    height: auto;
    max-width: 300px;
    width: 22%;
    padding: 0 15px;
    cursor: pointer;
}

.share-page-container {
    overflow: auto;
}

.share-page-container span.body-text-small {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 14px;
}

.share-page-container span a {
    text-decoration: underline;
}

.share-page-container span:last-child {
    margin-bottom: 30px;
}

#copied-text {
    display: none;
    color: #ff7878;
    font-size: 14px;
    word-break: break-word;
    width: 93%;
    margin: 0 auto;
}

.email-pupup-wrapper {
    display: none;
}

.email-pupup-wrapper .popup {
    height: 200px;
    margin-top: -100px;
}

.email-pupup-wrapper .popup .header {
    font-family: 'BrandonGrotesque-bold';
    letter-spacing: .3px;
    font-size: 20px;
    padding-top: 7px;
}

input.popup-input {
    height: 35px;
    border-radius: 3px;
    border: 1px solid #9b9b9b;
    width: 100%;
    padding-left: 10px;
}

.email-pupup-wrapper .forminput-wrapper {
    width: 100%;
    float: left;
    padding: 0px 50px;
    position: relative;
}

#email-error {
    padding-left: 59px;
}

.shareEmail-popup-container .content span,
.shareEmail-popup-container .content p {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 16px;
    padding: 20px 0;
    color: #5C5C5C;
    word-break: break-word;
}

.shareEmail-popup-container .button {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

#copy-to-clipboard {
    display: none;
}

@media (min-width: 768px)and (max-width: 1024px) {
    .logo-banner {
        width: 60%;
    }
    img.share-button {
        width: 250px;
    }
}

@media (min-width: 768px)and (max-width: 900px) {
    .logo-banner {
        width: 68%;
    }
    img.share-button {
        width: 220px;
    }
}

@media (min-width: 320px)and (max-width: 767px) {
    .logo-banner {
        width: 80%;
    }
    img.share-button {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
    .share-button-container {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .logo-banner .h0 {
        font-size: 22px;
    }
    .logo-banner .body-text-small,
    .share-label {
        font-size: 14px;
    }
    .copy-share-link span:first-child {
        font-size: 16px;
        width: 100%;
    }
    .copy-share-link span:nth-child(2) {
        float: none;
        margin: 0 auto;
    }
    .share-label {
        font-size: 18px;
    }
    .share-banner {
        margin-top: 75px;
        height: 400px;
    }
    .copy-share-link {
        height: 100%;
        overflow: auto;
    }
}

@media (min-width: 320px)and (max-width: 470px) {
    .logo-banner {
        width: 90%;
    }
    .share-banner {
        height: 450px
    }
}


/*@media (min-width: 320px)and (max-width: 350px) {

}*/


/*@media (min-width: 320px)and (max-width: 450px) {
	.share-button-container{
		max-width: 300px;
	}
}*/
