.share-banner{
	overflow: hidden;
	margin-top: 100px;
	height: 350px;
	position: relative;
	background-image: url(../images/share_banner.jpg);
	background-size: cover;
	background-position: 50%;
}
.logo-banner {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 50%;
	height: 285px;
	background-color: rgb(255, 255, 255);
	width: 44%;
	margin-left: -22%;
	margin-top: -142.5px;
	padding: 0 20px;
}
.meisterdish-logo{
	height: 60px;
	width: 40px;
	margin-top: 20px;
}
.logo-banner .h0{
	font-size: 26px;
	line-height: 40px;
	font-family: 'BrandonGrotesque-bold';
	color: #394543;
}
.logo-banner hr{
	height: 1px;
	width: 20%;
	border: 0;
	background-color: #9b9b9b;
	margin-bottom: 20px;
}
.logo-banner .body-text-small,.share-label{
	font-size: 16px;
	font-family: 'BrandonGrotesque-Regular';
	color: #6b6b6b;
}
.copy-share-link {
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	height: 48px;
	margin-top: 20px;
	padding-top: 8px;
}
.copy-share-link span:first-child{
	font-family: 'BrandonGrotesque-Medium';
	color: #394543;
	font-size: 20px;
}
.copy-share-link span:nth-child(2){
	font-family: 'BrandonGrotesque-Regular';
	color: #9b9b9b;
	font-size: 16px;
	float: right;
	padding-top: 5px;
	padding-right: 6px;
	cursor: pointer;
}
span.or{
    width: 100%;
    position: relative;
    padding: 0;
    float: left;
    margin-top: 30px;
  }
 span.or p {
  position: absolute;
  top: -12px;
  width: 90px;
  left: 50%;
  margin-left: -45px;
  text-align: center;
  background-color: #F9FAF7;
  padding: 0;
  font-family: 'BrandonGrotesque-bold';
  font-size: 24px;
  color: #394543;
}
 span.or hr {
  display: block;
  color: #d0d0d0;
  width: 35%;
  background: #d0d0d0;
  height: 1px;
  border: 0;
}
.share-label{
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	float: left;
  	width: 100%;
}
.share-button-container {
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
img.share-button {
  height: auto;
  width: 22%;
  padding: 0 15px;
  cursor: pointer;
}
.share-page-container span.body-text-small {
  width: 100%;
  float: left;
  text-align: center;
  font-family: 'BrandonGrotesque-Regular';
  font-size: 14px;
}
.share-page-container span a{
	text-decoration: underline;
}
.share-page-container span:last-child{
	margin-bottom: 30px;
}
#copied-text{
	display: none;
	color: #ff7878;
	font-size: 14px;
}
.email-pupup-wrapper{
	display: none;
}
.email-pupup-wrapper .popup{
	height: 200px;
	margin-top: -100px;
}
.email-pupup-wrapper .popup .header{
	font-family: 'BrandonGrotesque-bold';
	letter-spacing: .3px;
	font-size: 20px;
	padding-top: 7px;
}
input.popup-input {
  height: 35px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  width: 100%;
  padding-left: 10px;
}
.email-pupup-wrapper .forminput-wrapper {
  width: 100%;
  float: left;
  padding: 0px 50px;
  position: relative;
}
#email-error{
	padding-left: 59px;
}
 .shareEmail-popup-container .content span,
 .shareEmail-popup-container .content p{
	width: 100%;
	float: left;
	text-align: center;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 16px;
	padding: 20px 0;
	color: #5C5C5C;
	word-break:break-word;
}

.shareEmail-popup-container .button{
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}