<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
  
</head>

<body style="margin: 0; font-family: sans-serif; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;margin-top:30px;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);">
        <tr>
            <td align="center" style="padding: 30px 0 0 0;">
                <img src="cid:meisterdish_logo" width="262px" height="30" style="display: block; padding-bottom : 20px;" />
            </td>
        </tr>
        <tr>
           <td align="center">
               <hr style="width:90%;height:1px;border:0;background-color:#A9D77B;">
           </td> 
        </tr>
        <tr>
            <td align="center" style="padding-top: 15px;color:#5A5A5A;font-size:21px;text-transform:uppercase">
                <p>Hi Admin, </p>
            </td>
        </tr>
        <tr>
            <td align="left"  style="padding: 5px 0 10px 0;font-size:14px;color:#6b6b6b;text-align:left">
                <p style='margin: 0'>You have an inquiry from {{name}} ({{from_email}})!</p>
            </td>
        </tr>
        <tr>
            <td align="left"  style="padding: 5px 0 10px 0;font-size:14px;color:#6b6b6b;text-align:left">
                <p style='margin: 0'>Subject: {{subject}}</p>
            </td>
        </tr>
        <tr>
            <td align="left"  style="padding: 5px 0 10px 0;font-size:14px;color:#6b6b6b;text-align:left">
                <p style='margin: 0'>Message: {{message}}</p>
            </td>
        </tr>
    </table>
</body>

</html>
