<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
  
</head>

<body style="margin: 0; font-family: sans-serif; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;margin-top:30px;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);">
        <tr>
            <td align="center" style="padding: 30px 0 0 0;">
                <img src="cid:meisterdish_logo" width="262px" height="30" style="display: block; padding-bottom : 20px;" />
            </td>
        </tr>
        <tr>
           <td align="center">
               <hr style="width:90%;height:1px;border:0;background-color:#A9D77B;">
           </td> 
        </tr>
        <tr>
            <td align="center" style="padding-top: 15px;color:#5A5A5A;font-size:21px;text-transform:uppercase">
                <p>Hi {{first_name}}, </p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px 0 10px 0;font-size:14px;color:#6b6b6b;text-align:center">
                <p style='margin: 0'>We received your request to reset your password.</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px 0 10px 0;font-size:14px;color:#6b6b6b;text-align:center">
                <p style='margin: 0'>Please click the button below to reset your password.</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0 20px 0;">
                <a href="{{link}}" style='background-color: #A9D77B;height: 45px;
                                    min-width:85%;
                                    font-size: 18px;
                                    line-height:45px;
                                    padding: 0 20px;  
                                    padding: 0;
                                    border-radius: 2px;
                                    border-style: solid;
                                    border-width: 1px;
                                    display: inline-block;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    text-align: center;
                                    letter-spacing: 1px;
                                    color: #fff;
                                    box-sizing: border-box;
                                    -webkit-transition: color .4s, background-color .4s, border .4s;
                                    transition: color .4s, background-color .4s, border .4s;
                                    -webkit-appearance: none;
                                    appearance: none;border-radius:3px;boder:1px solid' class="btn btn-large-extended medium-green">RESET PASSWORD</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px 0 30px 0;">
                <p style='margin: 5px 0 0 0;font-size: 11px;color:#9B9B9B;'>If that doesn't work, try clicking the link below.</p>
                <p style='margin: 3px 0 0 0;font-size: 12px;color:#A9D77B;'>{{link}}</p>
            </td>
        </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" style="color:#6b6b6b;font-size:14px;font-weight:bold;letter-spacing:0.5px; padding-top:20px;">
                <p>NOW YOU CAN COOK</p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style='margin: 5px 0 0 0;font-size: 12px;color:#9B9B9B;'>This email was sent to {{to_email}}.</p>
                <p style='margin: 3px 0 0 0;font-size: 12px;color:#9B9B9B;'>You recieved this email by registering with Meisterdish.</p>
                <p style='margin: 3px 0 0 0;font-size: 12px;color:#9B9B9B;'>Don't want to hear from us? <a style='color: #8EC567;' href='#'>Unsubscribe</a></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <ul style='text-align:center;margin: 20px 0;padding-left:0'>
                    <li style='display: inline-block;margin:0 10px'>
                        <a style='float:left;' href="http://www.facebook.com/meisterdish" target="_blank">
                            <img style='width: 44px;height:44px;display:block;cursor:pointer;' src="cid:fb" />
                        </a>
                    </li>
                    <!-- <li style='background: url(cid:tw);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li>
                    <li style='background: url(cid:in);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li>
                    <li style='background: url(cid:pt);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li> -->
                </ul>
            </td>
        </tr>
        <tr>
            <td align="center">
             <ul style='margin: 0;padding: 0;'>
                 <li style='display: inline-block;font-size: 9px;  color: #9B9B9B;border-right: 1px solid #9B9B9B;padding-right: 10px;'><a href='#' style='color:#9B9B9B;text-decoration:none;'>ABOUT</a></li>
                 <li style='display: inline-block;font-size: 9px;border-right: 1px solid #9B9B9B;padding-right: 10px;padding-left: 8px;'><a href={{site_url}}'views/contact-us.html' style='color:#9B9B9B;text-decoration:none;'>CONTACT</a></li>
                 <li style='display: inline-block;font-size: 9px;border-right: 1px solid #9B9B9B;padding-right: 10px;padding-left: 8px;'><a href={{site_url}}'views/privacy_terms.html' style='color:#9B9B9B;text-decoration:none;'>PRIVACY &amp; TERMS</a></li>
                 <li style='display: inline-block;font-size: 9px;padding-left: 8px;'><a href='#' style='color:#9B9B9B;text-decoration:none;'>HELP</a></li>
             </ul>
            </td>
        </tr>
    </table>
</body>

</html>
