
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
  
</head>

<body style="margin: 0; font-family: sans-serif; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;margin-top:30px;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);">
        <tr>
            <td align="center" style="padding: 30px 0 0 0;">
                <img src="cid:meisterdish_logo" width="262px" height="30" style="display: block; padding-bottom : 20px;" />
            </td>
        </tr>
        <tr>
           <td align="center">
               <hr style="width:90%;height:1px;border:0;background-color:#A9D77B;">
           </td> 
        </tr>
        <tr>
            <td align="center" style="padding-top: 15px;color:#5A5A5A;font-size:21px;text-transform:uppercase">
                <p>Hi {{name}}, </p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px 20px 5px 20px;text-align:center;color:#6b6b6b;font-size:14px;" ;>
                <p style='margin: 0'>{{first_name}}&nbsp;{{last_name}} has sent you a Gift Card worth ${{amount}}, which can be redeemed at {{url}}.</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px 20px 30px 20px;text-align:center;color:#6b6b6b;font-size:14px;">
                <p style='margin: 0'>Shop at {{url}} and use the code <b>{{code}}</b> to avail discount worth ${{amount}}.</p>
            </td>
        </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center"style="color:#6b6b6b;font-size:14px;font-weight:bold;letter-spacing:0.5px; padding-top:20px;">
                <p> NOW YOU CAN COOK</p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style='margin: 5px 0 0 0;font-size: 12px;color:#9B9B9B;'>This email was sent to {{email}}.</p>
                <p style='margin: 3px 0 0 0;font-size: 12px;color:#9B9B9B;'>You recieved this email by registering with Meisterdish.</p>
                <p style='margin: 3px 0 0 0;font-size: 12px;color:#9B9B9B;'>Don't want to hear from us? <a style='color: #8EC567;' href='#'>Unsubscribe</a></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <ul style='  margin: 20px 0;padding-left:0'>
                    <li style='display: inline-block;margin:0 10px'>
                        <a style='float:left;' href="http://www.facebook.com/meisterdish" target="_blank">
                            <img style='width: 44px;height:44px;display:block;cursor:pointer;' src='cid:fb' />
                        </a>
                    </li>
                    <!-- <li style='background: url(cid:tw);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li>
                    <li style='background: url(cid:in);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li>
                    <li style='background: url(cid:pt);width: 44px;height:44px;display: inline-block;cursor: pointer;margin:0 10px'></li> -->
                </ul>
            </td>
        </tr>
        <tr>
            <td align="center">
             <ul style='margin: 0;padding: 0;'>
                 <li style='display: inline-block;font-size: 9px;  color: #9B9B9B;border-right: 1px solid #9B9B9B;padding-right: 10px;'><a href='#' style='color:#9B9B9B;text-decoration:none'>ABOUT</a></li>
                 <li style='display: inline-block;font-size: 9px;border-right: 1px solid #9B9B9B;padding-right: 10px;padding-left: 8px;'><a href='#' style='color:#9B9B9B;text-decoration:none'>CONTACT</a></li>
                 <li style='display: inline-block;font-size: 9px;border-right: 1px solid #9B9B9B;padding-right: 10px;padding-left: 8px;'><a href='#' style='color:#9B9B9B;text-decoration:none'>PRIVACY &amp; TERMS</a></li>
                 <li style='display: inline-block;font-size: 9px;padding-left: 8px;'><a href='#' style='color:#9B9B9B;text-decoration:none'>HELP</a></li>
             </ul>
            </td>
        </tr>
    </table>
</body>

</html>





