<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
</head>

<body style="margin: 0; font-family: sans-serif; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse;margin-top:30px;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);margin-bottom: 30px; background-color:#F9FAF7">
        <tr>
            <td>
                <table align="center" width="900">
                    <tr>
                        <td align="center" style="padding: 30px 0 0 0;">
                            <img src="cid:meisterdish_logo" width="262px" height="30" style="display: block; padding-bottom : 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-top: 15px;">
                            <h3>Thanks, {{first_name|title}}! We've received your order.</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 10px 0 5px 0;" ;>
                            <h4 style='margin: 0'>ORDER NO: {{order_num|upper}}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 10px 0 5px 0;" ;>
                            <h4 style='margin: 0'>Please wait for your order to be confirmed.</h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style='box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);background-color:#fff;border:1px solid #d0d0d0;'>
                    <tr>
                        <td>
                            <table align="center" border="0" bordercolor="#9B9B9B" cellpadding="0" cellspacing="0" width="55%" style="border-collapse: collapse;margin-top:30px;float:left">
                                <tr>
                                    <td>
                                        <table style='padding-left: 40px;'>
                                            <tr>
                                                <td>
                                                <h2>
                                                    {% if delivery_type == "pickup" %}
                                                        PICKUP ADDRESS
                                                    {% else %}
                                                        DELIVERY ADDRESS
                                                    {% endif %}
                                                </h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style='color:#6B6B6B;font-weight:bold;'>
                                                     {% if delivery_type == "pickup" %}
                                                        Meisterdish
                                                    {% else %}
                                                        {{delivery_name}}
                                                    {% endif %}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style='color:#6B6B6B;font-weight:bold;'>
                                                    {% if delivery_type == "pickup" %}
                                                        218 EAST 81st
                                                    {% else %}
                                                        {{delivery_add1}}
                                                    {% endif %},
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style='color:#6B6B6B;font-weight:bold;'>
                                                    {% if delivery_type == "pickup" %}
                                                        ST 10028
                                                    {% else %}
                                                        {{delivery_add2}}
                                                    {% endif %}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style='padding-left: 40px;'>
                                            <tr>
                                                <td>
                                                    <h2>{{delivery_time}}.</h2></td>
                                            </tr>
                                            <tr>
                                                <td><span style='color: #6B6B6B;font-weight:bold'>Deliver between {{delivery_hr}}.</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table align="left" border="1" bordercolor='#9B9B9B' cellpadding="0" cellspacing="0" width="35%" style="border-collapse: collapse;margin-top:30px;float:left;border: solid 1px #9B9B9B;text-align:left">
                                <tr>
                                    <td>
                                        <table width="100%" style='color: #6B6B6B'>
                                            <tr>
                                                <th style='font-weight: normal;padding-top: 20px;padding-left:30px'>
                                                    <span style='font-weight:bold'>Subtotal</span>
                                                </th>
                                                <th style='font-weight: normal;padding-top: 20px;padding-left:10px'>
                                                    <span style='font-weight:bold'>${{total_amount}}</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style='font-weight: normal;padding-left:30px'>
                                                    <span style='font-weight:bold'>Applied Credit</span>
                                                </th>
                                                <th style='font-weight: normal;padding-left:10px'>
                                                    <span style='font-weight:bold'>-${{credit}}</span>
                                                </th>
                                            </tr>
                                            {% if delivery_type != "pickup" %}
                                            <tr>
                                                <th style='font-weight: normal;padding-left:30px'>
                                                    <span style='font-weight:bold'>Delivery</span>
                                                </th>
                                                <th style='font-weight: normal;padding-left:10px'>
                                                    <span style='font-weight:bold'>${{shipping}}</span>
                                                </th>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <th style='font-weight: normal;padding-left:30px'>
                                                    <span style='font-weight:bold'>Tax</span>
                                                </th>
                                                <th style='font-weight: normal;padding-left:10px'>
                                                    <span style='font-weight:bold'>${{tax}}</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style='font-weight: normal;padding-left:30px'>
                                                    <span style='font-weight:bold'>Tip</span>
                                                </th>
                                                <th style='font-weight: normal;padding-left:10px'>
                                                    <span style='font-weight:bold'>${{tip}}</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style='font-weight: normal;color: #000;padding-left:30px'>
                                                    <h2>Total</h2>
                                                </th>
                                                <th style='font-weight: normal;color: #000;padding-left:10px'>
                                                    <h2>${{grand_total}}</h2>
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 0;">
                            <table width="55%" style='padding-left: 40px;border-collapse: separate;border-spacing: 0px 20px;'>
                                {% for ci in cart_items%}
                                    <tr>
                                        <td>
                                            <img style='width: 100px;float: left;margin-right: 17px;border-radius: 3px;border: 1px solid #D8CFCF;' src="cid:img_{{ci.meal.id|slugify}}">
                                            <table style='float: left;width: 70%;font-weight=normal;'>
                                                <tr>
                                                    <td style='float: left;width:100%'>
                                                        <span style='font-weight:bold'>{{ci.meal.name|title}}</span>
                                                    </td>
                                                    <th style='color:#9B9B9B;float: left;padding: 10px 10px 0 0;'>
                                                        <span style='font-weight: normal;'>${{ci.meal.price}}</span>
                                                    </th>
                                                    <th style='color:#9B9B9B;float: left;padding: 10px 10px 0 0;'>
                                                        <span style='font-weight: normal;'>Quantity: {{ci.quantity}}</span>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="800" cellpadding="0" cellspacing="0" style="border-collapse: collapse;box-shadow: 1px 3px 13px #B2B2B2;margin-top:20px;margin-bottom:30px;border:1px solid #d0d0d0;background-color:#fff">
                    <tbody>
                        <tr style="padding:20px 0;float:left;width:100%;">
                            <td style="font-size:24px;text-align: center;width: 100%;float: left;"><span>SHARE FOR ${{referral_bonus}} FREE CREDIT</span></td>
                        </tr>
                        <tr style="padding:20px 0;float:left;width:100%;">
                            <td style="font-size:16px;text-align: center;width: 100%;float: left;">http://meisterdish.com/backend/share/{{referral_code}}</td>
                        </tr>
                        <tr style="padding:20px 0;float:left;">
                            <tr style="padding:20px 0;float:left;width:100%;">
                            <td style="text-align:center;width:100%;float:left;">
                                <img src="cid:share_fb" style="padding:0 20px;max-height: 45px;padding-left:0px;">
                                <!-- <img src="cid:share_tw" style="padding:0 20px;max-height: 45px;">
                                <img src="cid:share_em" style="padding:0 20px;max-height: 45px;padding-right:0px;"> -->
                            </td>
                        </tr>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
