<html>
    <body>
        <p>Hi {{first_name}},</p>
        <p>Your {%if delivery_type == "pickup"%} pickup order {% else %} delivery {%endif%} ({{order_num}}) from Meisterdish is confirmed.</p>
        <p>Check your meal's All You Need page to get ready to cook.</p>
{% if False %}
        <p>Your order:</p><br />
        <div>
            {% for meal in meals%}
                <div style="width:100%;">
                    <div style="float:left;">
                        <img src="{{meal.main_image.image.url}}" height="100px;" width="100px;" />
                    </div>
                    <div style="float:left;">
                        {{meal.name}}
                    </div>
                    <div style="float:left;">
                        $ {{meal.grand_total}}
                    </div>
                </div>
            {% endfor %}
        
        </div>
        
        <p>The meals will be delivered to you shortly.</p> 
        <p>You can give the review for meals using <a href="{{review_link}}">this link.</p>
{%endif%}
        <br />
        --
        <br />
        Meisterdish
        <br />
    </body> 
</html>