<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
</head>
<body style="margin: 0;padding: 0;">
    <table style="border-collapse: collapse;width: 80%;margin: 0 auto;  box-shadow: 1px 3px 13px #B2B2B2;font-family:'monospace';margin-top:20px;">
        <tbody>
            <tr style="padding:20px 0;float:left;width:100%;">
                <td style="font-size:24px;text-align: center;width: 100%;float: left;">SHARE FOR $20 FREE CREDIT</td>
            </tr>   
            <tr style="padding:20px 0;float:left;width:100%;">
                <td style="font-size:16px;text-align: center;width: 100%;float: left;">meisterdish.com/share/BPQ48RL</td>
            </tr>   
            <tr style="padding:20px 0;height:45px; float:left;">
                <td style="width:33.33%;text-align:center">
                    <img src="../../web/images/Share on facebook.png" style="padding:0 20px;height: 45px;padding-left:0px;">
                    <img src="../../web/images/Share on Twitter.png"  style="padding:0 20px;height: 45px;">
                    <img src="../../web/images/Share via Email.png"  style="padding:0 20px;height: 45px;padding-right:0px;">
                </td>
            </tr>
        </tbody>   
    </table>
</body>

</html>
