<!DOCTYPE html>
<html lang="en">
    <head>
    <style type="text/css">
        *, html {
            font-family: "sans-serif";
        }
    </style>
    </head>
    <body style="margin: 0; font-family: sans-serif; font-size:16px;padding: 0;">
        <!-- <div style="overflow: auto;">
            <div style="border: 1px solid black;width:400px;float:left;padding:20px;">
                <div style='width:199px;height:100%;float:left;'>
                    <h1>5 - 6pm</h1>
                    <span style="float: left;width: 100%;display: block;margin-bottom:10px;">John Smith </span>
                    <span style="float: left;width: 100%;display: block;margin-bottom:10px;">211 E81th </span>
                    <span style="float: left;width: 100%;display: block;margin-bottom:10px;">App822</span>
                    <span style="float: left;width: 100%;display: block;margin-bottom:10px;">212 456 660</span>
                    <span style="float: left;width: 100%;display: block;margin-bottom:10px;">00001 </span>
                </div>
                <div style='width:200px;float:left;  border-left: 1px solid black;'>
                    <div style="float:left;padding:20px;margin-top: 75px;">
                        <p>1 Herb chicken</p>
                        <p>1 Red salad</p>
                        <p>1 Burger</p>
                        <p>Leave in cooler with doorman</p>
                    </div>
                    <div style="float:left;padding:20px;">
                        <p>1 Herb chicken</p>
                        <p>1 Red salad</p>
                        <p>1 Burger</p>
                        <p>Leave in cooler with doorman</p>
                    </div>
                </div>
            </div>
        </div> -->
        <table style="border:2px solid black;padding:20px;border-collapse: collapse" width="400">
            <thead>
            </thead>
            <tbody>
                <tr style="border:none;">
                   <td style="border-right:1px solid;padding-left:10px;font-size:24px;font-weight:bolder">
                       5 - 6pm
                   </td>
                   <td></td> 
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px" width="30%">John Smith</td> 
                    <td width="70%" style="padding:2px 0;border-right:1px;padding-left:10px">1 Herb chicken</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">211 E81th</td> 
                    <td style="padding:2px 0;padding-left:10px">1 Red salad</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">App  822</td> 
                    <td style="padding:2px 0;padding-left:10px">1 Burger</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">212 456 660</td> 
                    <td style="padding:2px 0;"></td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">00001</td>
                    <td style="padding:2px 0;padding-left:10px">Leave in cooler with doorman</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px"></td>
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">1 Herb chicken</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px"></td>
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">1 Red salad</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px"></td>
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">1 Burger</td>
                </tr>
                <tr style="border:none;">
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px"></td>
                    <td style="padding:2px 0;border-right:1px solid black;padding-left:10px">Leave in cooler with doorman</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>


