<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Email Template</title>
</head>

<body style="margin: 0; font-family: sans-serif; padding: 0;">
    <div style="overflow: auto;">
        <div style="border: 1px solid black;width:400px;float:left;padding:20px;">
            <div style='width:199px;height:100%;float:left;'>
                <h1>5 - 6pm</h1>
                <span style="float: left;width: 100%;display: block;margin-bottom:10px;">John Smith </span>
                <span style="float: left;width: 100%;display: block;margin-bottom:10px;">211 E81th </span>
                <span style="float: left;width: 100%;display: block;margin-bottom:10px;">App822</span>
                <span style="float: left;width: 100%;display: block;margin-bottom:10px;">212 456 660</span>
                <span style="float: left;width: 100%;display: block;margin-bottom:10px;">00001 </span>
            </div>
            <div style='width:200px;float:left;  border-left: 1px solid black;'>
                <div style="float:left;padding:20px;margin-top: 75px;">
                    <p>1 Herb chicken</p>
                    <p>1 Red salad</p>
                    <p>1 Burger</p>
                    <p>Leave in cooler with doorman</p>
                </div>
                <div style="float:left;padding:20px;">
                    <p>1 Herb chicken</p>
                    <p>1 Red salad</p>
                    <p>1 Burger</p>
                    <p>Leave in cooler with doorman</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
