<!DOCTYPE html>
<html lang="en">
    <head>
    <style type="text/css">
        *, html {
            font-family: "sans-serif";
        }
        tr {
            border:none;
        }

        td {
            padding:2px 0;
            padding-left:10px;
            border:none;
        }
        table, th, td {
            border-collapse: collapse;
        }
        @page { size: A5 }
    </style>
    </head>
    <body style="margin: 0; font-family: sans-serif; font-size:16px;padding: 0;">
        <table width="700" align="center" style="margin-bottom:20px;margin-top:20px;" border="0">
            <thead></thead>
            <tbody>
                <tr style="border-bottom-color:white;">
                    <td width="70%">
                        <img src="{{static_url}}logo.png" width="400">
                    </td>
                    <td width="30%" style="padding-right:20px;padding-bottom:10px">
                        <p style="font-size:22px;text-align:right;font-weight:bolder;margin:0">{{delivery_type|upper}}</p>
                    </td>
                </tr>
                <tr>
                    <td style=""></td>
                    <td style="padding-right:24px;"><p style="font-size:20px;text-align:right;margin:0">{{order_num}}</p></td>
                </tr>
            </tbody>
        </table>
        <table width="700"  align="center" style="border-color:#fff" border="1">
            <thead></thead>
            <tbody>
                <tr>
                    <td style="border-right:2px solid black;padding-top:0;vertical-align:top;"width="50%">
                        <table> 
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="padding-left:0;padding:0"><p style="margin:0;font-size:32px;font-weight:bolder;">{{time}}</p></td>
                                </tr>
                                <tr>
                                    <td style="padding-left:0"><p style="margin:0;font-size:20px">{{date}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="50%" style="">
                        <table width="100%">
                            <thead>
                                <th width="30%"><p style="font-weight:bold;font-size:18px;margin:0;text-align:left;margin-top:5px;">QTY</p></th>
                                <th width="70%"><p style="font-weight:bold;font-size:18px;margin:0;text-align:left;margin-top:5px;">MEAL</p></th>
                            </thead>
                            <tbody>
                                {% for ci in cart_items %}
                                    <tr>
                                        <td align="left" style="padding-left:0;padding-top:5px;p">
                                            {{ci.quantity}}x
                                        </td>
                                        <td align="left" style="padding-left:0;padding-top:5px;p">{{ci.meal.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% if order.delivery_address%}
                    <tr style="padding-bottom:10px;">
                        <td width="50%" style="border-right:2px solid black;padding-bottom:20px">
                            <p style="margin:0;width:100%;text-align:left;font-weight:bolder;padding-bottom:5px;">{{name}}</p>
                            <p style="margin:0;width:100%;text-align:left;font-weight:bolder;padding-bottom:5px;">{{order.delivery_address.building|upper}}</p>
                            <p style="margin:0;width:100%;text-align:left;padding-bottom:5px;">{{order.delivery_address.street|upper}}</p>
                            <p style="margin:0;width:100%;text-align:left;padding-bottom:5px;">{{order.phone}}</p>
                        </td>
                        <td width="50%" style="padding-bottom:20px;">
                            <p style="margin:0;padding-right:10px">
                                {%if order.driver_instructions != "" %}
                                    "{{order.driver_instructions}}"
                                {% endif%}
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr style="padding-bottom:10px;">
                        <td width="50%" style="border-right:2px solid black;padding-bottom:20px">
                            <p style="margin:0;width:100%;text-align:left;font-weight:bolder;padding-bottom:5px;">{{name}}</p>
                            <p style="margin:0;width:100%;text-align:left;font-weight:bolder;padding-bottom:5px;">{{order.email}}</p>
                            <p style="margin:0;width:100%;text-align:left;padding-bottom:5px;">{{order.phone}}</p>
                        </td>
                        <td width="50%" style="padding-bottom:20px;padding-left:20px"></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </body>
</html>
