<html>
	<body>
		<p>Hello  {{name}},</p>
              
		<p>You had requested to change email for your account at Meisterdish.</p>
	    <p>Please follow the below instructions to verify your email.</p>
	    
	    <p>Please click <a href="{{link}}">here</a> to verify your email and login to the site.</p>
	    <br />
	    <p>If that doesn't work, please copy and paste the below URL in your web browser.</p>
	    <p>URL : {{link}}</p>
	    <br />
	      --<br />
	      Meisterdish<br />
	</body>	
</html>