<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Account</title>

    <script type="text/javascript" src='../js/redirect.js'></script>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">
</head>

<body>
    <div id="account-mainWrapper" class='account-main-page'>
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                     <a href="checkout.html">
                        <span class="count">0</span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="views/menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li class="login-signup">
                            <a href="views/login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="views/signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='views/account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                <a href="">CONTACT</a>
                                </li>
                                <li>
                                <a href="">PRIVACY & TERMS</a>
                                </li>
                                <li >
                                <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class="accountNav">
                <div class="logout body-text-bold">
                    <a id='logout'>LOG OUT</a>
                </div>
                <div class="admin-button body-text-bold">
                    <a href='admin/orderlist.html' id="admin-redirect">Admin Page</a>
                </div>
            </div>
            <div class="account-wrapper">
                <div class="account-container">
                    <div class="account-header">
                        <div class='user-name-wrapper'>
                            <h2></h2>
                            <div class="body-text-small">
                                <span>ACCOUNT CREDIT: </span><span class='account-credit'></span>
                            </div>
                        </div>
                    </div>
                    <div class="account-profpic-container">
                        <img class='small-profile-pic' src='' />
                    </div>
                    <div class="account-settings">
                        <h3>ACCOUNT SETTINGS</h3>
                        <div class="content">
                            <ul class="sub-content1 body-text-small">
                                <li><a href='change_contact.html'>CONTACT</a></li>
                                <li><a href='change_email.html'>EMAIL</a></li>
                                <li><a href='change_password.html'>PASSWORD</a></li>
                                <li><a href='delivery_address.html'>DELIVERY ADDRESS</a></li>
                                <li><a href='display_picture.html'>DISPLAY PICTURE</a></li>
                            </ul>
                            <ul class="sub-content2 body-text-small">
                                <li><a href='checkout.html'>PAYMENT METHODS</a></li>
                                <li>GIFT CARDS</li>
                                <li><a href='orderhistory.html'>ORDER HISTORY</a></li>
                                <li class='mobile-logout'>LOGOUT</li>
                            </ul>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/account.js'></script>
</body>

</html>
