<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish</title>
    <script type="text/javascript" src='../js/redirect.js'></script>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">

</head>

<body>
    <div id="account-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <span class="count">0</span>
                    <img src="../images/cart_icon.png">
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li>
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                    </ul>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
        <div id="page-container">
            <div class="accountNav">
                <div class="backNav">
                    <img src="../images/back_arrow.png">
                    <span><a href="account.html">BACK TO ACCOUNT</a></span>
                </div>
                <div class="logout body-text-bold">
                    <a id='logout'>LOG OUT</a>
                </div>
                <div class="admin-button body-text-bold">
                    <a href='admin/categories.html' id="admin-redirect">Admin Page</a>
                </div>
            </div>
            <div class="account-wrapper">
            <div class="account-container">
                <div class="account-header"><h3 style="color:#000">ORDER HISTORY</h3></div>
                <div id="accordion">
                    <ul>
                        <li>
                            <div class="accordion-header" style="border-top:none">
                                <h4 style="float: left;
                                padding-right: 116px;">
                                #123456
                                </h4>
                                <h4>
                                COMPLETE
                                </h4>
                            </div>
                            <div class="accordion-content body-text-small">
                                <div class="row">
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER TOTAL</div>
                                        <div class="order-content">$29.00</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER DATE</div>
                                        <div class="order-content">12/12/2015</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:20%">
                                        <div class="order-head">SHIPPING INFROMATION</div>
                                        <div class="order-content">
                                            <span>John Smith</span>
                                            <span>1234 Main Street</span>
                                            <span>New York, NY</span>
                                            <span>10001</span>
                                        </div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:25%">
                                        <div class="order-head">ITEMS ORDERD</div>
                                        <div class="order-content">
                                        <span>HERB CRUSTED CHICKEN BREAST * 2</span>
                                        <span>LANCASTER FARM BEEF BURGER</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                        <div class="accordion-header">
                                <h4 style="float: left;
                                padding-right: 116px;">
                                #123456
                                </h4>
                                <h4>
                                COMPLETE
                                </h4>
                            </div>
                             <div class="accordion-content body-text-small">
                                <div class="row">
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER TOTAL</div>
                                        <div class="order-content">$29.00</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER DATE</div>
                                        <div class="order-content">12/12/2015</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:20%">
                                        <div class="order-head">SHIPPING INFROMATION</div>
                                        <div class="order-content">
                                            <span>John Smith</span>
                                            <span>1234 Main Street</span>
                                            <span>New York, NY</span>
                                            <span>10001</span>
                                        </div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:25%">
                                        <div class="order-head">ITEMS ORDERD</div>
                                        <div class="order-content">
                                        <span>HERB CRUSTED CHICKEN BREAST * 2</span>
                                        <span>LANCASTER FARM BEEF BURGER</span></div>
                                    </div>
                                </div>
                            </div>
                            </li>
                            <li>
                        <div class="accordion-header">
                                <h4 style="float: left;
                                padding-right: 116px;">
                                #123456
                                </h4>
                                <h4>
                                IN PROGRESS
                                </h4>
                            </div>
                            <div class="accordion-content body-text-small">
                                <div class="row">
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER TOTAL</div>
                                        <div class="order-content">$29.00</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:15%">
                                        <div class="order-head">ORDER DATE</div>
                                        <div class="order-content">12/12/2015</div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:20%">
                                        <div class="order-head">SHIPPING INFROMATION</div>
                                        <div class="order-content">
                                            <span>John Smith</span>
                                            <span>1234 Main Street</span>
                                            <span>New York, NY</span>
                                            <span>10001</span>
                                        </div>
                                    </div>
                                    <div class="accordion-subcontent" style="width:25%">
                                        <div class="order-head">ITEMS ORDERD</div>
                                        <div class="order-content">
                                        <span>HERB CRUSTED CHICKEN BREAST * 2</span>
                                        <span>LANCASTER FARM BEEF BURGER</span></div>
                                    </div>
                                </div>
                            </div>
                            </li>
                    </ul>
                </div>
            </div> 
            </div>    
        </div>
    </div>
	<script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
	<script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/account.js'></script>
</body>

</html>