<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">

</head>

<body>
    <div id="account-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <span class="count">0</span>
                    <img src="../images/cart_icon.png">
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="navMenu"style="display:none">
                    <ul>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li >
                            <a href="/">LOG IN</a>
                        </li>
                        <li>
                            <a href="/">SIGN UP</a>
                        </li>
                    </ul>
                </div>
               <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
        <div id="page-container">
            <div class="accountNav">
                <div class="logout body-text-bold">
                    <a id='logout'>LOG OUT</a>
                </div>
            </div>
            <div class="account-wrapper">
            <div class="account-container">
                <div class="account-header">
                    <h2>JOHN SMITH'S ACCOUNT</h2>
                    <div class="body-text-small">
                        ACCOUNT CREDIT: $0.00
                    </div>
                </div>
                <div class="account-settings">
                    <h3>ACCOUNT SETTINGS</h3>
                    <div class="content">
                        <ul class="sub-content1 body-text-small">
                            <li><a href='change_contact.html'>CONTACT</a></li>
                            <li><a href='change_email.html'>EMAIL</a></li>
                            <li><a href='change_password.html'>PASSWORD</li>
                            <li>DELIVERY ADDRESS</li>
                        </ul>
                        <ul class="sub-content2 body-text-small">
                            <li>PAYMENT METHODS</li>
                            <li>GIFT CARDS</li>
                            <li>ORDER HISTORY</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>     
        </div>
    </div>
	<script type="text/javascript" src='../js/jquery.min.js'></script>
	<script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/account.js'></script>
</body>

</html>