<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meisterdish - Change Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">

</head>

<body>
    <div id="account-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                 <div class="backNav-mobile">
                    <span>
                        <a href="account.html">
                            <img src="../images/back_arrowMobile.png">
                        </a>
                    </span>
                    <span><a href="account.html">BACK TO ACCOUNT</a></span>
                </div>
                <div class="cart pullRight">
                    <a href="#">
                        <span class="count">0</span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="logo-mobile-container">
                    <a href="index.html">
                        <img class="pullLeft logo-mobile" src="../images/logo.png" alt="MeisterDish">
                    </a>
                </div>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="../index.html">HOME</a>
                        </li>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li class="login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                <a href="">CONTACT</a>
                                </li>
                                <li>
                                <a href="">PRIVACY & TERMS</a>
                                </li>
                                <li >
                                <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
        <div id="page-container"> 
            <div class="checkout-wrapper">
                <div class="left-wrapper">
                <div class="delivery-time-container box-border">
                    <div class="time-container ">
                        <div class="checkout-header">
                            <span>DELIVERY TIME</span>
                        </div>
                        <div class="contents contents-time-date">
                            <div class="today-content">
                                <span class="content-heading"></span>
                                <input type="button" data-hr='4' value="4-5pm" class="checkout-time-button set-time-button">
                                <input type="button" data-hr='5' value="5-6pm" class="checkout-time-button set-time-button">
                                <input type="button" data-hr='6' value="6-7pm" class="checkout-time-button set-time-button">
                                <input type="button" data-hr='7' value="7-8pm" class="checkout-time-button set-time-button">
                                <input type="button" data-hr='8' value="8-9pm" class="checkout-time-button set-time-button">
                            </div>
                            <div class="week-content">
                                <span class="content-heading">THIS WEEK</span>
                                <div class="date-content">
                                    <input type="button" value="" class="checkout-time-button">
                                 <!--    <input type="button" value="" class="checkout-time-button">
                                    <input type="button" value="" class="checkout-time-button">
                                    <input type="button" value="" class="checkout-time-button">
                                    <input type="button" value="" class="checkout-time-button"> -->
                                </div>
                                <div class="time-content">
                                    <input type="button" data-hr='5' value="4-5pm" class="checkout-time-button button-disabled set-time-button">
                                    <input type="button" data-hr='6' value="5-6pm" class="checkout-time-button button-disabled set-time-button">
                                    <input type="button" data-hr='7' value="6-7pm" class="checkout-time-button button-disabled set-time-button">
                                    <input type="button" data-hr='8' value="7-8pm" class="checkout-time-button button-disabled set-time-button">
                                    <input type="button" data-hr='9' value="8-9pm" class="checkout-time-button button-disabled set-time-button">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-order-container">
                        <div class="checkout-header">
                            <span>YOUR ORDER</span>
                        </div>
                        <div class="contents">
                            <div class="order-list-container">
                                <div class="order-list-header">                        
                                    <span class="content-heading">ITEMS</span>
                                    <span class="content-heading">QUANTITY</span>
                                    <span class="content-heading">PRICE</span>
                                </div>
                                <div class="emtpy-cart-message body-text-small">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="delivery-info-container box-border">
                    <div class="delivery-info">
                        <div class="checkout-header">
                                <span>DELIVERY INFO</span>
                            </div>
                        <div class="address-info">
                        </div>
                        <div class="address-info-guest">
                        <div class="content">
                            <span class="content-heading">Do you have an account? <a href='login.html' class='green'>Log In here</a></span>
                            <form id="guest-address-info" novalidate="novalidate">
                                <div class="section1">
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">First Name</label>
                                        <input type="text" name="firstname" class="popup-input">
                                    </div>
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Last Name</label>
                                        <input type="text" name="lastname" class="popup-input">
                                    </div>
                                </div>
                                <div class="section2">
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Delivery Address</label>
                                        <div class="primary-wrapper">
                                            <input type="checkbox" name="is-primary" class="popup-input checkbox">
                                            <span class="checkbox-span">Primary</span>
                                        </div>
                                        <input type="text" name="street" class="popup-input" id="address-line-1" style="
                                        margin-bottom: 30px;
                                        ">
                                        <input type="text" name="building" class="popup-input" id="address-line-2">
                                    </div>
                                </div>
                                <div class="section3">
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">City</label>
                                        <div class="styled-select">
                                            <select class="city-selector" name="city">
                                            <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Zip</label>
                                        <input type="text" name="zip" class="popup-input">
                                    </div>
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Phone</label>
                                        <input type="text" name="phonenumber" class="popup-input">
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" id="add-guest-address" value="ADD" class="btn btn-small-primary medium-green">
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="payment-info">
                        <div class="checkout-header">
                            <span>PAYMENT METHOD</span>
                        </div>
                    <div class="payment-method-container">
                        <div class="contents">
                         <div class="paypal-container" style="display:none">
                                <input type="radio" id="pp" name="payment-radio">
                                <span class="content-heading"><input type="checkbox" id="pay-using-paypal"/>PAY WITH PAY PAL</span>
                                <img class='paypal' src="../images/paypal_button.png">
                            </div>
                            <div class="credit-card-container">
                                <span class="content-heading">PAYING WITH CREDIT CARD</span>
                                <div class="saved-cards"></div>
                             </div>
                             <span class="change-address-payment" id="change-payment-method">CHANGE PAYMENT METHOD</span>
                        </div>
                    </div>
                    <div class="payment-method-guest-container">
                        <div class="content">
                            <div class="paypal-container">
                                <input type="radio" id="pp" name="payment-radio">
                                <span class="content-heading"><input type="checkbox" id="pay-using-paypal"/>PAY WITH PAY PAL</span>
                                <img class='paypal' src="../images/paypal_button.png">
                            </div>
                            <div class="pay-by-credit-container">
                                 <input type="radio" id="cc" name="payment-radio">
                                 <span class="content-heading"><input type="checkbox" id="pay-using-card"/>PAY BY CREDIT CARD</span>
                                 <form id="pay-form">
                                     <div class="forminput-wrapper">
                                            <label class="body-text-small">Credit card number</label>
                                            <input type="text" name="cardnumber" class="popup-input"id="card-number">
                                        </div>
                                        <div class="forminput-wrapper">
                                            <label class="body-text-small">CVV</label>
                                            <input type="text" name="cvv" class="popup-input" id="cvv-number">
                                        </div>
                                         <div class="forminput-wrapper">
                                            <label class="body-text-small">Expiry Date</label>
                                            <div class="styled-select">
                                                <select name="expirydate" id="ExpMonth">
                                                    <option value=""></option>
                                                    <option value="1">JAN</option>
                                                    <option value="2">FEB</option>
                                                    <option value="3">MAR</option>
                                                    <option value="4">APR</option>
                                                    <option value="5">MAY</option>
                                                    <option value="6">JUN</option>
                                                    <option value="7">JUL</option>
                                                    <option value="8">AUG</option>
                                                    <option value="9">SEP</option>
                                                    <option value="10">OCT</option>
                                                    <option value="11">NOV</option>
                                                    <option value="12">DEC</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span class="div">/</span>
                                         <div class="forminput-wrapper">
                                            <div class="styled-select">
                                                <select id="ExpYear">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="forminput-wrapper">
                                             <label class="body-text-small">Billing Zip</label>
                                            <input type="text" name="zip" class="popup-input" id="billing-zip">
                                        </div>
                                        <div class="button">
                                            <input type="checkbox" name="save-card-details" id="save-credit-card" disabled="disabled"><span>Save card details?</span>
                                        </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="right-wrapper">
                    <div class="receipt-container">
                        <div class="checkout-header">
                            <span>RECEIPT</span>
                        </div>
                        <div class="contents">
                            <div class="items-container">
                                <span class="content-heading">ITEMS</span>
                                <div class="inner-content body-text-small">
                                    <span>Items<span class='item-count'></span></span>
                                    <span class='total-item-cost'></span>
                                </div>
                                <div class="inner-content body-text-small">
                                    <span>Delivery</span>
                                    <span class='total-delivery-cost'>$2.00</span>
                                </div>
                                <div class="inner-content body-text-small">
                                    <span>Tax</span>
                                    <span class='total-tax-cost'></span>
                                </div>
                            </div>
                            <div class="driver-tip-container">
                                <span class="content-heading">DRIVER TIP</span>
                                <div class="inner-content body-text-small">
                                    <div class="styled-select">
                                        <select class='driver-tip' name="driver-tip">
                                            <option data-amount='0' value="">$0</option>
                                            <option data-amount='1' value="">$1</option>
                                            <option data-amount='2' value="">$2</option>
                                            <option data-amount='3' value="">$3</option>
                                            <option data-amount='4' value="">$4</option>
                                            <option data-amount='5' value="">$5</option>
                                            <option data-amount='6' value="">$6</option>
                                            <option data-amount='7' value="">$7</option>
                                            <option data-amount='8' value="">$8</option>
                                            <option data-amount='9' value="">$9</option>
                                            <option data-amount='10' value="">$10</option>
                                        </select>
                                    </div>
                                    <span class='driver-tip-display'>$0.00</span>
                                </div>
                            </div>
                            <div class="gift-card-container">
                                <span class="content-heading">GIFT CARD?</span>
                                <hr>
                            </div>
                            <div class="total-container">
                                <span>TOTAL</span>
                                <span class='total-cost'></span>
                            </div>
                            <div class="instruction-container">
                                <span class="content-heading">DRIVER INSTRUCTIONS</span>
                                <input type="text" placeholder="Anything that might help our drive to get you faster" id="driver-description">
                                <div style="width:100%;text-align:center">
                                    <a href="#" class="btn btn-small-primary medium-green" id="place-order">PLACE ORDER</a>
                                </div>
                            </div>
                        </div>
                        <span class="caption">
                        By placing your order, you agree to our terms and conditions
                    </span>
                    </div>
                </div>
            </div>          
            <div class="popup-message">
                <span></span>
            </div> 
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <span>SOMTHING WENT WRONG</span>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="address-payment-list-popup">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header">SELECT YOUR DELIVERY ADDRESS</div>
                    <div class="popup-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
	<script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/account.js'></script>
    <script type="text/javascript" src='../js/checkout.js'></script>
</body>

</html>