<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<h1>HEADING 1</h1>
	<h2>Sample page</h2>
	<h3>Sample page</h3>
	<h4>Sample page</h4>

	<a href="#" class="btn btn-small-primary medium-green">Sign up</a>
	<a href="#" class="btn btn-small-extended medium-green">Let me know</a>
	<a href="#" class="btn btn-small-secondary">Copy</a>
	<br>
	<a href="#" class="btn btn-medium-primary medium-green">Sign up</a>
	<a href="#" class="btn btn-medium-extended medium-green">Let me know</a>
	<a href="#" class="btn btn-medium-secondary">Copy</a>
	<br>
	<a href="#" class="btn btn-large-primary medium-green">Sign up</a>
	<a href="#" class="btn btn-large-extended medium-green">Let me know</a>
	<a href="#" class="btn btn-large-secondary medium-green">Copy</a>
	<div class='body-text-big'>Body 0</div>
	<div class='body-text-small'>Body 2</div>
	<div class='body-text-bold'>Body 1</div>
	<div class='caption'>caption</div>
	<i class="icon-basket"></i>
	<script type="text/javascript" src='js/jquery.min.js'></script>
	<script type="text/javascript" src='js/ajax_reusable.js'></script>
</body>

</html>
