<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">

</head>

<body>
    <div id="mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <span class="count">0</span>
                    <img src="../images/cart_icon.png">
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li>
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                    </ul>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
        <div id="page-container">
            <div class="accountNav">
                <div class="backNav">
                    <img src="../images/back_arrow.png">
                    <span><a href="account.html">BACK TO ACCOUNT</a></span>
                </div>
                <div class="logout body-text-bold">
                    <a id='logout'>LOG OUT</a>
                </div>
                <div class="admin-button body-text-bold">
                    <a href='admin/categories.html' id="admin-redirect">Admin Page</a>
                </div>
            </div>
            <div class="account-wrapper">
                <div class="account-container" id="editaddress-container">  
                    <div class="account-header">MANAGE YOUR DELIVERY ADDRESSES</div>
                    <div class="content">
                            <ol>
                                <li class="address">
                                    <!-- <span class="index">1.</span> -->
                                    <div class = "button">
                                        <a href="#" class=" edit-button btn btn-small-secondary">EDIT</a>
                                    </div>
                                    <div class="address-content">
                                        <span>John Smith</span>
                                        <span>123 East 12th St, PH1A</span>
                                        <span>New York, NY 10001</span>
                                        <span>917-123-4567</span>
                                        <span class="green">PRIMARY ADDRESS</span>
                                    </div>
                                    
                                </li>

                                <li class="address">
                                   <div class = "button">
                                        <a href="#" class=" edit-button btn btn-small-secondary">EDIT</a>
                                        <a href="#" class="remove-button btn btn-small-secondary">REMOVE</a>
                                    </div>
                                    <div class="address-content">
                                        <span>John Smith</span>
                                        <span>123 East 12th St, PH1A</span>
                                        <span>New York, NY 10001</span>
                                        <span>917-123-4567</span>
                                        <span>MAKE THIS YOUR PRIMARY ADDRESS</span>
                                    </div>
                                </li>

                                <li class="address">
                                    <div class = "button">
                                        <a href="#" class=" edit-button btn btn-small-secondary">EDIT</a>
                                        <a href="#" class="remove-button btn btn-small-secondary">REMOVE</a>
                                    </div>
                                    <div class="address-content">
                                        <span>John Smith</span>
                                        <span>123 East 12th St, PH1A</span>
                                        <span>New York, NY 10001</span>
                                        <span>917-123-4567</span>
                                        <span>MAKE THIS YOUR PRIMARY ADDRESS</span>
                                    </div>
                                </li>
                                <li class="address">
                                    <div class = "button">
                                        <a href="#" class=" edit-button btn btn-small-secondary">EDIT</a>
                                        <a href="#" class="remove-button btn btn-small-secondary">REMOVE</a>
                                    </div>
                                    <div class="address-content">
                                        <span>John Smith</span>
                                        <span>123 East 12th St, PH1A</span>
                                        <span>New York, NY 10001</span>
                                        <span>917-123-4567</span>
                                        <span>MAKE THIS YOUR PRIMARY ADDRESS</span>
                                    </div>
                                </li>
                            </ol>
                    </div>
                     <div class="button-changeaddress">
                        <a href="#" class="btn btn-large-primary medium-green" >UPDATE</a>
                        <a href="#" class="btn btn-large-secondary medium-green" id="add-address">ADD ADDRESS</a>
                    </div>
                </div>

            </div> 
            <div class="addresspopup-wrapper">
              <div class="bk-overlay"></div>
              <div class="addresspopup">
                <div class="header">ADDRESS</div>
               <!--  <img src="../images/close-exit-stop-button-icon.png" class="popup-close"> -->
                    <div class="container">
                        <form class="addaddress-popup">
                            <input type="text" name="fullname" placeholder="Full Name" class="popup-input">
                            <input type="text" name="phonenum" placeholder="Phone" class="popup-input">
                            <input type="text" name="zip" class="popup-input" placeholder="zip">
                            <select>
                                <option selected>city</option>
                                <option>city 1</option>
                                <option>city 2</option>
                                <option>city 3</option>
                                <option>city 4</option>
                            </select>
                            <input type="text" name="street" class="popup-input" placeholder="street">
                            <input type="text" name="building" class="popup-input" placeholder="building">
                            <div class="button">
                                <a href="#" class="btn btn-small-primary medium-green" >ADD</a>
                                <a href="#" class="btn btn-small-primary medium-green" id="cancel">CANCEL</a>
                            </div>
                        </form>
                </div>
                </div>
            </div>    
        </div>
    </div>
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/account.js'></script>
    <script type="text/javascript" src='../js/delivery_address.js'></script>
</body>

</html>