<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Gift Cards Select</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/gift_cards.css">
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63283790-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <div id="privacy-wrapper" class='menu-wrapper'>
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo logo-tab" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <a href="checkout.html">
                        <span class="count"></span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="../index.html">HOME</a>
                        </li>
                        <li class="bold green">
                            <a href="menu.html">MENU</a>
                        </li>
                        <li>
                            <a href="How_it_works.html">HOW IT WORKS</a>
                        </li>
                        <li class="login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                    <a href="">CONTACT</a>
                                </li>
                                <li>
                                    <a href="">PRIVACY & TERMS</a>
                                </li>
                                <li>
                                    <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li class="bold green">
                        <a href="menu.html">MENU</a>
                    </li>
                    <li>
                        <a href="How_it_works.html">HOW IT WORKS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='giftcard-banner'>
                <img src='../images/giftcard_bg.jpg' />
            </div>
            <div class='giftcard-container contentArea'>
                <div class='giftcard-select-amount'>
                    <p>1. SELECT AN AMOUNT</p>
                    <div class='giftcard-selector'>
                        <div class='giftcard-amount pullLeft'><span>$50</span><span>.00</span></div>
                        <div class='giftcard-selector-checkbox pullLeft'>
                            <div>
                                <input id="giftcard50" type="radio" name="giftcard" value="1">
                                <label for="giftcard50"></label>
                            </div>
                        </div>
                    </div>
                    <div class="giftcard-selector">
                        <div class="giftcard-amount pullLeft"><span>$50</span><span>.00</span></div>
                        <div class="giftcard-selector-checkbox pullLeft">
                            <div>
                                <input id="giftcar100" type="radio" name="giftcard" value="1">
                                <label for="giftcar100"></label>
                            </div>
                        </div>
                    </div>
                    <div class="giftcard-selector giftcard-selected">
                        <div class="giftcard-amount pullLeft"><span>$50</span><span>.00</span></div>
                        <div class="giftcard-selector-checkbox pullLeft">
                            <div>
                                <input id="giftcard150" type="radio" name="giftcard" value="1">
                                <label for="giftcard150"></label>
                            </div>
                        </div>
                    </div>
                    <div class="giftcard-selector">
                        <div class="giftcard-amount pullLeft"><span>$50</span><span>.00</span></div>
                        <div class="giftcard-selector-checkbox pullLeft">
                            <div>
                                <input id="giftcard250" type="radio" name="giftcard" value="1">
                                <label for="giftcard250"></label>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footerContent">
            <ul class="footer-links">
                <li class="socialMedia" id="facebook"></li>
                <li class="socialMedia" id="twitter"></li>
                <li class="socialMedia" id="instagram"></li>
                <li class="socialMedia" id="pinterest"></li>
            </ul>
            <ul>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Privacy & Terms</a>
                </li>
                <li>
                    <a href="">Help</a>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/gift_cards.js'></script>
</body>

</html>
