<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:title" content="Meisterdish – New York's first on-demand delivery service that lets you cook in 15 minutes" />
        <meta property="og:image" content="http://meisterdish.qburst.com/images/fb_banner_meister_14-10-15.jpg" />
        <meta property="og:description" content="For a limited time only, all first-time customers receive $20 towards their first two orders.
              Use promo code MEISTER20 on our landing page." /> 
        <title>Meisterdish - Help Center</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/fontello.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css">
        <link rel="stylesheet" type="text/css" href="../css/help.css">
        <script type="text/javascript" src='../js/validate-session.js'></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-63283790-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div id="privacy-wrapper" class='menu-wrapper'>
            <header id="header">
                <div class="contentArea">
                    <a href="../index.html"><img class="pullLeft logo logo-tab" src="../images/logo.png" alt="MeisterDish"></a>
                    <div class="cart pullRight">
                        <a href="checkout.html">
                            <span class="count"></span>
                            <img src="../images/cart-icon.png">
                        </a>
                    </div>
                    <span class="icon-menu pullRight"></span>
                    <div class="navMenu" style="display:none">
                        <ul>
                            <li>
                                <a href="../index.html">HOME</a>
                            </li>
                            <li>
                                <a href="menu.html">MENU</a>
                            </li>
                            <li>
                                <a href="how-it-works.html">HOW IT WORKS</a>
                            </li>
                            <li>
                                <a href="#">GIFTS</a>
                            </li>
                            <li class="login-signup">
                                <a href="login.html">LOG IN</a>
                            </li>
                            <li class='login-signup'>
                                <a href="signup.html">SIGN UP</a>
                            </li>
                            <li id="navbar-username" class="bold green">
                                <a href='account.html'></a>
                            </li>
                        </ul>
                        <footer id="footer-navMenu">
                            <div class="footerContent">
                                <ul>
                                    <li>
                                        <a href="contact-us.html">CONTACT</a>
                                    </li>
                                    <li>
                                        <a href="privacy-terms.html">PRIVACY & TERMS</a>
                                    </li>
                                    <li>
                                        <a href="help.html">HELP</a>
                                    </li>
                                </ul>
                                <ul class='social-media-icons'>
                                    <li class='sml_sprite facebook'><a href='http://www.facebook.com/meisterdish' target="_blank"></a></li>
                                    <li class='sml_sprite twitter'></li>
                                    <li class='sml_sprite instagram'></li>
                                    <li class='sml_sprite pintrest'></li>
                                </ul>
                            </div>
                        </footer>
                    </div>
                    <ul id="menu" class="pullRight">
                        <li>
                            <a href="menu.html">MENU</a>
                        </li>
                        <li>
                            <a href="how-it-works.html">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="#">GIFTS</a>
                        </li>
                        <li class="bold login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="page-container">
                <div class='help-banner'>
                    <div class="h0">HELP CENTER</div>
                </div>
            </div>
            <div class='contentArea'>
                <section id="faqSection" class="left-section">
                    <h3>FREQUENTLY ASKED QUESTIONS</h3>

                    <!-- General Questions -->
                    <div class="question-block">
                        <h4>GENERAL QUESTIONS</h4>   
                        <fieldset class="question">
                            <div>What is On-Demand Delivery?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Yes, we deliver when you want to cook. No subscription and planning ahead. No storage. No waste.</p> 
                                    <p>If you order for “NOW”, we typically deliver within 20-40 minutes. We recommend that you order in the morning or for the next day to make sure that your preferred delivery time is available.</p>
                                </legend>
                            </fieldset>
                            <div>Do your meals fit into a health-conscious lifestyle?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Definitely. While we’re not a diet or calorie-restrictive service, we promote cooking from fresh ingredients, providing you with the transparency and the control over what you eat. It is undoubtedly better than relying on restaurant food, take out or any ready-to-cook meals.</p>
                                    <p>Our Meisterdish chefs and nutritionists curate menus so you can eat healthy, well-balanced meals with seasonal, responsibly sourced ingredients.</p>
                                </legend>
                            </fieldset>
                            <div>Cancel or Change Your Order</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We know life is unpredictable. You can cancel an item or the entire order as late as 10AM on the day of your delivery sending us an email to contact@meisterdish.com. If you miss that cutoff, please call us at (917) 388-3566 and we'll try to accommodate you as best we can. Refunds can take up to 3 days before they are reflected on your payment method. Applicable delivery charges are also included in your refund.</p>
                                </legend>
                            </fieldset>
                        </fieldset>
                    </div>
                    <!-- GETTING STARTED -->
                    <div class="question-block">
                        <h4>GETTING STARTED</h4>   
                        <fieldset class="question">
                            <div>Checking the Menu</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Menu choices</p>
                                    <p>Everyday we offer a choice of Entrée with sides and entrée-sized pastas or salads. We change our menu almost daily to offer you something interesting, new and fresh.</p>

                                    <p>Dietary options</p>
                                    <p>To view a complete description of the dish, click on the image of the item. If you notice the dietary labels in the detailed meal view, you will see that we have a selection of meals on the menu that are Dairy Free, Gluten Free, Vegetarian, Vegan or Nut Free. These labels will help guide you in choosing what meals fit your preferences and needs.</p>

                                    <p>Detailed Information about a Meal Item</p>
                                    <p>To view a complete description of the dish, click on the item image. This page will give you more information about the dish including, calories and dietary information, preparation steps we have done for you and cooking steps you need to do (do not worry, every meal comes with easy to follow step-by-step cooking instructions), all the basics you need in your kitchen, the list of ingredients, tips and tricks, nutrition table, and recent reviews for the dish. To return to the menu page, click on “Back to Menu” in the upper left-hand corner of the screen.</p>

                                    <p>Ordering</p>
                                    <p>Once you've made the decision of what you're going to order, click on (ADD) below your desired choice. This will place one Meisterdish box (2 servings of the item) in your shopping cart, ready to checkout. All our meals come in a minimum serving size of 2. If you want just a single serving size, feel free to half the portions and keep one serving for the next day. Or just cook right away for your next day lunch or dinner. Or simply invite your neighbors. They will be impressed on how well you cook!</p>

                                    <p>Proceed through checkout and you'll receive your meals when you want them.</p>
                                </legend>
                            </fieldset>
                            <div>What do I need to cook a Meisterdish meal?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>You only need a basic equipped kitchen. If you have the following you are set for all of our Meisterdishes:  </p>

                                    <p>Salt, pepper and olive oil. We recommend a pepper mill, fresh ground pepper enhances the taste.</p>

                                    <p>A stove with two flames, two pans, two pots, knife and cutting board. Wooden spoon, strainer, spatula and two mixing bowls.</p>

                                    <p>If you do not have all of these at home do not worry, be creative! Most things can be improvised.  You will also see in the details of every menu item what you specifically will need in your kitchen.</p>
                                </legend>
                            </fieldset>
                        </fieldset>
                    </div>

                    <!-- ABOUT THE FOOD-->
                    <div class="question-block">
                        <h4>ABOUT THE FOOD</h4>   
                        <fieldset class="question">
                            <div>What are the meals like?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Our chefs select the freshest, seasonal ingredients. Often, they will source their ingredients from local, sustainable farms. You can easily know what goes into your meal by going to the meal description and clicking on the various ingredients and sources.
                                        Unlike a traditional restaurant with a fixed menu, our chefs' menus are constantly changing, which gives you great variety and seasonality. More selection means that you’ll never get bored with our offerings. But, we also bring back favorites that you have already cooked and enjoyed and perhaps by now, you can almost cook them blindfolded.
                                        A typical meal consists of multiple items including an entrée and one or more side dishes. Each meal comes in a minimum serving size of two adult portions.</p>
                                </legend>
                            </fieldset>
                            <div>What are the portions like?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>A typical meal consists of multiple items including an entrée and one or more side dishes. Each meal comes in a minimum serving size of two adult portions. </p>

                                    <p>For a restaurant-like dinner experience, we recommend to get for 2 people 2 boxes, combine one salad dish with one pasta or entrée dish. If you are looking for a quick weekday dinner, one box with two serving sizes will be fine for 2 persons. The calorie count on the boxes are per serving size.</p>

                                </legend>
                            </fieldset>
                            <div>What if I have a food allergy?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We take great care to ensure that all of our food is prepared safely. However, please note that meals are prepared and packed in a kitchen whose environment contains nuts, wheat, dairy, etc. Though best practices are used when preparing the meal, inadvertent cross-contamination may occur. As a result, we do not recommend that you order Meisterdish, if you have a sensitive food allergy.</p>
                                </legend>
                            </fieldset>
                            <div>Do you have a gluten-free plan?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>A lot of our recipes don't contain gluten, however, all food is processed in a facility that may contain traces of gluten and we do not have a specifically gluten-free or Paleo diet plan. </p>

                                    <p>Substitutions of ingredients from your home kitchen can help make recipes fit your dietary needs. Feel free to reach out to us at contact@meisterdish.com if you need suggestions.</p>
                                </legend>
                            </fieldset>
                            <div>Do you offer Vegetarian, Vegan and Gluten-Free options?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Meals are tagged with a green label marking them as vegan, vegetarian, gluten-free, nut-free, dairy-free, etc. Look for these tags to determine ingredients and allergy restrictions. Please note that meals are prepared in a kitchen whose environment contains nuts, wheat, dairy, etc. Though best practices are used when preparing the meal, inadvertent cross-contamination may occur. If you have a sensitive food allergy we recommend that you do not order Meisterdish.</p>
                                </legend>
                            </fieldset>
                        </fieldset>
                    </div>


                    <!-- DELIVERY-->
                    <div class="question-block">
                        <h4>DELIVERY</h4>   
                        <fieldset class="question">
                            <div>Do I need to be home?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>No, you do not have to be at home to receive your Meisterdish, you can have your order left on your door-step or with the door man. But remember, our food is very fresh and we ensure that it stays fresh until it reaches your door step. For sustainability reasons, our packaging is minimal and does not include insulation or cooler packs as it is not needed for the typical delivery.</p>

                                    <p>You will need to decide whether you are just a block away and it is fine to have the food wait for you at your door step, or ask your front desk whether they can put it in a fridge for you.</p>

                                    <p>For special drop-off instructions (e.g. leaving your order at your door-step in a cooler), please let us know in the “Driver Instructions” field during checkout.</p>
                                    <p>You can also place a cooler outside your home for us to drop-off your delivery. We will place your meal boxes inside the cooler. Please make sure the cooler has sufficient cooling packs to keep the meals within the temperature of food safety guidelines.</p>

                                    <p>Once your order has been dropped off, you will receive a text or phone call notifying you of the delivery.</p>
                                </legend>
                            </fieldset>
                            <div>Requirements for Cooler Drop-off</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>You must provide a cooler with an inner compartment measuring at least 10"(w) x 12"(l) x 12"(h). It must be in good condition with a tight seal. If you order more than two Meisterdish boxes, we suggest a larger cooler. Place this cooler in a safe, secure, and shaded location.</p>
                                    <p>We strongly recommend placing 1-2 ice or cooling packs in the cooler as well. A well-sealed cooler can maintain a safe temperature for over a day. It's your responsibility to ensure a safe and secure location for your cooler.</p>

                                </legend>
                            </fieldset>
                            <div>How do I handle gratuity for the delivery?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Gratuity is completely optional. If you would like to extend a tip, you can do so with either cash upon delivery, or specify an amount during the checkout process.</p>
                                </legend>
                            </fieldset>
                            <div>What do I do if my delivery does not come?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>In case your delivery did not come after 45min if you ordered on-demand “NOW”, or past your scheduled delivery slot, you should call our hotline at (917) 388-3566 and we will straighten this out for you right away.</p>
                                </legend>
                            </fieldset>
                            <div>On-Demand Delivery Restrictions</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Once placed, on-demand delivery orders are considered final. If you would like to order an additional menu item, you must place a second order (additional delivery charges may apply).</p>
                                </legend>
                            </fieldset>
                            <div>Will my food stay fresh in transit?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Yes, our entire process is designed for maximum freshness. Our delivery drivers are equipped with cooler boxes that ensure the optimum temperature after leaving our kitchen to your door-step. We recommend you put the Meistedish boxes in your refrigerator as soon as you receive them to maintain the freshness of your ingredients. Our meals are designed to be cooked either on the same day or next day to make sure you taste the freshness of the ingredients. We take pride in our uniquely fresh supply chain. Your ingredients will not be waiting on the grocery aisle or warm up whilst you stand in a cue and make your way home.</p>
                                </legend>
                            </fieldset>
                            <div>How long can I keep a Meisterdish meal box in the refrigerator?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We recommend to cook straight away or next day to benefit from the freshness of our ingredients. Some of the ingredients might stay fresh longer.</p>

                                    <p>We have founded Meisterdish to allow you to only order when you really want to cook. No more full fridges, food waste or leftovers. Meisterdish meals are fresher, tastier and healthier than any other dinner option.</p>
                                </legend>
                            </fieldset>
                        </fieldset>
                    </div>


                    <!-- PROMO CODES-->
                    <div class="question-block">
                        <h4>PROMO CODES</h4>   
                        <fieldset class="question">
                            <div>Do I have to use an entire promo credit at once?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>No, you do not need to use your entire promo credit in a single order. Any remaining balance will be left as credit on your Meisterdish account to be used towards any future orders. Unlike other websites, your Meisterdish credits never expire!</p>
                                </legend>
                            </fieldset>
                            <div>Can I combine two promo codes?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Unfortunately, our promotions are for new customers only (e.g., first-time orders) and cannot be combined with other promo codes. </p>
                                </legend>
                            </fieldset>
                            <div>How can I earn free meals or credit?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>You can earn free meals or Meisterdish account credit by inviting your friends to signup and order using your personal referral code.</p>

                                    <p>You can find your referral code in the Meisterdish website by tapping on “Share now” at the top of the menu page.</p>

                                    <p>Remember, personal referral codes should only be used for personal and non-commercial purposes. This means that you can share your invite link with your personal connections via social media where you are the primary content owner. Public distribution on sites where you are a contributor but not the primary content owner (e.g., Wikipedia, coupon websites) is not allowed. Promoting your referral code via search engine marketing (e.g., AdWords/Yahoo/Bing) is also not allowed.</p>

                                    <p>Meisterdish reserves the right to suspend your account and revoke any referral credits if they were earned against our terms.</p>
                                </legend>
                            </fieldset>                         
                        </fieldset>
                    </div>

                    <!-- GIFT CARDS-->
                    <div class="question-block">
                        <h4>GIFT CARDS</h4>   
                        <fieldset class="question">
                            <div>Can I purchase a gift card for someone?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Absolutely, go to our Gift Cards page. Gift cards are perfect for just about any special occasion. To redeem the gift card, just provide the gift card code during checkout.</p>
                                </legend>
                            </fieldset>
                            <div>Do gift cards expire?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Our gift cards never expire. After making an order with a gift card, any remaining balance is applied to the account as credit.</p>
                                </legend>
                            </fieldset>
                            <div>How do I redeem my gift card?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>To redeem a gift card, just provide the gift card code during checkout. We recommend that you sign up first for an account, so that you do not have to use the entire gift card on one “guest check-out” order. If you are signed in, any amount that is not used will be credited to your account.</p>
                                </legend>
                            </fieldset>                         
                        </fieldset>
                    </div>

                    <!-- YOUR ACCOUNT SETTINGS -->
                    <div class="question-block">
                        <h4>YOUR ACCOUNT SETTINGS</h4>   
                        <fieldset class="question">
                            <div>How do I change my password?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Click on your name on the top of the page to enter account settings. Click on “PASSWORD”, enter your old password, and your new password (twice to confirm). If you do not remember your email, please email contact@meisterdish.com</p>
                                </legend>
                            </fieldset>
                            <div>What if I have forgotten my password?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>No problem, go on log-in. Click “Forgot my password” and we will send you a link to reset your password.</p>
                                </legend>
                            </fieldset>
                            <div>How do I unsubscribe from the email newsletter?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Go to your account settings page and select EMAIL. You can opt out of our email newsletter.</p>
                                </legend>
                            </fieldset>  
                            <div>Is this site secure for my credit card?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We take security seriously. The top-tier credit card vendor Stripe used by leading companies backs Meisterdish. Your credit card number is never stored on any of our servers.</p>
                                </legend>
                            </fieldset> 
                        </fieldset>
                    </div>

                    <!-- RECIPES & INGREDIENTS -->
                    <div class="question-block">
                        <h4>RECIPES & INGREDIENTS</h4>   
                        <fieldset class="question">
                            <div>What comes in each delivery?</div>    
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Your Meisterdish delivery comes with all the ingredients you need, in exactly the right proportions to cook your dinner. What is special about Meisterdish is that it is designed to maximize the result but minimize the effort you need to put in. Our ingredients come cleaned, cut and diced, so that you can cook in 15 minutes (or less). To preserve maximum freshness we generally do not cut herbs and some types of fruit and vegetables. But those steps will be easy and fast. In addition, each dish comes with a beautifully printed recipe card and step-by-step instructions that are well illustrated to make it as easy as possible for you. Success guarantee included!</p>

                                    <p>The only things we assume you will have in your pantry are salt, pepper and olive oil.</p>
                                </legend>
                            </fieldset>
                            <div>Are your ingredients organic?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We source the best quality products available, and purchase as many ingredients as we can from local, family-run suppliers with sustainable practices. Our meats are naturally raised, and we work with top fishermen to bring you the freshest seafood each week.</p>
                                    <p>While not all of our ingredients are certified as organic, we work with many small family farms and artisanal purveyors—please feel free to visit our Suppliers page to find out more on our partners.</p>
                                </legend>
                            </fieldset>
                            <div>Where do you source your ingredients?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>We source the best quality products available and purchase as many ingredients as we can from local, family-run suppliers with sustainable practices.</p>

                                    <p>We work with many small family farms and artisanal purveyors—please feel free to visit our Suppliers page to find out more about our partners.</p>
                                </legend>
                            </fieldset>  
                            <div>How long does the food stay fresh?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Our meals are curated to be packed each morning so that you can taste the freshness of the local ingredients. It is best to cook the same day that you receive your Meisterdish, but if you happen to cook the next day, it will still be fresh and tasty.</p>
                                </legend>
                            </fieldset> 
                            <div>What if my delivery is missing an ingredient?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <p>Please email contact@meisterdish.com and we will make it right.</p>
                                </legend>
                            </fieldset> 
                            <div>Do you provide nutritional and calorie information?</div>
                            <fieldset class="answer-block">
                                <legend>
                                    <!--<p>We provide calorie information for each of our recipes listed under the ingredients.</p>-->
                                    <p>We provide calorie information for each of our recipes listed under details of the meal (click on the meal photo).</p>

                                    <p>Since the exact nutrient amounts will depend on varying sizes of produce and the amount of olive oil and salt you use when cooking, we aren't able to provide full nutritional information.</p>
                                </legend>
                            </fieldset> 
                            <div class="contact-us"><a href="contact-us.html">Have more questions? Contact Us</a></div>
                        </fieldset>
                    </div>

                </section>


                <section id="contactUsSection" class="right-section">
                    <h3>CONTACT US</h3>
                    <ul class="contact-details">
                        <li class="details-list">
                            <span class="list-header">EMAIL US</span>
                            <span>Send us any feedback, press enquiries, job</span>
                            <span>applications, or just say hi, at:</span>
                            <span class="bold-span">contact@meisterdish.com</span>
                        </li>
                        <li class="details-list">
                            <span class="list-header">CALL US</span>
                            <span class="bold-span">(917) 388-3566</span>
                            <span>Mon-Fri 10AM-6PM EST</span>
                        </li>
                        <li class="details-list">
                            <span class="list-header">FOR PICKUP</span>
                            <span class="bold-span">Meisterdish Upper East Side</span>
                            <span>218 East 81st Street</span>
                            <span>New York, NY</span>
                            <span>10028</span>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <span></span>
                        </div>
                        <div class="button">
                            <a class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="slider-footer">
            <div class="footerContent">
                <ul class='footer-list'>
                    <li class='footer-non-social'>
                        <a href="contact-us.html">Contact us</a>
                    </li>
                    <li class='footer-non-social'>
                        <a href="privacy-terms.html">Privacy & Terms</a>
                    </li>
                    <li class='footer-non-social'>
                        <a href="help.html">Help</a>
                    </li>
                    <li class='footer-non-social'>
                        <p class='meisterdish-copyright'>&#169 2015 MEISTERDISH</p>
                    </li>
                    <li class='social-media-icons-parent'>
                        <ul class='social-media-icons'>
                            <li class='sml_sprite facebook'><a href='http://www.facebook.com/meisterdish' target="_blank"></a></li>
                            <li class='sml_sprite twitter'></li>
                            <li class='sml_sprite instagram'></li>
                            <li class='sml_sprite pintrest'></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src='../js/jquery.min.js'></script>
        <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
        <script type="text/javascript" src='../js/ajax-reusable.js'></script>
        <script type="text/javascript" src='../js/common.js'></script>
        <script type="text/javascript" src='../js/help.js'></script>
    </body>

</html>
