<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish -How it works Page</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/how_it_works.css">
    <script type="text/javascript" src='../js/validate_session.js'></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63283790-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <div id="mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo logo-tab" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="backNav-mobile" style="display:none">
                    <span>
                        <a href="how-it-works.html">
                            <img src="../images/back_arrowMobile.png">
                        </a>
                    </span>
                    <span><a href="how-it-works.html">BACK TO HOW IT WORKS</a></span>
                </div>
                <div class="cart pullRight">
                    <a href="checkout.html">
                        <span class="count"></span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="logo-mobile-container">
                    <h3>HOW IT WORKS</h3>
                    <a href="../index.html">
                        <img class="pullLeft logo-mobile" src="../images/logo.png" alt="MeisterDish">
                    </a>
                </div>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="../index.html">HOME</a>
                        </li>
                        <li>
                            <a href="menu.html">MENU</a>
                        </li>
                        <li>
                            <a href="how-it-works.html">HOW IT WORKS</a>
                        </li>
                        <!-- <li>
                            <a href="gift-cards-select.html">GIFTS</a>
                        </li> -->
                        <li class="login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                <a href="">CONTACT</a>
                                </li>
                                <li>
                                <a href="privacy-terms.html">PRIVACY & TERMS</a>
                                </li>
                                <li >
                                <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">MENU</a>
                    </li>
                    <li class="green bold">
                        <a href="how-it-works.html">HOW IT WORKS</a>
                    </li>
                    <!-- <li>
                        <a href="gift-cards-select.html">GIFTS</a>
                    </li> -->
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="how-it-works-tab">
            <div class="tab-container">
                        <div class="left-arrow-mobile">
                            <a class="prev-tab" href="#"><img src="../images/back_arrowMobile.png" /></a>
                        </div>
                        <div class="right-arrow-mobile">
                            <a class="next-tab" href="#"><img src="../images/back_arrowMobile.png" /></a>
                        </div>
                        <ul>
                            <li><a class='pc-tab activeli' href="#you-cook-container">YOU COOK</a></li>
                            <li><a class='pc-tab' href="#we-source-container">WE SOURCE</a></li>
                            <!-- <li><a class='pc-tab' href="#we-inspire">WE INSPIRE</a></li> -->
                            <li><a class='pc-tab' href="#we-prep">WE PREP</a></li>
                            <li><a class='pc-tab ' href="#we-deliver">WE DELIVER</a></li>
                        </ul>
                    </div>
            <div id="you-cook-container">
                <div id="you-cook">
                    <div class="image-wrapper"></div>
                    <div class="right-arrow"></div>
                    <div class="contentWrapper">
                        <h0 class="h0">YOU COOK</h0>
                        <div class="box-contentWrapper">
                            <h3>LEAVE THE REST TO US</h3>
                            <hr>
                            <p class="body-text-small">
                               Everyone loves the satisfaction and pride that comes from cooking a good meal. 
                            </p>
                            <p class="body-text-small">
                                But when did saying “I’ll cook” become such a big deal?
                            </p>
                            <p class="body-text-small">
                                Meisterdish allows you to enjoy the best part of kitchen – cooking.
                            </p>
                            <div class="button-container">
                                <a href="#" class="btn btn-small-extended medium-green" id="btn-what-you-get">WHAT YOU GET</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="what-you-get">
                    <div class="image-wrapper"></div>
                    <div class="left-arrow"></div>
                    <div class="sub-tab-container">
                                    <div class="left-arrow-mobile prev-sub-tab">
                                        <img src="../images/back_arrowMobile.png" />
                                    </div>
                                    <div class="right-arrow-mobile next-sub-tab">
                                        <img src="../images/back_arrowMobile.png" />
                                    </div>
                                    <ul>
                                        <li><a  data-id="#first-tab" class="subactiveli">LANCASTER FARM FRESH CO-OP</a></li>
                                        <li><a  data-id="#second-tab">ROAMING ACRES</a></li>
                                        <li><a  data-id="#third-tab"> BLUE RIBBON FISH CO.</a>
                                        </li>
                                        <li><a  data-id="#forth-tab">OAK GROVE PLANTATION</a></li>
                                        <li><a  data-id="#fifth-tab">COMMON THREAD COMMUNITY FARM </a></li>
                                        <span class="tablet-dropdown-btn"></span>
                                        <div class="tab-header-drop-down">
                                            <ul>
                                                <li><a  data-id="#second-tab">OAK GROVE PLANTATION</a></li>
                                                <li><a  data-id="#second-tab">COMMON THREAD COMMUNITY FARM </a></li>
                                            </ul>
                                        </div>
                                    </ul>
                                </div>
                    <div class="contentWrapper">
                        <div class="h0">WHAT YOU GET</div>
                        <div class="box-contentWrapper">
                            <h3>EVERYTHING YOU NEED</h3>
                            <hr>
                            <p class="body-text-small">
                               We've neatly placed everything Inside the 100% recyclable Meisterdish box. 
                            </p>
                            <p class="body-text-small">
                                Inside are the easy to follow instructions and all the ingredients you need to start cooking right away. 
                            </p>
                            <div class="group-image">
                                <img class="image-small" src="../images/how_it_works/wyg-1.jpg">
                                <img class="image-small" src="../images/how_it_works/wyg-2.jpg">
                                <img class="image-small" src="../images/how_it_works/wyg-3.jpg">
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div id="we-source-container">
                <div id="we-source">
                    <div class="image-wrapper"></div>
                    <div class="right-arrow"></div>
                    <div class="contentWrapper">
                        <h0 class="h0">WE SOURCE</h0>
                        <div class="box-contentWrapper">
                            <h3>LOCALLY GROWN PRODUCE</h3>
                             <hr>
                            <p class="body-text-small">
                               Our ingredients are sourced every day from local farmers.
                            </p>
                            <p class="body-text-small">
                                 Always the pick of the crop, our ingredients are carefully selected and pre-portioned for maximum taste and zero waste.
                            </p>
                            <div class="button-container">
                                <a href="#" class="btn btn-small-extended medium-green" id="btn-our-suppliers">OUR SUPPLIERS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="our-suppliers">
                    <div class="image-wrapper"></div>
                    <div class="left-arrow"></div>
                    <div class="contentWrapper">
                        <h0 class="h0">OUR SUPPLIERS</h0>
                        <div class="box-contentWrapper">
                            <div class="our-suppliers-tab">
                                <div class="sub-imageWrapper"></div>
                                <div class="sub-tab-container">
                                    <div class="left-arrow-mobile prev-sub-tab">
                                        <img src="../images/back_arrowMobile.png" />
                                    </div>
                                    <div class="right-arrow-mobile next-sub-tab">
                                        <img src="../images/back_arrowMobile.png" />
                                    </div>
                                    <ul>
                                        <li><a  data-id="#farm" class="subactiveli">LANCASTER FARM FRESH CO-OP</a></li>
                                        <li><a  data-id="#roamimg-acres">ROAMING ACRES</a></li>
                                        <li><a  data-id="#blue-ribbon-fish"> BLUE RIBBON FISH CO.</a>
                                        </li>
                                        <li><a  data-id="#plantation">OAK GROVE PLANTATION</a></li>
                                        <li><a  data-id="#common-thread-farm">COMMON THREAD COMMUNITY FARM </a></li>
                                        <span class="tablet-dropdown-btn"></span>
                                        <div class="tab-header-drop-down">
                                            <ul>
                                                <li><a  data-id="#plantation">OAK GROVE PLANTATION</a></li>
                                                <li><a  data-id="#common-thread-farm">COMMON THREAD COMMUNITY FARM </a></li>
                                            </ul>
                                        </div>
                                    </ul>
                                </div>
                                <div id="farm">
                                    <div class="sub-contentWrapper">
                                        <h3>LANCASTER FARM FRESH COOPERATIVE </h3>
                                         <hr>
                                        <p class="caption">
                                            <img src="../images/link.png"><a href="https://www.lancasterfarmfresh.com">WWW.LANCASTERFARMFRESH.COM </a>
                                        </p>
                                        <p class="body-text-small">
                                             Lancaster Farm Fresh is a non profit organic farmers cooperative of 75 farmers in Lancaster County Pennsylvania. They focus on creating healthy high quality foods from their highly maintained and enriched soils on small scale family farms. XXX Farm is operated by Y who grows 5,000 cows on 50.000 acres. 
                                        </p>                                    
                                    </div>
                                </div>
                                <div id="roamimg-acres">
                                    <div class="sub-contentWrapper">
                                        <p class="body-text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                                <div id="blue-ribbon-fish">
                                    <div class="sub-contentWrapper">
                                        <p class="body-text-small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                    </div>
                                </div>
                                <div id="plantation">
                                    <div class="sub-contentWrapper">
                                        <p class="body-text-small">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
                                    </div>
                                </div>
                                <div id="common-thread-farm">
                                    <div class="sub-contentWrapper">
                                        <p class="body-text-small">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="we-inspire">
                <div class="image-wrapper"></div>
                <div class="contentWrapper">
                    <h0 class="h0">WE INSPIRE</h0>
                    <div class="box-contentWrapper">
                        <h3>YOU CAN SAY IT WAS YOUR IDEA</h3>
                         <hr>
                        <p class="body-text-small">
                           Inspired by our desire to bring modern restaurant cuisine to your kitchen and dining table In minutes. we've partnered with top chefs to help us create a menu for everyone's taste.
                        </p>
                        <p class="body-text-small">
                             Some of our selected partner restaurants have shared the recipes to some of their most popular menu Items, so that you can recreate the meal In the comfort of your own home.
                        </p>
                        <p class="body-text-small">
                            Can you beat the masters at their own game? Maybe. Share your cooking success snaps on our Instagram and Pinterest. 
                        </p>
                        <div class="button-container">
                            <a href="#" class="btn btn-small-extended medium-green">OUR PARTNERS</a>
                            <div  class="socialMedia-links body-text-small">
                                <span class="socialMedia" id="instagram"></span>
                                <a>instagram</a>
                            </div>
                            <div  class="socialMedia-links body-text-small">
                                <span class="socialMedia" id="pinterest"></span>
                                <a>pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="we-prep">
                <div class="image-wrapper"></div>
                <div class="contentWrapper">
                    <h0 class="h0">WE PREP</h0>
                    <div class="box-contentWrapper">
                        <h3>YES, CHEF. WASHED & CHOPPED.</h3>
                         <hr>
                        <p class="body-text-small">
                           We’re taking the work out of cooking. 
                        </p>
                        <p class="body-text-small">
                            We thoroughly clean and perfectly portion our ingredients for your convenience, so you can have that 15 minutes back in your life.
                        </p>
                    </div>
                </div>
            </div>
            <div id="we-deliver">
                <div class="image-wrapper"></div>
                <div class="contentWrapper">
                    <h0 class="h0">WE DELIVER</h0>
                    <div class="box-contentWrapper">
                        <h3>QUICK DELIVERY ON DEMAND</h3>
                        <hr>
                        <p class="body-text-small">
                           Almost home and you realize your fridge is empty? Don’t worry–it happens to the best of us.
                        </p>
                        <p class="body-text-small">
                            Our delivery bikers are located in the heart of your neighborhood, ready to deliver straight to your door.
                        </p>
                        <p class="body-text-small">
                            Enter your ZIP code below to see if we deliver in your area.
                        </p>
                        <form class="button-container">
                            <div class="forminput-wrapper">
                                <input type="text" name="zip" class="text-input" id="zip-code">
                                <input type="submit" class="btn btn-small-extended medium-green" id="check-delivery-area" value="CHECK DELIVERY AREA">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <span></span>
                        </div>
                        <div class="button">
                            <a class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delivery-area-check-popup">
                <div class="bk-overlay"></div>
                <div class="popup-zip-fail">
                    <div class="header">
                        <img src="../images/cross_black.png" id="cancel">
                    </div>
                    <div class="popup-container">
                        <div class="content deliver-message">
                            <span></span>
                        </div>
                        <form id="validate-email">
                            <div class="username-wrapper">
                                <label class="body-text-small" for="username">Drop your email here
                            </label>
                                <input class="arrange" value="" type="email" name="email" id="username" maxlength="50" autofocus>
                            </div>
                            <div class="button">
                                <a class="btn btn-small-secondary" id="submit-email">submit</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/jquery-ui.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/how_it_works.js'></script>

</body>