<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish -Meal Details Page</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/meal-details.css">
    <script type="text/javascript" src='../js/validate_session.js'></script>
    <script type="text/javascript" src="https://youtube.com/player_api"></script>
    
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63283790-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <div id="meal-details-wrapper" class='menu-wrapper'>
        <header id="header">
            <div class="contentArea">
                <div class="backNav">
                    <a href="menu.html"><img src="../images/back_menu.png"></a>
                    <span><a href="menu.html">BACK TO MENU</a></span>
                </div>
                <div class="cart pullRight">
                    <a href="checkout.html">
                        <span class="count"></span>
                        <img src="../images/cart-icon.png">
                    </a>
                </div>
            </div>
        </header>
        <div class="contentArea content-wrapper">
            <div class='meal-content'>
                <div class='meal-details'>
                    <div class='meal-details-main'>
                        <p class='h0 meal-name'></p>
                        <h4 class='meal-ingredients'></h4>
                        <div class="rating" id='meal-rating'>
                            <span>
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1" data-id="5">
                                <label for="rating-input-1-5" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1" data-id="4">
                                <label for="rating-input-1-4" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1" data-id="3">
                                <label for="rating-input-1-3" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1" data-id="2">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1" data-id="1">
                                <label for="rating-input-1-1" class="rating-star"></label>
                            </span>
                            <span class='rating-count mark'></span>
                        </div>
                    </div>
                    <div class='meal-price-rating'>
                        <span class='price'></span>
                        <span class="per-serving-text">PER SERVING</span>
                        <div class="button-container">
                            <input type="hidden" class="hidden-field" value="0">
                            <a href="#!" class="btn btn-small-primary medium-green add-meal" data-id="">ADD</a>
                            <input type="button" class="removeItemButton" value="&#8211"> 
                        </div>
                        <div class="add-meal-message"><span></span> servings added to cart</div>
                    </div>
                </div>
                <div class="selected-menu">
                    <div class="meal-image-wrapper">
                        <img src="" class="thumbnail">
                        <div class="meal-overlay">
                            <p class="upper-line">
                                <span></span>
                                SERVINGS
                            </p>
                            <p class="lower-line">
                                ADDED TO CART
                            </p>
                        </div>    
                    </div>
                    <div class="contents">
                        <span class="h0 menu-header meal-name"></span>
                        <div class="button-hr-container">
                            <hr>
                            <a href="#!" class="btn btn-small-primary medium-green add-meal">ADD</a>
                            <input type="button" class="removeItemButton" value="&#8211">
                        </div>
                        <span class='price'></span>
                    </div>
                </div>
                <div id="meal-tabs">
                    <div class='meal-tab-container'>
                        <ul>
                            <li><a class='pc-tab activeli' href="#details">DETAILS</a></li>
                            <li><a class='pc-tab' href="#preparation">PREPARATION</a></li>
                            <li><a class='pc-tab' href="#allYouNeed">ALL YOU  NEED</a></li>
                            <li><a class='pc-tab' href="#ingredients">INGREDIENTS</a></li>
                            <li><a class='pc-tab' href="#tips-and-tricks">TIPS & TRICKS</a></li>
                            <li><a class='pc-tab' href="#nutrients">NUTRITION</a></li>
                            <li><a class='pc-tab' href="#reviews">REVIEWS</a></li>
                        </ul>
                    </div>
                    <div id="details">
                        <div class="mobile-tab-header-container">
                            <div class="left-arrow">
                                <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                            </div>
                            <div class="mobile-tab-header">
                                <span>DETAILS</span>
                            </div>
                            <div class="right-arrow">
                                <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                            </div>
                        </div>
                        <div class='details-part-1'>
                            <img class='thumbnail' src='' />
                        </div>
                        <div class='details-part-2'>
                            <div class="meal-full-details">
                                <div class="icons-container1">
                                    <div class="details-content">
                                        <span class='upper-content' id="saved-time"></span>
                                        <span class='lower-content'>Minutes</span>
                                    </div>
                                    <div class="details-content">
                                        <span class='upper-content' id="calories"></span>
                                        <span class='lower-content'>Calories</span>
                                    </div>
                                    <div class="details-content">
                                        <span class='upper-content'><img src="../images/serves-two.png"></span>
                                        <span class='lower-content'>Serves 2</span>
                                    </div>
                                </div>
                                <div class="icons-container2"></div>
                            </div>
                            <hr class="meal-details-hr">
                            <div class='details-description'>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="currentpage " id="preparation">
                        <div class="container">
                            <div class="mobile-tab-header-container">
                                <div class="left-arrow">
                                    <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                                <div class="mobile-tab-header">
                                    <span>PREPARATION</span>
                                </div>
                                <div class="right-arrow">
                                    <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                            </div>
                            <div class="list-container">
                                <span class="list-header">
                                    ALL YOU'LL BE DOING:
                                </span>
                                <span class="sub-header preparation-time">
                                </span>
                                <ul class='user-to-do'></ul>
                            </div>
                            <div class="list-container">
                                <span class="list-header">
                                    WHAT WE'VE PREPPED:
                                </span>
                                <span class="sub-header saved-time">
                                </span>
                                <ul class='finished-preparation'></ul>
                            </div>
                        </div>
                    </div>
                    <div class="currentpage" id="allYouNeed">
                        <div class="container">
                            <div class="mobile-tab-header-container">
                                <div class="left-arrow">
                                    <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                                <div class="mobile-tab-header">
                                    <span>ALL YOU NEED</span>
                                </div>
                                <div class="right-arrow">
                                    <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                            </div>
                            <div class="image-container">
                                <img class='pre-requisities-image' src="">
                            </div>
                            <div class="list-container">
                                <span class="list-header">
                                    FROM YOUR KITCHEN:
                                </span>
                                <ul class='pre-requisities'></ul>
                            </div>
                        </div>
                    </div>
                    <div class="currentpage" id="ingredients">
                        <div class="container">
                            <div class="mobile-tab-header-container">
                                <div class="left-arrow">
                                    <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                                <div class="mobile-tab-header">
                                    <span>INGREDIENTS</span>
                                </div>
                                <div class="right-arrow">
                                    <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                            </div>
                            <div class="image-container">
                                <img class='ingredients-image' src="">
                            </div>
                            <div class="list-container">
                                <span class="list-header">
                                    IN THE BOX:
                                </span>
                                <ul class='ingredients'></ul>
                            </div>
                        </div>
                    </div>
                    <div class="currentpage" id="tips-and-tricks">
                        <div class="mobile-tab-header-container">
                            <div class="left-arrow">
                                <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                            </div>
                            <div class="mobile-tab-header">
                                <span>TIPS & TRICKS</span>
                            </div>
                            <div class="right-arrow">
                                <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="currentpage" id="nutrients">
                        <div class="container">
                            <div class="mobile-tab-header-container">
                                <div class="left-arrow">
                                    <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                                <div class="mobile-tab-header">
                                    <span>NUTRITION</span>
                                </div>
                                <div class="right-arrow">
                                    <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                            </div>
                            <div class="table-container">
                                <table id="nutrient-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>PER SERVING</th>
                                            <th>% DAILY VALUE</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="text-container">
                                <span class="sub-header">
                                    FOOD ALLERGY NOTICE:
                                </span>
                                <span class="description">
                                    Our meals are prepared in kitchen whose environment contains nuts and gulton.Though best practices are used when preparing the meal, In advertent cross-contamination may occur.We cannot guarantee the complete absence of allergens.
                                </span>
                                <span class="sub-description">
                                    We strive to serve generous portion sizes and each meal is packed by hand. Actual serving size may vary. Percent Daily Values are based on a 2000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="reviews">
                        <div class="container">
                            <div class="mobile-tab-header-container">
                                <div class="left-arrow">
                                    <a class="prev-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                                <div class="mobile-tab-header">
                                    <span>REVIEWS</span>
                                </div>
                                <div class="right-arrow">
                                    <a class="next-tab" href="#"><img src="../images/back-arrow-mobile.png" /></a>
                                </div>
                            </div>
                            <div class="review-message">No one's reviewed this meal yet.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrapper">
        <div class="bk-overlay"></div>
        <div class="popup">
            <div class="header"></div>
            <div class="popup-container">
                <div class="content">
                    <span>SOMTHING WENT WRONG</span>
                </div>
                <div class="button">
                    <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/jquery-ui.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/meal_details.js'></script>
</body>

</html>
