<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">

</head>

<body>
    <div id="mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <span class="count">0</span>
                    <img src="../images/cart_icon.png">
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li>
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                    </ul>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
        <div class="contentWrapper">
            <div class="subMenuHeader">

            </div>
            <div class="subMenu body-text-bold">
                <div class="contentArea">
                    <ul class="pullLeft">
                        <li><a href="#" class="activeOption">SHOW ALL</a></li>
                        <li><a href="#">MAINS</a></li>
                        <li><a href="#">PASTAS</a></li>
                        <li><a href="#">SALADS</a></li>
                    </ul>
                    <a href="#" class="subMenuFilter">FILTER</a>
                </div>
            </div>
            <div class="contentArea">
                    <div class="listContainer">
                        <div class="listItems">
                            <img src="../images/1.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/2.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Free Range Chicken Breasts, Bell Peppers, Zuchinni and Breadcrumbs.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/3.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/4.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/5.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Free Range Chicken Breasts, Bell Peppers, Zuchinni and Breadcrumbs.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/6.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/7.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/8.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Free Range Chicken Breasts, Bell Peppers, Zuchinni and Breadcrumbs.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                        <div class="listItems">
                            <img src="../images/9.png" class="thumbnail">
                            <section class="listItemDetails">
                                <span class="pullLeft menuItemName body-text-bold">LANCASTER FARM BURGER</span>
                                <span class="pullRight itemCost body-text-bold">$12</span>
                            </section>
                            <section class="listItemDetails">
                                <span class="menuItemDetails caption">Brioche Bun, Avocado, Tomato, Red Onions.</span>
                                <span><a href="#" class="btn btn-small-primary medium-green addItemButton">ADD</a></span>
                            </section>
                        </div>
                    </div>
            </div>
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                        <span>SOMTHING WENT WRONG</span>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <footer id="footer">
                        <div class="footerContent">
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="">Contact</a>
                                </li>
                                <li>
                                    <a href="">Privacy & Terms</a>
                                </li>
                                <li >
                                    <a href="">Help</a>
                                </li>
                            </ul>
                        </div>
    </footer>
    
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/menu.js'></script>
</body>

</html>