
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish -Menu Page</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>

<body>
    <div id="mainWrapper" class='menu-wrapper'>
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo logo-tab" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <a href="checkout.html">
                        <span class="count"></span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="logo-mobile-container">
                    <a href="../index.html">
                        <img class="pullLeft logo-mobile" src="../images/logo.png" alt="MeisterDish">
                        <h3>MENU</h3>
                    </a>
                </div>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="../index.html">HOME</a>
                        </li>
                        <li class="bold green">
                            <a href="menu.html">MENU</a>
                        </li>
                        <li>
                            <a href="How_it_works.html">HOW IT WORKS</a>
                        </li>
                        <li class="login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                <a href="">CONTACT</a>
                                </li>
                                <li>
                                <a href="">PRIVACY & TERMS</a>
                                </li>
                                <li >
                                <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li class="bold green">
                        <a href="menu.html">MENU</a>
                    </li>
                    <li>
                        <a href="How_it_works.html">HOW IT WORKS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class="subMenu body-text-bold">
                <div class="contentArea category-wrapper">
                    <div class='category-header'>
                        <h4 class='mobile-categoreis'>ALL CATEGORIES</h4>
                        <div class="arrow-down pullRight"></div>
                    </div>
                    <ul class="pullLeft category-menu">
                        <li class='menu-categories-list  activeOption'><a href='#' class='menu-categories' data-id=''>Show All</a></li>
                    </ul>
                    <div class='filter-container pullRight'>
                        <ul class='filter-center'>
                            <li class='filter-menu-label'>
                                <div class='arrow-down pullRight'>
                                </div>
                                <a href="#!" class="subMenuFilter">FILTER</a>
                            </li>
                            <li class='filter-drop-down'>
                                <ul>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contentArea meal-area">
                <div class="menu-header"><h1>MENU</h1></div>
                <div class="listContainer" id='list-container'></div>
                <div class='menu-loading-gif'>
                    <h3>Loading...</h3>
                </div>
            </div>
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <span>SOMTHING WENT WRONG</span>
                        </div>
                        <div class="button">
                            <a class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footerContent">
            <ul class="footer-links">
                <li class="socialMedia" id="facebook"></li>
                <li class="socialMedia" id="twitter"></li>
                <li class="socialMedia" id="instagram"></li>
                <li class="socialMedia" id="pinterest"></li>
            </ul>
            <ul>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Privacy & Terms</a>
                </li>
                <li>
                    <a href="">Help</a>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
    <script type="text/javascript" src='../js/menu.js'></script>
</body>

</html>
