<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Reset Password Success</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/login_signup.css">
</head>

<body>
    <div id="account-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../index.html"><img class="pullLeft logo" src="../images/logo.png" alt="MeisterDish"></a>
                <div class="cart pullRight">
                    <a href="checkout.html">
                        <span class="count">0</span>
                        <img src="../images/cart_icon.png">
                    </a>
                </div>
                <span class="icon-menu pullRight"></span>
                <div class="logo-mobile-container">
                    <a href="index.html">
                        <img class="pullLeft logo-mobile" src="../images/logo.png" alt="MeisterDish">
                    </a>
                </div>
                <div class="navMenu" style="display:none">
                    <ul>
                        <li>
                            <a href="../index.html">HOME</a>
                        </li>
                        <li>
                            <a href="menu.html">THE MENU</a>
                        </li>
                        <li>
                            <a href="">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="">PARTNERS</a>
                        </li>
                        <li class="login-signup">
                            <a href="login.html">LOG IN</a>
                        </li>
                        <li class='login-signup'>
                            <a href="signup.html">SIGN UP</a>
                        </li>
                        <li id="navbar-username" class="bold green">
                            <a href='account.html'></a>
                        </li>
                    </ul>
                    <footer id="footer-navMenu">
                        <div class="footerContent">
                            <ul>
                                <li>
                                <a href="">CONTACT</a>
                                </li>
                                <li>
                                <a href="">PRIVACY & TERMS</a>
                                </li>
                                <li >
                                <a href="">HELP</a>
                                </li>
                            </ul>
                            <ul class="footer-links">
                                <li class="socialMedia" id="facebook"></li>
                                <li class="socialMedia" id="twitter"></li>
                                <li class="socialMedia" id="instagram"></li>
                                <li class="socialMedia" id="pinterest"></li>
                            </ul>
                        </div>
                    </footer>
                </div>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="menu.html">THE MENU</a>
                    </li>
                    <li>
                        <a href="">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li class="bold login-signup">
                        <a href="login.html">LOG IN</a>
                    </li>
                    <li class='login-signup'>
                        <a href="signup.html" class="btn btn-small-secondary">SIGN UP</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='account.html'></a>
                    </li>
                </ul>
            </div>   
        </header>
<div id="page-container" class='container-adjust'>
    <div class="signupfail-wrapper">
        <div class="signupfail-container ">
            <div class="header-small">
                <h4>SIGN UP</h4>
            </div>
            <div class="content">
                <span class="heading">THANKS FOR SIGNING UP</span>
                <div class="caption pullLeft">
                    <span>Unfortunately we're not in your area yet</span>
                    <span>Stay tuned, we're expanding fast, so we'll let you know</span>
                    <span>ass soon as we arrive in your neighbourhood</span>
                </div>
                <div class="menu-button">
                    <a href="menu.html" class="btn btn-large-secondary" id="menu-button">SEE THE MENU</a>
                </div>
            </div>     
        </div>
</div>
	<script type="text/javascript" src='../js/jquery.min.js'></script>
    <script type="text/javascript" src='../js/common.js'></script>
</body>

</html>