<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect_admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <script type="text/javascript" src='../../js/validate_session.js'></script>
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="#"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li class='admin-links'>
                        <a href="manage-delivery-areas.html">DELIVERY AREA</a>
                    </li>
                    <!-- <li class='admin-links'>
                       <a href="promocode.html">PROMOCODES</a>
                   </li>
                   <li class='admin-links'>
                       <a href="giftcards.html">GIFTCARDS</a>
                   </li> -->
                    <li class='admin-links'>
                        <a href="orderlist.html">ORDERS</a>
                    </li>
                    <li class="kitchen-links">
                        <a href="#">KITCHEN</a>
                    </li>
                    <li class='admin-links'>
                        <a href="meallist.html">MEALS</a>
                    </li>
                    <li class='admin-links'>
                        <a href="mealtype.html">MEAL TYPE</a>
                    </li>
                    <li class='admin-links'>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li class="bold admin-links">
                        <a href="categories.html">CATEGORIES</a>
                    </li>
                    <li id="navbar-username_hidden" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <div class="accountNav">
                    <div class="logout body-text-bold">
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="admin-page-container">
                    <div class="admin-header">
                        <h2>CATEGORIES MANAGEMENT</h2>
                    </div>
                    <table id='categories' cellpadding="10" width='100%'>
                        <thead>
                            <tr>
                                <th>Categories</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br>
                    <div class="admin-nav">
                        <a id="add-category" class="btn btn-small-primary medium-green">Add Categories</a>
                        <div class='pagination'></div>
                        <div class='add-status'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-category-container">
            <div class="bk-overlay"></div>
            <div class="popup">
                <div class="header">Add Categories</div>
                <div class="popup-container">
                    <form id="add-new-category">
                        <div class="popup-input-wrapper">
                            <input class='new-category' type='text' name="new_category" placeholder='Add Category'>
                        </div>
                        <div class="button">
                            <input type="submit" class="btn btn-small-secondary" id='add-confirm' value="Add">
                            </a>
                            <a href="#!" class="btn btn-small-secondary" id='add-cancel'>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="update-category-container">
            <div class="bk-overlay"></div>
            <div class="popup">
                <div class="header">UPDATE CATEGORY</div>
                <div class="popup-container">
                    <form id="update-category-form">
                        <div class="popup-input-wrapper">
                            <input class='new-category' name="update_category" data-id='' type='text' placeholder='Update Category'></input>
                        </div>
                        <div class="button">
                            <input type="submit" class="btn btn-small-secondary" id='update-confirm' value="Update">
                            <a href="#!" class="btn btn-small-secondary" id='update-cancel'>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="popup-wrapper">
            <div class="bk-overlay"></div>
            <div class="popup">
                <div class="header"></div>
                <div class="popup-container">
                    <div class="content">
                        <span>SOMTHING WENT WRONG</span>
                    </div>
                    <div class="button">
                        <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='js/jquery.simplePagination.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/categories.js'></script>
</body>

</html>
