<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect_admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="#"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="manage_delivery_areas.html">DELIVERY AREA</a>
                    </li>
                    <li>
                        <a href="orderlist.html">ORDERS</a>
                    </li>
                    <li>
                        <a href="meallist.html">MEALS</a>
                    </li>
                    <li>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li>
                        <a href="#">CATEGORIES</a>
                    </li>
                    <li id="navbar-username_hidden" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-createmeal-inner-wrapper'>
                <div class="accountNav">
                    <div class="logout body-text-bold">
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="create-meal-container">
                    <div class="create-meal-header">CREATE MEAL</div>
                    <form id="create-meal" class="section-container">
                        <div class="section-1">
                            <div class="section-header">DETAILS :</div>
                            <div class="content-1">
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Meal Name</label>
                                    <input type="text" name="mealname" class="create-meal-input" id="meal-name">
                                </div>
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Meal Sub Header</label>
                                    <textarea name="mealname" class="create-meal-input" id="meal-sub-name"></textarea>
                                </div>
                                <div class="meal-image-upload-container">
                                    <div>
                                    <img data-id='' id='meal-image' src='../../images/meal_default.jpg' />
                                    </div>
                                    <div class="fileUpload">
                                        <span class='upload-button'>UPLOAD MEAL IMAGE</span>
                                        <input id="meal-image-input" value="" type="file" name="image_upload">
                                    </div>
                                </div>
                            </div>
                            <div class="content-1">
                                <div class="text-area-container">
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Description</label>
                                        <textarea id="description" name= 'mealdescription' cols="70" rows="50"></textarea>
                                    </div>
                                </div>
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Price</label>
                                    <input type="text" name="mealprice" class="create-meal-input" id="meal-price">
                                </div>
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Tax</label>
                                    <input type="text" name="mealtax" class="create-meal-input" id="meal-tax">
                                </div>
                            </div>
                            <div class="content-1">
                                <div class="forminput-wrapper">
                                     <label class="body-text-small">Chef name</label>
                                    <input type="text" name="chef_name" class="create-meal-input" id="chef-name">
                                </div>
                                <div class="forminput-wrapper">
                                     <label class="body-text-small">Chef Comments</label>
                                    <input type="text" name="chef_comments" class="create-meal-input" id="chef-comments">
                                </div>
                                <div class="meal-image-upload-container">
                                    <div>
                                        <img data-id='' id='chef-image' src='../../images/chef_default.png' />
                                    </div>
                                    <div class="fileUpload">
                                        <span class='upload-button'>UPLOAD CHEF IMAGE</span>
                                        <input id="chef-image-input" type="file" name="image_upload" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="content-1">
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Available</label>
                                    <select name="available" id="create-meal-available">
                                        <option value>Available</option>
                                        <option value="1">yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Meal-category</label>
                                    <select name="category" id="create-meal-category">
                                        <option value disabled>Meal Category</option>
                                    </select>
                                </div>
                                <div class="forminput-wrapper">
                                    <label class="body-text-small">Meal Type</label>
                                    <select name="meal_type" id="create-meal-mealType" multiple>
                                       <option value disabled>Meal Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="section-2">
                            <div class="section-header">PREPARATION :</div>
                            <div class="content-1">
                                <div class="preperation-container-1">
                                    <div class="forminput-wrapper">
                                        <label class="body-text-small">Prep-Time</label>
                                        <input type="text" name="preperationtime" class="create-meal-input" id="meal-prep-time">
                                    </div>
                                    <div class="forminput-wrapper">
                                         <label class="body-text-small">All you will be doing</label>
                                        <input type="text"class="create-meal-input" id="preparation-id-1">
                                    </div>
                                    <input type="button" class="add-preparation-button" value="add">
                                    <span><h3>ALL YOU WILL BE DOING:</h3></span>
                                    <div class="list-container">
                                        <ul></ul>
                                    </div>
                                </div>
                                <div class="preperation-container-2">
                                    <div class="forminput-wrapper">
                                    <label class="body-text-small">Saved-Time</label>
                                    <input type="text" name="savedtime" class="create-meal-input" id="meal-saved-time">
                                    </div>
                                    <div class="forminput-wrapper">
                                     <label class="body-text-small">What we have prepared</label>
                                    <input type="text"class="create-meal-input" id="preparation-id-2">
                                    </div>
                                    <input type="button" class="add-preparation-button" value="add">
                                    <span><h3>WHAT WE HAVE PREPPED:</h3></span>
                                    <div class="list-container">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-3">
                            <div class="section-header">ALL YOU NEED:</div>
                            <div class="content-1">
                                <div class="pre-requisties-container">
                                     <div class="forminput-wrapper">
                                    <label class="body-text-small">Pre-requisties</label>
                                    <input type="text" class="create-meal-input" id="pre-requisties">
                                    </div>
                                    <input type="button" class="add-list-button" value="add">
                                    <span><h3>FROM YOUR KITCHEN:</h3></span>
                                    <div class="list-container">
                                        <ul></ul>
                                    </div>
                                </div>
                                <div class='img-container'>
                                    <img data-id='' id='kitchen-image' src='../../images/pre_requisites_default.png' />
                                </div>
                                <div class="fileUpload">
                                    <span class='upload-button'>UPLOAD IMAGE</span>
                                    <input id="kitchen-image-input" type="file" name="image_upload" multiple>
                                </div>
                            </div>
                        </div>
                        <div class="section-4">
                            <div class="section-header">INGREDIENTS</div>
                            <div class="content-1">
                                <div class="ingredients-container">
                                     <div class="forminput-wrapper">
                                    <label class="body-text-small">Ingredients</label>
                                    <input type="text" class="create-meal-input" id="ingredients">
                                    </div>
                                    <input type="button" class="add-list-button" id="add-ingredients" value="add">
                                    <span><h3>IN THE BOX :</h3></span>
                                    <div class="list-container">
                                        <ul></ul>
                                    </div>
                                </div>
                                <div class='img-container'>
                                    <img data-id='' id='ingredients-image' src='../../images/ingredients_default.png' />
                                </div>
                                <div class="fileUpload">
                                    <span class='upload-button'>UPLOAD IMAGE</span>
                                    <input id="ingredients-image-input" type="file" name=
                                    "image_upload" multiple>
                                </div>
                            </div>
                        </div>
                        <div class="section-5">
                            <div class="section-header">NUTRITION</div>
                            <div class="content-1">
                                <div class="input-feild-container">
                                     <div class="forminput-wrapper">
                                        <label class="body-text-small">Nutrients</label>
                                        <input type="text"class="create-meal-input" id="nutrients">
                                    </div>
                                     <div class="forminput-wrapper">
                                         <label class="body-text-small">Per serving</label>
                                        <input type="text"class="create-meal-input" id="nutrients-per-serving">
                                    </div>
                                     <div class="forminput-wrapper">
                                         <label class="body-text-small">%Daily value</label>
                                        <input type="text"class="create-meal-input" id="nutrients-daily-value">
                                    </div>
                                    <input type="button" class="add-nutrition-content" value="add">
                                </div>
                            </div>
                            <div class="content-1 nutrients-total"></div>
                        </div>
                        <div class="section-6">
                            <div class="section-header">TIPS & TRICKS</div>
                            <div class="content-1">
                                <div class="tips-container">
                                        <div class="forminput-wrapper">
                                            <label class="body-text-small">Video URL</label>
                                            <input type="text" class="create-meal-input" id="tips-video-url">
                                            <label id="tips-video-url-label-error">Invalid video URL</label>
                                        </div>
                                        <div class="forminput-wrapper">
                                            <label class="body-text-small">Title</label>
                                            <input type="text" class="create-meal-input" id="tips-and-tricks">
                                            <label id="tips-and-tricks-label-error">Invalid title</label>
                                        </div>
                                        <input type="button" id="add-tips-main" value="add">
                                </div>
                            </div>
                            <div class="content-1">
                                <table id="tips-and-tricks-table">
                                    <thead>
                                        <tr>
                                            <th>VIDEO URL</th>
                                            <th>TIPS&TRICKS</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="create-button-container">
                            <input type="submit" class="btn btn-large-primary medium-green" id="create-meal-button" value="SAVE">
                        </div>
                    </form>
                </div>
            </div>
            <div class="nutrients-popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <div class="input-wrapper">
                                <label class="body-text-small">Nutrients</label>
                                <input class="popup-input" type="text" id="sub-nutrients">
                            </div>
                            <div class="input-wrapper">
                                <label class="body-text-small">Per Serving</label>
                                <input class="popup-input" type="text" id="sub-per-serving">
                            </div>
                            <div class="input-wrapper">
                                <label class="body-text-small">%Daily Value</label>
                                <input class="popup-input" type="text" id="sub-daily-value">
                            </div>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-small-secondary" id="save-nutrients">SAVE</a>
                            <a href="#" class="btn btn-small-secondary" id="cancel-nurient-popup">CANCEL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='tips-tricks-wrapper'>
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                            <div class="input-wrapper">
                                <label class="body-text-small">Tips and Tricks</label>
                                <input class="popup-input" type="text" id="tips_tricks_content">
                            </div>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-small-secondary" id="save-tips">SAVE</a>
                            <a href="#" class="btn btn-small-secondary" id="cancel-tips-popup">CANCEL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-wrapper">
                <div class="bk-overlay"></div>
                <div class="popup">
                    <div class="header"></div>
                    <div class="popup-container">
                        <div class="content">
                        <span>SOMTHING WENT WRONG</span>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/jquery-ui.min.js'></script>
    <script type="text/javascript" src='../../js/jquery.fileupload.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/create_meal.js'></script>
</body>

</html>
