<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../../index.html"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Profile Image</th>
                            <th>Id</th>
                            <th>Credits</th>
                            <th>Is Admin</th>
                            <th>Email</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Profile Image</th>
                            <th>Id</th>
                            <th>Credits</th>
                            <th>Is Admin</th>
                            <th>Email</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/jquery.dataTables.min.js'></script>
    <script type="text/javascript" src='js/dashboard.js'></script>
    <!-- // <script type="text/javascript" src='js/datatable.pipelining.js'></script> -->
</body>

</html>
