<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Meisterdish - Admin</title>

    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="../../index.html"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
            </div>   
        </header>
        <div id="page-container">
            <div class="adminlogin-wrapper">
                <div class="adminlogin-container">
                    <div class="header-small">
                        <h4>ADMIN-LOGIN</h4>
                    </div>
                    <form id='admin-login' autocomplete="off" class="formcontainer">
                        <div class="form-wrapper">
                            <div class="input">
                                <label class="body-text-small" name="email">Email</label>
                                <input class="arrange" type="email" id="adminlogin-email"></input>
                            </div>
                            <div class="adminlogin-input" style="width:100%;padding-top:10px">
                                <label class="body-text-small" name="password">Password</label>
                                <input class="arrange" type="password" id="adminlogin-password"></input>
                            </div>
                        </div>
                        <div class="button">
                            <input class="btn btn-large-primary medium-green" type="Submit" id="login-button" value="LOGIN">
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
</body>

</html>