<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect-admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <script type="text/javascript" src='../../js/validate-session.js'></script>
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="#"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li class="bold admin-links">
                        <a href="manage-delivery-areas.html">DELIVERY AREA</a>
                    </li>
                    <li class='admin-links'>
                        <a href="promocode.html">PROMOCODES</a>
                    </li>
                    <li class='admin-links'>
                        <a href="giftcards.html">GIFTCARDS</a>
                    </li>
                    <li class='admin-links'>
                        <a href="orderlist.html">ORDERS</a>
                    </li>
                    <li class="kitchen-links">
                        <a href="#">KITCHEN</a>
                    </li>
                    <li class='admin-links'>
                        <a href="meallist.html">MEALS</a>
                    </li>
                    <li class='admin-links'>
                        <a href="mealtype.html">MEAL TYPE</a>
                    </li>
                    <li class='admin-links'>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li class='admin-links'>
                        <a href="categories.html">CATEGORIES</a>
                    </li>
                    <li class='admin-links'>
                        <a href="ingredients.html">INGREDIENTS</a>
                    </li>
                    <li id="navbar-username_hidden" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <div class="accountNav">
                    <div class="logout body-text-bold">
                        <form id='download-zips-form' action="" method="post">
                            <input type='hidden' name='session_key' />
                            <input type="submit" class="btn btn-small-primary medium-green download-csv" id="download-zip-unsupported-csv" value="DOWNLOAD ZIPS CSV">
                        </form>
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="admin-page-container">
                    <div class="admin-header">
                        <h2>MANAGE DELIVERY AREA</h2>
                    </div>
                    <div class="manage-area-container">
                        <div class="add-deliveryarea-wrapper">
                            <input type="button" class="btn btn-small-primary medium-green" value="Add zip" id="add-new-delivery-area">
                        </div>
                        <table id="delivery-area" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Delivery area</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="admin-nav">
                            <div class='pagination'></div>
                        </div>
                        <div class="popup-wrapper">
                            <div class="bk-overlay"></div>
                            <div class="popup">
                                <div class="header"></div>
                                <div class="popup-container">
                                    <form id="manage-zip">
                                        <div class="content">
                                            <div class="popup-input-wrapper">
                                                <label class="body-text-small">New Zip:</label>
                                                <input type="text" class="popup-input" name="zip" id="new-address">
                                            </div>
                                        </div>
                                        <div class="button">
                                            <input type="submit" class="btn btn-small-secondary" id="add-edit-button" value="">
                                            <a href="#!" class="btn btn-small-secondary" id="close">CLOSE</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="popup-message">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="confirm-popup-wrapper">
                            <div class="bk-overlay"></div>
                            <div class="popup">
                                <div class="header">CONFIRM</div>
                                <div class="popup-container">
                                    <div class="content">
                                        <span>Are you sure want to delete this?</span>
                                    </div>
                                    <div class="button">
                                        <a href="#!" class="btn btn-small-secondary" id="yes-button">YES
                                        </a>
                                        <a href="#!" class="btn btn-small-secondary" id="no-button">NO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='js/jquery.simplePagination.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax-reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/manage-delivery-area.js'></script>
</body>

</html>
