<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect_admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="../../index.html"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="manage_delivery_areas.html">DELIVERY AREA</a>
                    </li>
                    <li>
                        <a href="promocode.html">PROMOCODES</a>
                    </li>
                    <li>
                        <a href="giftcards.html">GIFTCARDS</a>
                    </li>
                    <li>
                        <a href="orderlist.html">ORDERS</a>
                    </li>
                    <li class="bold">
                        <a href="#">MEALS</a>
                    </li>
                    <li>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li>
                        <a href="categories.html">CATEGORIES</a>
                    </li>
                    <li id="navbar-username_hidden" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <div class="accountNav">
                    <div class='create-meal-wrapper'>
                        <a href="create_meal.html">
                            <input type="button" class="btn btn-small-primary medium-green" id="createMeals" value="Create Meal">
                        </a>
                    </div>
                    <div class="logout body-text-bold">
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="admin-page-container">
                    <div class="admin-header">
                        <h2>MEAL LIST</h2>
                    </div>
                    <div class="meal-list-container">
                        <div class="filter-container">
                            <select name="category" id="category" class="meallist-select">
                                <option value="" selected>Category</option>
                            </select>
                            <select name="meal-type" id="meal-type" class="meallist-select" multiple>
                                <option value="" selected>Meal-type</option>
                            </select>
                            <input type="text" placeholder="Search by name" id="searchBy-name" />
                            <input type="button" class="btn btn-small-primary medium-green" id="searchinMeal" value="SEARCH">
                        </div>
                        <table id="meal-list" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Availability</th>
                                    <th>Category</th>
                                    <th>Meal Type</th>
                                    <th>Price</th>
                                    <th>Delete</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                     <div class="admin-nav">
                        <div class='pagination'></div>
                        <div class='add-status'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='js/jquery.simplePagination.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/meal_list.js'></script>
</body>

</html>
