<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect_admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea adminContentArea">
                <a href="../../index.html"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="manage_delivery_areas.html">DELIVERY AREA</a>
                    </li>
                    <li>
                        <a href="promocode.html">PROMOCODES</a>
                    </li>
                    <li>
                        <a href="giftcards.html">GIFTCARDS</a>
                    </li>
                    <li class="bold">
                        <a href="#">ORDERS</a>
                    </li>
                    <li>
                        <a href="meallist.html">MEALS</a>
                    </li>
                    <li>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li>
                        <a href="categories.html">CATEGORIES</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <div class="accountNav">
                    <div class="logout body-text-bold">
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="admin-page-container">
                    <div class="admin-header">
                        <h2>ORDER LIST</h2>
                    </div>
                    <div class="order-list-container">
                        <div class="filter-container">
                            <div class='search-filters'>
                                <label for="user-name">Username</label>
                                <input type="text" id="user-name" />
                            </div>
                            <div class='search-filters'>
                                <label for="user-name">Order Number</label>
                                <input type="text" id="order-num" />
                            </div>
                            <div class='search-filters'>
                                <label for="user-name">Phone Number</label>
                                <input type="text" id="phone-num" />
                            </div>
                            <div class='search-filters'>
                                <label for="user-name">Date</label>
                                <input type="date" id="date" />
                            </div>
                            <div class="search-filters">
                                <label for="user-name">Total amount</label>
                                <input type="text" id="total-amount" />
                            </div>
                            <div class='search-filters'>
                                <label for="user-name">Status</label>
                                <select id="order-status-filter" name="status">
                                    <option value="">Select Status Filter</option>
                                        <option value='0'>Incomplete</option>
                                        <option value='1'>Order placed</option>
                                        <option value='2'>Confirmed</option>
                                        <option value='3'>Dispatched</option>
                                        <option value='4'>Complete</option>
                                </select>
                            </div>
                            <input type="button" class="btn btn-small-primary medium-green" id="search-orders" value="SEARCH">
                        </div>
                        <table id="order-list" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Username</th>
                                    <th>Phone Number</th>
                                    <th>Date & Time</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class='order-list-empty'>Order List is Empty</div>
                    </div>
                    <div class="admin-nav">
                        <div class='pagination'></div>
                        <div class='add-status'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='order-detail-popup'>
            <div class="accordion-header">
                <h4 class='order-num'></h4>
                <h4 class="order-status-message"></h4>
                <img class="remove" src="../../images/cross_black.png">
            </div>
            <div class="accordion-content body-text-small">
                <div class="row">
                    <div class="accordion-subcontent">
                        <div class="order-head">NAME</div>
                        <div class="order-content order-name">Abdul Nasar</div>
                    </div>
                    <div class="accordion-subcontent">
                        <div class="order-head">ORDER DATE</div>
                        <div class="order-content order-date">12/12/2015</div>
                    </div>
                    <div class="accordion-subcontent">
                        <div class="order-head">SHIPPING INFORMATION</div>
                        <div class="order-content order-address">
                            <span class='building'></span>
                            <span class='street'></span>
                            <span class='city-state'></span>
                            <span class='zip'></span>
                        </div>
                    </div>
                    <div class="accordion-subcontent">
                        <div class="order-head">ORDER TOTAL</div>
                        <div class="order-content order-total"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="accordion-subcontent">
                        <div class="order-head">PAYMENT TYPE</div>
                        <div class="order-content order-payment_type"></div>
                    </div>
                    <div class="accordion-subcontent">
                        <div class="order-head">PAYMENT DATE</div>
                        <div class="order-content order-payment_date"></div>
                    </div>
                    <div class="accordion-subcontent">
                        <div class="order-head">TRANSACTION ID</div>
                        <div class="order-content order-transaction_id"></div>
                    </div>
                </div>
                <div class="order-meal">
                    <div class="order-list-header">
                        <span class="content-heading">ITEMS</span>
                        <span class="content-heading">QUANTITY</span>
                        <span class="content-heading">PRICE</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='js/jquery.simplePagination.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/order_list.js'></script>
</body>

</html>
