<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meisterdish - Admin</title>
    <script type="text/javascript" src='js/redirect_admin.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="admin-mainWrapper">
        <header id="header">
            <div class="contentArea">
                <a href="../../index.html"><img class="pullLeft logo" src="../../images/logo.png" alt="MeisterDish">
                </a>
                <ul id="menu" class="pullRight">
                    <li>
                        <a href="manage_delivery_areas.html">DELIVERY AREA</a>
                    </li>
                    <li class="bold">
                        <a href="giftcards.html">GIFTCARDS</a>
                    </li>
                    <li>
                        <a href="orderlist.html">ORDERS</a>
                    </li>
                    <li>
                        <a href="#">MEALS</a>
                    </li>
                    <li>
                        <a href="userlist.html">USERS</a>
                    </li>
                    <li>
                        <a href="categories.html">CATEGORIES</a>
                    </li>
                    <li id="navbar-username" class="bold green">
                        <a href='../account.html'></a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-container">
            <div class='admin-inner-wrapper'>
                <div class="accountNav">
                    <div class='create-meal-wrapper'>
                    </div>
                    <div class="logout body-text-bold">
                        <a id='logout'>LOG OUT</a>
                    </div>
                </div>
                <div class="admin-page-container">
                    <div class="admin-header">
                        <h2>PROMOCODES LIST</h2>
                    </div>
                    <div class="meal-list-container">
                        <table id="promocodes-list" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class='promocodes-list-empty'>Gift Card list is Empty</div>
                    </div>
                    <div class="admin-nav">
                        <div class='pagination'></div>
                    </div>
                </div>
                <div class="popup-wrapper">
                    <div class="bk-overlay"></div>
                    <div class="popup popup-giftcard">
                        <div class="header"></div>
                        <form class="popup-container">
                            <div class="content">
                                <div class="popup-input-wrapper">
                                    <label class="body-text-small">Promo Code:</label>
                                    <input type="text" class="popup-input" id="new-code">
                                </div>
                                <div class="popup-input-wrapper">
                                    <label class="body-text-small">Date:</label>
                                    <input type="date" class="popup-input" id="new-date">
                                </div>
                                <div class="popup-input-wrapper">
                                    <label class="body-text-small">Amount:</label>
                                    <input type="number" class="popup-input" id="new-amount">
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" class="btn btn-small-secondary" id="edit-delivery-area" value="SUMBIT">
                                <input type="submit" class="btn btn-small-secondary" id="add-delivery-area" value="SUBMIT">
                                <a href="#" class="btn btn-small-secondary" id="update">UPDATE</a>
                                <a href="#" class="btn btn-small-secondary" id="close">CLOSE</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='../../js/jquery.min.js'></script>
    <script type="text/javascript" src='js/jquery.simplePagination.js'></script>
    <script type="text/javascript" src='../../js/jquery.validate.min.js'></script>
    <script type="text/javascript" src='../../js/ajax_reusable.js'></script>
    <script type="text/javascript" src='../../js/common.js'></script>
    <script type="text/javascript" src='js/admin.js'></script>
    <script type="text/javascript" src='js/promocode.js'></script>
</body>

</html>
