/*=======================*\
	   &ADMIN-LOGIN
\*=======================*/
input[type="text"], input[type="email"], input[type="password"]{
	color: black;
}
#admin-mainWrapper{
	width: 100%;
	border-right: 10px solid #fff;
	border-left: 10px solid #fff;
	float: left;
	background-color: #f1f1f1;
	min-height: 100%;
}
.adminlogin-wrapper{
	width: 400px;
  	margin: 0 auto;
    margin-top: 100px;
}
.admin-inner-wrapper{
	margin-top: 150px;
}
.header-small {
  border-bottom: 1px solid #D0D0D0;
  height: 46px;
  padding-left: 35px;
  background-color: #f7f7f7;
  color: #454545;
}
.adminlogin-container{
	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	margin-top: 40px;
	float: left;
	width: 100%;
	box-shadow: 0 0 4px #D3D3D3;
}
.adminlogin-container .formcontainer{
	padding-left: 35px;
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-right: 35px;
}
.adminlogin-container .form-wrapper{
	width: 65%;
	float: left;
	padding:15px 0px; 
}
.adminlogin-container .button{
	padding-bottom: 20px;
}
.logout{
	/*margin-left: 85%;*/
}


/*Category Page*/
.admin-inner-wrapper h2{
    text-align: center
}
#categories{
	margin-top: 50px;
}
#categories .update{
	float: right;
	margin-right: 10px;
}
table, th, td {
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-collapse: collapse;
    background-color:#f7f7f7;
    font-family: 'BrandonGrotesque-Regular';
}
tbody, thead{
	text-align: center;
}
.accountNav{
  width: 90%;
  margin: 0 auto;
  text-align: right;
}
.admin-nav{
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}
.pagination{
	float: right;
}
.add-category-container, .update-category-container{
  display: none;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  border-radius: 5px;
  background:rgb(247, 249, 249);
  text-align: center;
  height: auto;
  border: 1px solid black;
}
.add-category-inner-container{
	padding: 10px 0px;
}
.add-category-container input{
	margin-top: 10px;
	width: 80%;
	height: 35px;
}
.add-category-container button{
	width: 30%;
	height: 30px;
	margin-top: 10px;
}
.add-status{
  position: absolute;
  display: none;
  border-radius: 5px;
  width: 200px;
  padding: 11px;
  height: 50px;
  top: 110px;
  margin-left: -100px;
  left: 10%;
  text-align: center;
  border: 1px solid black;
}
.admin-page-container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border:1px solid #d0d0d0;
  border-radius: 3px;
  overflow: auto;
}
.admin-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #D0D0D0;
  border-radius: 3px 3px 0 0;
}
.admin-page-container table{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}
/*Userlist page*/
table#userlist{
  width: 90%;
  margin-top: 20px;

}
.status{
	background: #ccc;
  cursor: pointer;
  background-color:rgb(111, 108, 108);
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 5px 5px;  
  color: white;
}
.status.down{
	background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    background-color:green;
}

#userlist .cross{
  float: none;
}